﻿@model ZeonPropertiesListing.Models.M_User
@{
    //Html.Partial("_checkLogin");
    Layout = null;
}

<!DOCTYPE html>
<html lang="en-GB" prefix="og: http://ogp.me/ns#" class="no-js no-svg">


<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="icon" type="image/png" sizes="32x32" href="~/268dwd1kc4olus9tz8nx57nh-wpengine.netdna-ssl.com/wp-content/themes/eha-group/img/zeon_logo.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/268dwd1kc4olus9tz8nx57nh-wpengine.netdna-ssl.com/wp-content/themes/eha-group/img/zeon_logo.png">
    <title>Zeon Properties | Login</title>


    <link rel='stylesheet' id='contact-form-7-css' href='../268dwd1kc4olus9tz8nx57nh-wpengine.netdna-ssl.com/wp-content/plugins/contact-form-7/includes/css/styles33a6.css?ver=4.9' type='text/css' media='all' />
    <link rel='stylesheet' id='style-css' href='../268dwd1kc4olus9tz8nx57nh-wpengine.netdna-ssl.com/wp-content/themes/eha-group/css/style7bcd.css?ver=4.8.3' type='text/css' media='all' />
    <link rel='stylesheet' id='A2A_SHARE_SAVE-css' href='../268dwd1kc4olus9tz8nx57nh-wpengine.netdna-ssl.com/wp-content/plugins/add-to-any/addtoany.mind50e.css?ver=1.14' type='text/css' media='all' />
    <script type='text/javascript' src='../268dwd1kc4olus9tz8nx57nh-wpengine.netdna-ssl.com/wp-includes/js/jquery/jqueryb8ff.js?ver=1.12.4'></script>






    <script type="text/javascript" src="../static.addtoany.com/menu/page.js" async="async"></script>
    <style type="text/css" id="wp-custom-css">
        a:link {
            color: #DB1F1F;
        }

        /* unvisited link */

        a:visited {
            color: #DB1F1F;
        }

        /* visited link */

        a:hover {
            color: #DB1F1F;
        }

        /* mouse over link */

    </style>

    <style>
        .loginsection_wrap {
            background: rgba(255, 255, 255, 0.9);
            border-radius: 5px;
        }
    </style>
</head>

<body class="home page-template page-template-templates page-template-temp-homepage page-template-templatestemp-homepage-php page page-id-32">
    <div id="preloader">

        <div class="text">
            <img src="~/268dwd1kc4olus9tz8nx57nh-wpengine.netdna-ssl.com/wp-content/themes/eha-group/img/CNY_Zeon.png" style="height: 120px; width:250px;" />
        </div>
    </div>
    <div id="page-wrapper" class="page-wrapper">
        <header id="site-header" class="clearfix">
            <div id="header-nav-wrapper" class="menu-wrap ">

                <nav class="site-nav">
                    <div class="d-table inner-wrapper">
                        <div class="d-cell vam ">
                            <div class="menu-main-menu-container">
                                <ul id="menu-main-menu" class="nav-list">

                                    <li id="menu-item-28" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-28"><a href='@Url.Action("Index", "Search")' style="color:#ed2024">Listings</a></li>
                                    @{



                                        var getroute2 = Url.RouteUrl(ViewContext.RouteData.Values);
                                        if (getroute2 == "/" || getroute2 == "/Authenticate/Login" || getroute2 == "/Search/Index")
                                        {

                                        }
                                        else
                                        {
                                            <li id="menu-item-27" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-27"><a href="~/Listing/Create" style="color:#ed2024">Create</a></li>
                                            <li id="menu-item-27" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-27"><a href="~/Listing/displayData" style="color:#ed2024">Dashboard</a></li>
                                            <li id="menu-item-26" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-26"><a href="~/Listing/myDraft" style="color:#ed2024">My Draft</a></li>



                                            if (string.IsNullOrEmpty(Session["isAdmin"] as string))
                                            {

                                            }
                                            else//if user is admin, not normal agent
                                            {

                                                <li id="menu-item-26" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-26"><a href="~/newProject/Index" style="color:#ed2024">New Project (BETA)</a></li>

                                            }

                                        }
                                    }
                                </ul>
                            </div>
                            <ul class="clearfix nav-list social-list">
                                <li class="social-item">
                                    <a href="https://www.facebook.com/zeonproperties/" class="db" target="_blank" title="Facebook">
                                        <span class="social-icon">
                                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                 width="7.589px" height="14px" viewBox="0 0 7.589 14" enable-background="new 0 0 7.589 14" xml:space="preserve">
<path fill="#FFFFFF" d="M7.337,0H5.503C3.476,0,2.124,1.352,2.124,3.428v1.593H0.29C0.145,5.021,0,5.166,0,5.31v2.318
	c0,0.145,0.145,0.29,0.29,0.29h1.834v5.793c0,0.145,0.145,0.29,0.29,0.29h2.365c0.145,0,0.291-0.145,0.291-0.29V7.918h2.123
	c0.145,0,0.291-0.145,0.291-0.29V5.31c0-0.096-0.049-0.145-0.097-0.193C7.338,5.069,7.242,5.021,7.193,5.021H5.07V3.669
	c0-0.628,0.144-0.965,1.014-0.965h1.207c0.144,0,0.29-0.145,0.29-0.29V0.29C7.627,0.097,7.483,0,7.337,0z" />





</svg>
                                        </span>
                                    </a>
                                </li>
                                <li class="social-item">
                                    <a href="https://twitter.com/zeonproperties?lang=en" class="db" target="_blank" title="Twitter">
                                        <span class="social-icon">
                                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                 width="13.206px" height="11px" viewBox="0 0 13.206 11" enable-background="new 0 0 13.206 11" xml:space="preserve">
<path fill="#FFFFFF" d="M12.083,2.744L12.083,2.744c-0.117,4.764-3.098,8.055-7.629,8.249C2.595,11.071,1.239,10.451,0,9.754
	c1.355,0.194,3.098-0.31,4.027-1.123C2.672,8.515,1.859,7.818,1.433,6.656c0.426,0.116,0.813,0,1.123,0
	C1.316,6.23,0.503,5.533,0.387,3.867c0.31,0.194,0.735,0.31,1.123,0.31C0.619,3.674,0,1.699,0.735,0.459
	C2.091,1.892,3.717,3.132,6.39,3.364C5.654,0.459,9.604-1.09,11.153,0.885c0.697-0.116,1.239-0.426,1.743-0.62
	c-0.194,0.736-0.62,1.123-1.123,1.549c0.504-0.116,1.046-0.194,1.433-0.426C13.09,1.892,12.587,2.318,12.083,2.744" />





</svg>
                                        </span>
                                    </a>
                                </li>

                                <li class="social-item">
                                    <a href="https://www.instagram.com/zeon.properties.group/?hl=en" class="db" target="_blank" title="Instagram">
                                        <span class="social-icon">
                                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                 width="12.814px" height="12.523px" viewBox="0 0 12.814 12.523" enable-background="new 0 0 12.814 12.523" xml:space="preserve">
<path fill="#FFFFFF" d="M12.814,10.126c0,1.322-1.071,2.397-2.388,2.397H2.388C1.071,12.523,0,11.448,0,10.126V4.951h3.559
	C2.802,5.692,2.33,6.723,2.33,7.863c0,2.248,1.829,4.077,4.077,4.077s4.077-1.829,4.077-4.077c0-1.14-0.472-2.172-1.229-2.912h3.559
	L12.814,10.126L12.814,10.126z M6.407,11.331c-1.912,0-3.468-1.556-3.468-3.468s1.556-3.468,3.468-3.468s3.468,1.556,3.468,3.468
	S8.319,11.331,6.407,11.331z M6.407,5.215c-1.46,0-2.648,1.188-2.648,2.648s1.188,2.648,2.648,2.648s2.648-1.188,2.648-2.648
	S7.868,5.215,6.407,5.215z M10.426,0H2.475v3.204H2.093V0.018C2.027,0.026,1.963,0.037,1.899,0.051v3.153H1.516V0.165
	C1.449,0.192,1.384,0.221,1.32,0.254v2.95H0.937V0.494C0.368,0.933,0,1.623,0,2.397v1.971h4.318C4.93,4.001,5.643,3.786,6.407,3.786
	s1.477,0.215,2.089,0.582h4.318V2.397C12.814,1.075,11.743,0,10.426,0z M11.358,3.029c0,0.096-0.078,0.175-0.175,0.175H9.785
	c-0.096,0-0.175-0.078-0.175-0.175V1.631c0-0.096,0.078-0.175,0.175-0.175h1.398c0.096,0,0.175,0.078,0.175,0.175V3.029z" />





</svg>
                                        </span>
                                    </a>
                                </li>
                            </ul>

                            <div class="contact-info hidden-xs">
                                <ul class="nav-list">
                                    <li class="contact-item">
                                        <span class="fw-700">Phone: +604 296 6998</span>
                                    </li>
                                    <li class="contact-item">
                                        <span class="fw-700">Hotline 1: +6012-443 8888 (Malaysia)</span>
                                    </li>
                                    <li class="contact-item">
                                        <a href="mailto:info@zeon.com.my" class="db">info@zeon.com.my</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </nav>

                <div class="morph-shape" id="morph-shape" data-morph-open="M-1,0h101c0,0,0-1,0,395c0,404,0,405,0,405H-1V0z">
                    <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 100 800" preserveAspectRatio="none">
                        <path d="M-1,0h101c0,0-97.833,153.603-97.833,396.167C2.167,627.579,100,800,100,800H-1V0z" />
                    </svg>
                </div>
            </div>
            <div class="logo-wrap header-logo-wrap">
                <button class="menu-button" id="main-menu-btn">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <a href='@Url.Action("Index", "Home")' id="site-logo" class="site-logo" style="padding-bottom:70px;">
                    <img class="db" src="~/268dwd1kc4olus9tz8nx57nh-wpengine.netdna-ssl.com/wp-content/themes/eha-group/img/CNY_Zeon.png" style="height:60px; width:130px;" />
                </a>
            </div>
            @*@{

                    var getroute = Url.RouteUrl(ViewContext.RouteData.Values);
                    if (getroute == "/" || getroute == "/Authenticate/Login" || getroute == "/Search/Index")
                    {

                    }

                    else
                    {
                        using (Html.BeginForm("Logout", "Authenticate"))
                        {
                            <label>Hi</label> @Session["loginUsrName"]
                            <button class="btn btn-secondary my-2 my-sm-0 projects-btn grid-btn header-grid-btn" type="submit">Logout</button>

                                <span class="vam grig-btn-lbl hidden-xs">Projects</span>
                                <span class="vam grid-btn-icon">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </span>

                        }
                    }
                }*@

        </header>

        @using (Html.BeginForm(FormMethod.Post))
        {
            <div class="content-wrapper">

                <main id="site-main" role="main">

                    <div class="ajax" data-namespace="homepage">

                        <div id="lead-view" class="full-lead-view full-vh flexbox">
                            <div id="home-lead-slider">
                                <div data-background="../268dwd1kc4olus9tz8nx57nh-wpengine.netdna-ssl.com/wp-content/themes/eha-group/img/Mainpage_img/Zeon_MainPage_img(2).jpg"
                                     style="background-image: url('../268dwd1kc4olus9tz8nx57nh-wpengine.netdna-ssl.com/wp-content/themes/eha-group/img/Mainpage_img/Zeon_MainPage_img(2).jpg');"
                                     class="canvas-slide canvas-slide-1">Welcome to Zeon Properties.</div>
                                <div data-background="../268dwd1kc4olus9tz8nx57nh-wpengine.netdna-ssl.com/wp-content/themes/eha-group/img/Mainpage_img/Zeon_MainPage_img(3).jpg"
                                     style="background-image: url('../268dwd1kc4olus9tz8nx57nh-wpengine.netdna-ssl.com/wp-content/themes/eha-group/img/Mainpage_img/Zeon_MainPage_img(3).jpg');"
                                     class="canvas-slide canvas-slide-2">Welcome to Zeon Properties.</div>


                                <canvas id="home-lead-canvas"></canvas>
                            </div>
                            <div id="home-lead-title-wrapper">
                                <div class="container-fluid container-holder">
                                    <div class="col-md-4 loginsection_wrap">
                                        @*@Html.AntiForgeryToken()*@
                                        <br />
                                        <br />

                                        <div class="panel-heading">
                                            <input name="usrnameid" type="text" placeholder="UserID or Email" class="form-control" />
                                            <br />
                                            <input name="usrpw" type="password" placeholder="Password" class="form-control" />
                                            <br />
                                            <label></label>
                                            <label></label>
                                            <label></label>
                                            <div style="display:none">
                                                @Html.Label("Remember Me ", htmlAttributes:
                                                    new { style = "margin-left: -11px;", @class = "control-label" })

                                                <input type="checkbox" name="rememberme" value="chck" checked />
                                            </div>
                                            <a href="https://agents.zeon.com.my/Home/ForgotPassword" style="color:#4da6ff;">Forget Password?</a>
                                            <br />
                                            <div class="text-danger">  @Html.DisplayFor(model => model.LoginErrMessage)</div>
                                            <br />
                                            <input type="submit" name="loginbtn" value="Sign In" class="btn" style="width: 170px; height: 40px; background-color:#ed2024; border-radius:3px; border-color:#ed2024; color:#fff; display:inline-block; font-size:16px; " />

                                            <br />
                                            <br />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @*<nav class="lead-nav">
                                    <ul class="nav-list">
                                        <li class="nav-item"><a href='@Url.Action("Index","Search")' class="nav-link sm-animation barba-follow-link"><span class="btn-bg"></span><span class="btn-txt">ZEON Listings</span></a></li>
                                        <li class="nav-item"><a href='@Url.Action("Projects","Home")' class="nav-link sm-animation barba-follow-link"><span class="btn-bg"></span><span class="btn-txt">ZEON Projects</span></a></li>
                                    </ul>
                                </nav>*@
                        </div>




                        <!-- Content goes here -->

                    </div>
                </main>


            </div>
        }
        <!-- /content-wrapper -->

    </div>
    <!-- /page-wrapper -->

    <noscript>
        @*<meta http-equiv="refresh" content="0;URL=http://localhost:49932/Listing/NoJS" />*@

        <meta http-equiv="refresh" content="0;URL=http://42.1.63.244/Listing/NoJS" />


    </noscript>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDPlpNSyOrbqQXt32tujJUaeOWI1IpMwSQ"></script>







    <script type="text/javascript" defer src="../268dwd1kc4olus9tz8nx57nh-wpengine.netdna-ssl.com/wp-content/cache/autoptimize/js/autoptimize_412b542cec1b48682e7ac514fe0e12f1.js"></script>
</body>


</html>


