﻿@using ZeonPropertiesListing.Models;
@using PagedList;
@using PagedList.Mvc;
@model IPagedList <L_BlogTbl>

@{

    Layout = "~/Views/Shared/DashboardLayout.cshtml";
}

@*@{

        //Html.Partial("_checkLogin");
        ViewBag.Title = "displayData";

        int i = 1;


        if (Session["isAdmin"] == null || Session["isAdmin"] == "")// <- this method is not safe
        {

            //do nothing
            ViewBag.displayStyle = "notAdmin";
        }

        var blogauthor = Session["isAdmin"].ToString();
        if (blogauthor == "3")
        {
            ViewBag.BlogAuthor = "blogauthor";
        }
        else
        {

            var userId = Session["isAdmin"].ToString();
            if (userId == "1")
            {
                ViewBag.displayStyle = "";
            }
            else
            {
                ViewBag.displayStyle = "notAdmin";
            }
        }

    }*@

<br />
<br /> <br /> @* this, break *@

<div style="display:none">
    ID: @Session["isLoginID"], Position:  @Session["usrPosition"] ,Name: @Session["loginUsrName"], Contact: @Session["usrContact"],
    Admin: @Session["isAdmin"]

</div>


<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Required meta tags-->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="au theme template">
<meta name="author" content="Hau Nguyen">
<meta name="keywords" content="au theme template">
<!-- Title Page-->
<title>Dashboard</title>
<!-- Fontfaces CSS-->

<link href="~/CoolAdmin-master/css/font-face.css" rel="stylesheet" />
<link href="~/CoolAdmin-master/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/CoolAdmin-master/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" />
<link href="~/CoolAdmin-master/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" />

<!-- Bootstrap CSS-->
<link href="~/CoolAdmin-master/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" />


<!-- Vendor CSS-->
@*<link href="~/CoolAdmin-master/vendor/animsition/animsition.min.css" rel="stylesheet" />*@
<link href="~/CoolAdmin-master/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" />
<link href="~/CoolAdmin-master/vendor/wow/animate.css" rel="stylesheet" />
<link href="~/CoolAdmin-master/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" />
<link href="~/CoolAdmin-master/vendor/slick/slick.css" rel="stylesheet" />
<link href="~/CoolAdmin-master/vendor/select2/select2.min.css" rel="stylesheet" />
<link href="~/CoolAdmin-master/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" />


<!-- Main CSS-->
<link href="~/CoolAdmin-master/css/theme.css" rel="stylesheet" />
<style>
    td {
        font-size: 10px;
    }
</style>

<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>







<!-- MAIN CONTENT-->


<div class="page-wrapper">
    <div class="page-container">
        <div class="row" style="padding-top:20px" ;>

            @if (ViewBag.BlogAuthor == "blogauthor")//if user is normal agent
            {
                <div class="col-md-2">


                    <a href='@Url.Action("CreateBlog", "Listing")' class="btn btn-primary" style="background-color:orange; border-style:none;font-size:15px; width: 160px;height:45px;padding: 10px;"> Create Blog </a>


                </div>
            }




        </div>
        @using (Html.BeginForm("DisplayBlog", "Blog", FormMethod.Get))
        {


            <div class="main-content" style="padding-top:20px" ;>

                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8" style="padding-bottom:20px">

                        <div class="form-header" action="" method="POST">
                            @*search AdsTitle*@
                            @Html.TextBox("searchString", ViewBag.CurrentFilter as string,
                            new { @class = "form-control", placeholder = "Search by Blog Title", style = "height:45px; width:900px; font-size:17px;" })

                        </div>

                    </div>
                    <div class="col-md-2"></div>

                </div>

                <br />





                <div class="row">
                    <div class="col-md-5"></div>

                    <div class="col-md-2">
                        <button class="btn btn-success" type="submit" style="width:200px; height:45px; font-size:17px;">
                            Search
                        </button>
                    </div>

                    <div class="col-md-5"></div>
                </div>




                <br />




                <div class="row">
                    <div class="col-md-12">
                        <!-- DATA TABLE -->


                        <div class="table-responsive table-responsive-data2">
                            <table class="table table-data2">
                                <thead style="background-color:#fd0000bf">
                                    <tr>
                                        <th><label style="font-weight: bold;color:white">Blog ID</label></th>
                                        <th><label style="font-weight: bold;color:white">Blog Title</label></th>
                                        <th><label style="font-weight: bold;color:white">Created Date</label></th>
                                        <th><label style="font-weight: bold;color:white">Posted By</label></th>
                                        <th><label style="font-weight: bold;color:white">Edit</label></th>
                                        <th><label style="font-weight: bold;color:white">Delete</label></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.Count() > 0)
                                    {

                                        foreach (var item in Model)
                                        {

                                            <tr class="tr-shadow">
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Id)
                                                </td>
                                                <td>@Html.DisplayFor(modelItem => item.BlogTitle)</td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.CreatedDate, "{0:dd/MM/yyyy HH:mm:ss}")
                                                </td>



                                                <td>@Html.DisplayFor(modelItem => item.PostedBy)</td>

                                                <td>
                                                    @Html.ActionLink(" ", "Edit", new { id = item.Id }, new { @class = "fa fa-edit", title = "Edit", style = "font-size: 25px; color:green;" }) <span>&nbsp;</span> <span>&nbsp;</span>
                                                </td>
                                                <td>
                                                    <a class="modal-trigger fa fa-trash" href="#" data-toggle="modal"
                                                       value="@item.Id" onclick="passToModal(this)" data-target="#myModal" style="font-size:25px; color:red;" title="Delete Property Listing"></a>

                                                </td>

                                            </tr>

                                        }//end foreach
                                    }//end if  has row/result
                                    else
                                    {
                                        <tr><td><strong>No Result</strong></td></tr>
                                    } @*end else*@
                                </tbody>
                            </table>
                        </div>
                    </div>

                    @Html.PagedListPager(Model, page => Url.Action("DisplayBlog", "Blog", new { page, searchString = ViewBag.CurrentFilter}))


                </div>
                @* MODAL STRUCTURE *@
                <div class="modal fade" id="myModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div style="background-color:salmon;" class="modal-header">

                                <h3 style="color:white;">Delete Blog</h3><a href="#" class="close" data-dismiss="modal"> &times; </a>
                            </div>
                            <div class="modal-body">
                                <h4>Are you sure you want to delete this Blog? </h4>
                                <br />
                                Any images and attachment uploaded in this Listing will be removed.
                                <input style="display:none" type="text" id="blogIdd" />
                            </div> @* end modal-body *@
                            <div class="modal-footer">
                                <a href="#" class="btn btn-danger" data-dismiss="modal"> Cancel </a>
                                <input type="submit" value="Confirm" class="btn btn-success" id="btnSubmit" />
                            </div> @* end modal-footer *@

                        </div> @* end modal-content *@
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="copyright">
                            <p>&copy; @DateTime.Now.Year - Zeon Properties Sdn Bhd </p>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

</div>


<script type="text/javascript" src="~/Scripts/displayBlog.js"></script>

@Html.Hidden("delBlog", Url.Action("DeleteBlog", "Blog")) @* pass to displayDataJS *@




<!-- END MAIN CONTENT-->
<!-- Jquery JS-->
@*<script src="~/CoolAdmin-master/vendor/jquery-3.2.1.min.js"></script>*@

<!-- Bootstrap JS-->
<script src="~/CoolAdmin-master/vendor/bootstrap-4.1/popper.min.js"></script>
<script src="~/CoolAdmin-master/vendor/bootstrap-4.1/bootstrap.min.js"></script>

<!-- Vendor JS       -->
<script src="~/CoolAdmin-master/vendor/slick/slick.min.js"></script>
<script src="~/CoolAdmin-master/vendor/wow/wow.min.js"></script>
@*<script src="~/CoolAdmin-master/vendor/animsition/animsition.min.js"></script>*@
<script src="~/CoolAdmin-master/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
<script src="~/CoolAdmin-master/vendor/counter-up/jquery.waypoints.min.js"></script>
<script src="~/CoolAdmin-master/vendor/counter-up/jquery.counterup.min.js"></script>
<script src="~/CoolAdmin-master/vendor/circle-progress/circle-progress.min.js"></script>
<script src="~/CoolAdmin-master/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
<script src="~/CoolAdmin-master/vendor/chartjs/Chart.bundle.min.js"></script>
<script src="~/CoolAdmin-master/vendor/select2/select2.min.js"></script>

<!-- Main JS-->
@*<script src="~/CoolAdmin-master/js/main.js"></script>*@
