﻿@model ZeonPropertiesListing.Models.L_BlogTbl

@{
    
    //Html.Partial("_checkLogin");

}
@{

    Layout = "~/Views/Shared/DashboardLayout.cshtml";
}
<h2>Create New Listing</h2>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>


@*<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>*@
<!-- Required meta tags-->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="au theme template">
<meta name="author" content="Hau Nguyen">
<meta name="keywords" content="au theme template">

<!-- Fontfaces CSS-->

<link href="~/CoolAdmin-master/css/font-face.css" rel="stylesheet" />
<link href="~/CoolAdmin-master/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/CoolAdmin-master/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" />
<link href="~/CoolAdmin-master/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" />

<!-- Bootstrap CSS-->
<link href="~/CoolAdmin-master/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" />


<!-- Vendor CSS-->
<link href="~/CoolAdmin-master/vendor/animsition/animsition.min.css" rel="stylesheet" />
<link href="~/CoolAdmin-master/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" />
<link href="~/CoolAdmin-master/vendor/wow/animate.css" rel="stylesheet" />
<link href="~/CoolAdmin-master/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" />
<link href="~/CoolAdmin-master/vendor/slick/slick.css" rel="stylesheet" />
<link href="~/CoolAdmin-master/vendor/select2/select2.min.css" rel="stylesheet" />
<link href="~/CoolAdmin-master/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" />


<!-- Main CSS-->
<link href="~/CoolAdmin-master/css/theme.css" rel="stylesheet" />


<h2>Create Blog</h2>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script>
    function UploadImage() {
        //showLoader("Importing Machines from Excel file. Might take a moment depending on data size..");

        var data = new FormData();
        var files = $("#image_attached").get(0).files;

        // Add the uploaded image content to the form data collection
        if (files.length > 0) {
            data.append("UploadedAttached", files[0]);
            data.append("InsertedById", "Admin");
        }
        else {
            var files = $("#Photo").get(0).files;
            data.append("UploadedAttached", files[0]);
            data.append("InsertedById", "Admin");
        }

        // Make Ajax request with the contentType = false, and procesDate = false and async = false
        $.ajax({
            url: "/Blog/EditImage",
            data: data,
            type: "POST",
            async: false,
            contentType: false,
            processData: false,
            success: function (result) {
                $('#Photo').val(result);
            },
            error: function (xhr, status, error) { }
        });
    }

    function someFunc() {

        UploadImage();

    }
</script>

<div>

</div>


<!-- MAIN CONTENT-->
<div class="page-wrapper">
    <div class="page-container">

        <div class="main-content" style="padding-top:50px">




            @using (Html.BeginForm("Edit", "Blog", FormMethod.Post))
            {
                @* @Html.AntiForgeryToken() this cause _checkLogin error *@


                <div class="form-horizontal" style="">

                    <div class="row">
                        <div class="form-group col-md-12">

                            <div class="col-md-5">
                                @Html.LabelFor(model => model.Photo, "Blog Photo", htmlAttributes: new {
                                          style= " margin-left: -11px;",
                                          @class = "control-label" })<br />
                                <img src="@Html.DisplayFor(model => model.Photo)" style="min-width:240px;max-width:240px; min-height:240px;max-height:240px;font-family: 'Montserrat', sans-serif;font-weight: 500;font-style: normal;font-size: 9px;line-height: 23px;letter-spacing: 0.03em;color: #707070;text-transform: uppercase;display: block;" alt="Photo will be shown here after uploaded." />
                                <input type="file" name="image_attached" id="image_attached" /> <br /> <br />
                                @*<button type="button" value="@Html.DisplayFor(model => model.EmployeeImg)" class="btn btn-danger" onclick="delImg(this)">Delete</button>*@
                                @Html.TextBoxFor(model => model.Photo, new { @class = "form-control hidden", style = "display:none" })
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <div class="col-md-5">
                                @Html.LabelFor(model => model.BlogTitle, htmlAttributes: new {
                                     style= " margin-left: -11px;",
                                     @class = "control-label" })
                                <label style="color:red;">*</label>
                            </div>
                            <div class="">
                                @Html.TextBoxFor(model => model.BlogTitle, new { id = "blogtitle", @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.BlogTitle, "", new { @class = "text-danger" })


                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <div class="col-md-5">
                                @Html.LabelFor(model => model.Description1, htmlAttributes:
                               new { style = "margin-left: -11px;", @class = "control-label" })
                            </div>

                            <div class="">
                                @Html.TextAreaFor(model => model.Description1,
                               new {id="description1",@class = "ckeditor", @Name = "descripEditor1" })
                                @Html.ValidationMessageFor(model => model.Description1, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group col-md-12">
                            <div class="col-md-5">
                                @Html.LabelFor(model => model.Description2, htmlAttributes:
                               new { style = "margin-left: -11px;", @class = "control-label" })
                            </div>

                            <div class="">
                                @Html.TextAreaFor(model => model.Description2,
                               new {id="description2",@class = "ckeditor", @Name = "descripEditor2" })
                                @Html.ValidationMessageFor(model => model.Description2, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group col-md-12">
                            <div class="col-md-5">
                                @Html.LabelFor(model => model.Description3, htmlAttributes:
                               new { style = "margin-left: -11px;", @class = "control-label" })
                            </div>

                            <div class="">
                                @Html.TextAreaFor(model => model.Description3,
                               new {id="description3",@class = "ckeditor", @Name = "descripEditor3" })
                                @Html.ValidationMessageFor(model => model.Description3, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <div class="col-md-12">
                                @Html.LabelFor(model => model.PostedBy, htmlAttributes:
                               new { style = "margin-left: -30px;", @class = "control-label col-md-2" })
                            </div>
                            <div class="">
                                @Html.TextBoxFor(model => model.PostedBy, new { @class = "form-control", @readonly = "readonly" })
                                @Html.ValidationMessageFor(model => model.PostedBy, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        @* Create Button *@
                        <div class="col-md-offset-0 col-md-6" style="text-align:center; margin-top:10px;">
                            <input id="createbtn" type="submit" value="Edit" name="submitbtn"
                                   style="height: 40px; width: 140px;" class="btn btn-default btn-primary" onclick="someFunc();" />
                        </div>

                    </div>



                </div>



                <input type="text" style="display:none" name="clickedBtn" id="clickedBtn" />
            }@* End begin form *@




            <div>
                @Html.ActionLink("Back to List", "displayData")
            </div>






        </div>
    </div>
</div>
<!-- END MAIN CONTENT-->
<!-- Jquery JS-->
<script src="~/CoolAdmin-master/vendor/jquery-3.2.1.min.js"></script>

<!-- Bootstrap JS-->
<script src="~/CoolAdmin-master/vendor/bootstrap-4.1/popper.min.js"></script>
<script src="~/CoolAdmin-master/vendor/bootstrap-4.1/bootstrap.min.js"></script>

<!-- Vendor JS       -->
<script src="~/CoolAdmin-master/vendor/slick/slick.min.js"></script>
<script src="~/CoolAdmin-master/vendor/wow/wow.min.js"></script>
<script src="~/CoolAdmin-master/vendor/animsition/animsition.min.js"></script>
<script src="~/CoolAdmin-master/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
<script src="~/CoolAdmin-master/vendor/counter-up/jquery.waypoints.min.js"></script>
<script src="~/CoolAdmin-master/vendor/counter-up/jquery.counterup.min.js"></script>
<script src="~/CoolAdmin-master/vendor/circle-progress/circle-progress.min.js"></script>
<script src="~/CoolAdmin-master/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
<script src="~/CoolAdmin-master/vendor/chartjs/Chart.bundle.min.js"></script>
<script src="~/CoolAdmin-master/vendor/select2/select2.min.js"></script>

<!-- Main JS-->
<script src="~/CoolAdmin-master/js/main.js"></script>

