﻿

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Zeon Property | About Us</title>
    <meta name="description" content="Zeon Properties">
    <meta name="author" content="Kimarotec">
    <meta name="keyword" content="html5, css, bootstrap, property, real-estate theme , bootstrap template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script>
        (function () {
            var docEl = document.documentElement;

            if (docEl.classList) {
                docEl.classList.remove('no-js');
                docEl.classList += 'js';
            } else {
                var reJS = new RegExp('(^|\\s)no-js(\\s|$)');
                var className = docEl.className;
                className = className.replace(reJS, '$1js$2');
                docEl.className = className;
            }
        })();
    </script>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800' rel='stylesheet' type='text/css'>

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <link href="https://fonts.googleapis.com/css?family=Lora|Noto+Sans|PT+Sans+Narrow" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto+Condensed" rel="stylesheet">

    <link rel="stylesheet" href="~/Content/Custom_CSS/garo-estate/assets/css/belgravia.css" >
    
    <!--<link rel="stylesheet" href="assets/css/normalize.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/fontello.css">
    <link href="assets/fonts/icon-7-stroke/css/pe-icon-7-stroke.css" rel="stylesheet">
    <link href="assets/fonts/icon-7-stroke/css/helper.css" rel="stylesheet">
    <link href="assets/css/animate.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="assets/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/icheck.min_all.css">
    <link rel="stylesheet" href="assets/css/price-range.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.css">
    <link rel="stylesheet" href="assets/css/owl.theme.css">
    <link rel="stylesheet" href="assets/css/owl.transitions.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">-->
</head>
<body>

    <div class="wrap">

        <div class="breadcrumbs sk-hidden">
            <span>Founder - Leon Lee</span>
        </div>

        <div class="section-header">
            <div class="section-header_i">
                <div class="text">
                    <div class="check">
                        <img src="themes/classic/img/a-img1.png" alt="">
                    </div>

                    <q>
                        ZEON PROPERTIES 
                        <br>an integrated property &
                        <br>infrastructure solutions provider.
                        
                    </q>

                    <p>ZEON PROPERTIES is an integrated property and infrastructure solutions provider. Our global reach and understanding of property developed over half a century of market cycles enables us to achieve the best property and infrastructure outcomes for all stakeholders.</p>

                    <br />
                    <p><b>Our Mission</b></p>
                    <p style="font-style:italic;margin-top:15px;margin-right: -130px;">Is to maximize investment value for all stakeholders at every stage of the property value chain, structure the strategies and work with our investment partners to fund investment opportunities.</p>
                    <br />
                    <p><b>Our Expertise</b></p>
                    <p style="font-style:italic;margin-top:15px;margin-right: -130px;">Spans a range of sectors including residential, retail, commercial, retirement, industrial, heath care, social infrastructure and education. We are committed to create innovative, sustainable property solutions delivering maximum benefits to clients, investors and communities.</p>
                    <br />
                    <p><b>Our Vision</b></p>
                    <p style="font-style:italic;margin-top:15px;margin-right: -130px;">To deliver on these opportunities, developing, designing and constructing innovative and sustainable property solutions, with the capability to manage these properties to enhance their value over time.</p>

                </div>
                <div class="photo">
              
                    <img src="~/Content/Custom_CSS/Mainpage_img/Zeon_MainPage_img(3).jpg" alt="" />
                   
                </div>
                
            </div>
        </div>

        </div>




        <script src="~/Content/Custom_CSS/garo-estate/assets/js/jquery-1.10.2.min.js"></script>
         <script src="~/Content/Custom_CSS/garo-estate/assets/js/belgravia_main.js"></script>
         <script src="~/Content/Custom_CSS/garo-estate/assets/js/belgravia_common.js"></script>
        @*<script src="assets/js/modernizr-2.6.2.min.js"></script>
            <script src="assets/js/jquery-1.10.2.min.js"></script>
            <script src="bootstrap/js/bootstrap.min.js"></script>
            <script src="assets/js/bootstrap-select.min.js"></script>
            <script src="assets/js/bootstrap-hover-dropdown.js"></script>
            <script src="assets/js/easypiechart.min.js"></script>
            <script src="assets/js/jquery.easypiechart.min.js"></script>
            <script src="assets/js/owl.carousel.min.js"></script>
            <script src="assets/js/wow.js"></script>
            <script src="assets/js/icheck.min.js"></script>
            <script src="assets/js/price-range.js"></script>
            <script src="assets/js/main.js"></script>*@
</body>
</html>


