﻿@{
    Layout = null;
}


<!DOCTYPE html>
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" class="no-js">



<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Accept-CH" content="DPR, Width, Viewport-Width">
    <script>
    (function() {
      var docEl = document.documentElement;

      if (docEl.classList) {
        docEl.classList.remove('no-js');
        docEl.classList += 'js';
      } else {
        var reJS = new RegExp('(^|\\s)no-js(\\s|$)');
        var className = docEl.className;
        className = className.replace(reJS, '$1js$2');
        docEl.className = className;
      }
    })();
    </script>
    <link rel="stylesheet" href="~/css/bless.css">
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/cityofdreams_logo2.jpg">
    <link rel="icon" type="image/png" sizes="16x16" href="images/cityofdreams_logo2.jpg">
   
    <link rel="mask-icon" href="safari-pinned-tab.html" color="#5bbad5">

    <link href="https://fonts.googleapis.com/css?family=Lora|Noto+Sans|PT+Sans+Narrow" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto+Condensed" rel="stylesheet">

    <meta name="theme-color" content="#000000">
    <title>Zeon Properties | Career</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="referrer" content="no-referrer-when-downgrade" />
    <meta name="robots" content="all" />
    <meta name="description" content="Ewein Zenith, by name and by nature, is Malaysia’s premier lifestyle developer. A member of public listed Malaysia-based investment holding company Ewein Berhad" />
</head>

<body class="">
    <a href="#mainContent" class="skip-to">Skip to content</a>
    <div class="l-site-wrap">
        <div class="l-site-logo">
            <div class="l-grid">
                <div class="l-grid__content">
                    <a href="index.html" title="Home" class="logo">
                        <svg class="logo" width="214" height="29" viewBox="0 0 214 29" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <title>logo</title>
                            <br>
                            <img src="~/Content/Custom_CSS/Mainpage_img/zeon_logo.png" width="15%" height="auto">
                        </svg>
                    </a>
                </div>
            </div>
        </div>



        <header class="l-site-header js-nav" role="banner">
            <div class="l-site-header__progress js-progress">
                <span class="l-site-header__progress-bar js-progress__bar"></span>
            </div>
            <div class="l-site-header__trigger">
                <div class="l-nav-trigger">
                    <div class="l-nav-trigger__menu">
                        <button class="menu-btn js-nav__trigger">
                            <div class="menu-btn__text">Menu</div>
                            <div class="menu-dots">

                            </div>
                        </button>
                    </div>
                    <div class="l-nav-trigger__scroll">
                        <div class="scroll js-scroll">
                            <span class="scroll__icon">
                                <svg width="12" height="13" viewBox="0 0 12 13" xmlns="http://www.w3.org/2000/svg"><title>icon-scroll</title><g id="Page-1" fill="none" fill-rule="evenodd"><g id="icon-scroll" stroke-width="1.2" stroke="#221F20"><path id="Stroke-1" d="M1 1l5.028 4.616L11.056 1" /><path id="Stroke-1-Copy" d="M1 7l5.028 4.616L11.056 7" /></g></g></svg>
                            </span>
                            <span class="scroll__text">
                                Career
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="l-site-header__body js-nav__target">
                <div class="l-nav-body">
                    <div class="l-nav-body__close">
                        <button class="btn btn--icon js-nav__close">
                            <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>close</title><g id="Page-1" fill="currentColor" fill-rule="evenodd"><g id="close" fill-rule="nonzero"><path d="M10 9.148L1.849.998 1 1.846l8.151 8.15-8.15 8.15.848.848L10 10.844l8.151 8.15.849-.848-8.151-8.15L19 1.846l-.848-.848L10 9.148z" id="Combined-Shape" /></g></g></svg>
                        </button>
                    </div>
                    <div class="l-nav-body__logo">
                        <a href="index.html">
                            <img src="~/Content/Custom_CSS/Mainpage_img/zeon_logo.png">
                        </a>
                    </div>
                    <div class="l-nav-body__nav">
                        <nav role="navigation">
                            <ul class="primary-nav">
                                <li class="primary-nav__item">
                                    <a href="#development" />
                                    <span class="fancy-hover" aria-label="Corporate">
                                        <span>Marketing</span>
                                        </a>
                                </li>
                                <li class="primary-nav__item">
                                    <a href="#salesMarketing" />
                                    <span class="fancy-hover" aria-label="Developments">
                                        <span>Business Development</span>
                                        </a>
                                </li>

                                <li class="primary-nav__item">
                                    <a href="#design" />
                                    <span class="fancy-hover" aria-label="News">
                                        <span>Consultant</span>
                                        </a>
                                </li>
                                <li class="primary-nav__item">
                                    <a href="#legal" />
                                    <span class="fancy-hover" aria-label="Contact Us">
                                        <span>Management Assistant</span>
                                        </a>
                                </li>
                                <li class="primary-nav__item">
                                    <a href="#designer" />
                                    <span class="fancy-hover" aria-label="Contact Us">
                                        <span>Designer</span>
                                        </a>
                                </li>
                                <li class="primary-nav__item">
                                    <a href="#finance" />
                                    <span class="fancy-hover" aria-label="Contact Us">
                                        <span>Finance Accoutant</span>
                                        </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="l-nav-body__cta">

                    </div>

                </div>
            </div>
        </header>

        <div id="mainContent" role="main">


            <section class="l-page-header l-page-header--photo">
                <div class="l-page-header__media">



                    <img src="~/Content/Custom_CSS/Mainpage_img/Zeon_MainPage_img(3).jpg" />

                </div>
                <div class="l-page-header__content">
                    <div class="l-grid">
                        <div class="l-grid__content">


                            <div class="  header">

                                <h1 class="header__title">
                                    Explore new heights with us 
                                </h1>




                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="l-section l-section--development">
                <div class="l-section__body">
                    <div class="l-grid l-grid--entry">
                        <div class="l-grid__major">
                            <div class="l-block">
                                <div class="lede lede--large lede--border">
                                    <p>
                                        At Zeon Properties, we are always on the lookout for enthusiastic and highly-driven individuals to add to our dynamic pool of talents.

                                    </p>
                                </div>

                              

                            </div>

                           
                        </div>

                   
                    </div>
                </div>
            </section>

            <section class="l-section l-section--zero-top l-section--development">
                <div class="l-section__body">
                    <div class="l-grid l-grid--side-nav">
                        <div class="l-grid__minor">
                            <ul class="scroll-nav js-section-nav">
                                <li class="scroll-nav__item">
                                    <a href="#development">
                                        Marketing
                                    </a>
                                </li>
                                <li class="scroll-nav__item">
                                    <a href="#salesMarketing">
                                        Business Development
                                    </a>
                                </li>
                                <li class="scroll-nav__item">
                                    <a href="#design">
                                        Consultant
                                    </a>
                                </li>
                                <li class="scroll-nav__item">
                                    <a href="#legal">
                                        Management Assistant
                                    </a>
                                </li>
                                <li class="scroll-nav__item">
                                    <a href="#designer">
                                        Designer
                                    </a>
                                </li>
                                <li class="scroll-nav__item">
                                    <a href="#finance">
                                        Finance Accountant
                                    </a>
                                </li>
                              

                            </ul>
                        </div>

                        <div class="l-grid__major">
                            <div class="l-about-section js-section" id="development">
                                <div class="l-about-section__media">

                                    <figure class="figure ">




                                        <img src="~/Content/Custom_CSS/Mainpage_img/about_vision.jpg" />


                                    </figure>

                                </div>

                                <div class="l-about-section__body">


                                    <div class="  header header--blurb">
                                        <div class="header__eyebrow">
                                            —01
                                        </div>

                                        <h1 class="header__title">
                                            Marketing
                                        </h1>


                                        <div class="header__excerpt">
                                            <div class="rich-text">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                            <div class="l-about-section js-section" id="salesMarketing">
                                <div class="l-about-section__media">

                                    <figure class="figure ">


                                        <img src="~/Content/Custom_CSS/Mainpage_img/about_development.jpeg" />


                                    </figure>

                                </div>

                                <div class="l-about-section__body">


                                    <div class="  header header--blurb">
                                        <div class="header__eyebrow">
                                            —02
                                        </div>

                                        <h1 class="header__title">
                                            Business Development
                                        </h1>


                                        <div class="header__excerpt">
                                            <div class="rich-text">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                            <div class="l-about-section js-section" id="design">
                                <div class="l-about-section__media">

                                    <figure class="figure ">

                                        <img src="~/Content/Custom_CSS/Mainpage_img/about_customer.jpeg" />


                                    </figure>

                                </div>

                                <div class="l-about-section__body">


                                    <div class="  header header--blurb">
                                        <div class="header__eyebrow">
                                            —03
                                        </div>

                                        <h1 class="header__title">
                                            Consultant
                                        </h1>


                                        <div class="header__excerpt">
                                            <div class="rich-text">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                            <div class="l-about-section js-section" id="legal">
                                <div class="l-about-section__media">

                                    <figure class="figure ">


                                        <img src="~/Content/Custom_CSS/Mainpage_img/about_customer2.jpeg" />


                                    </figure>

                                </div>

                                <div class="l-about-section__body">


                                    <div class="  header header--blurb">
                                        <div class="header__eyebrow">
                                            —04
                                        </div>

                                        <h1 class="header__title">
                                            Management Assistant
                                        </h1>


                                        <div class="header__excerpt">
                                            <div class="rich-text">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                           
                            <div class="l-about-section js-section" id="designer">
                                <div class="l-about-section__media">

                                    <figure class="figure ">


                                        <img src="~/Content/Custom_CSS/Mainpage_img/aboutus_meettheteam.jpg" />


                                    </figure>

                                </div>

                                <div class="l-about-section__body">


                                    <div class="  header header--blurb">
                                        <div class="header__eyebrow">
                                            —05
                                        </div>

                                        <h1 class="header__title">
                                            Designer
                                        </h1>


                                        <div class="header__excerpt">
                                            <div class="rich-text">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>

                            <div class="l-about-section js-section" id="finance">
                                <div class="l-about-section__media">

                                    <figure class="figure ">


                                        <img src="~/Content/Custom_CSS/Mainpage_img/team_bg.jpg" />


                                    </figure>

                                </div>

                                <div class="l-about-section__body">


                                    <div class="  header header--blurb">
                                        <div class="header__eyebrow">
                                            —06
                                        </div>

                                        <h1 class="header__title">
                                            Finance Accountant
                                        </h1>


                                        <div class="header__excerpt">
                                            <div class="rich-text">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>

                          
                    </div>
                </div>
                    </div>
               
                    
            </section>



        </div>


    </div>

    <footer role="contentinfo" class="l-site-footer">
        <div class="l-site-footer__body">
            <div class="l-footer-grid">
                <div class="l-footer-grid__logo">
                    <a href="index.html"><img src="~/Content/Custom_CSS/Mainpage_img/zeon_logo.png"></a>

                </div>

                <div class="l-footer-grid__contact">


                    <div class="  header header--blurb">

                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3972.126605472149!2d100.32716451486878!3d5.397673936722404!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x304ac3e7a593cbff%3A0xebbcc63e8357aaf2!2sZEON+PROPERTIES+GROUP!5e0!3m2!1sen!2smy!4v1518462749753" width="100%" height="300px" frameborder="0" style="border:0" allowfullscreen=""></iframe>

                    </div>

                    <p>
                        <u>
                            <a href="https://www.waze.com/ul?ll=5.39726110%2C100.32867740&navigate=yes&zoom=16">
                                <span><i class="pe-7s-map-marker"></i> Navigate with Waze</span>
                            </a>
                        </u>
                    </p>
                    <p>
                        <u>
                            <a href="https://goo.gl/maps/JQ72mkU2S7k">
                                <span><i class="pe-7s-global"></i> Navigate with Google Maps</span>
                            </a>
                        </u>
                    </p>
                </div>

                <div class="l-footer-grid__newsletter">




                    <div class="  header header--blurb">

                       


                        <div class="header__excerpt">
                            <div class="rich-text">
                               
                                    <br />
                                    <h3 style=" color: orangered;">Zeon Headquarters</h3>
                                    <h4 ><i>Wisma Zeon</i></h4>
                                    <h5 >29C-03A-01, Persiaran Karpal Singh 2,</h5>
                                    <h5 >11600 Jelutong, Penang, Malaysia</h5>

                                    <p>
                                        <a href="tel:+6012-443 8888">
                                            <span><i class="pe-7s-call"></i> +6012-443 8888</span>
                                        </a>
                                    </p>
                                    <p >
                                        <a href="mailto:info@zeon.com.my">
                                            <span><i class="pe-7s-mail"></i> info@zeon.com.my</span>
                                        </a>
                                    </p>


                                   

                             
                            </div>
                        </div>

                        @*<div class="header__cta">
                            <a href="developments/development_cityofdreams.html" class="btn">Projects</a>
                            <br>
                            <a href="news.html" class="btn">News</a>
                            <br>
                            <a href="contact.html" class="btn">Contact Us</a>
                        </div>*@

                    </div>
                </div>

            </div>
        </div>
    </footer>
    <div class="l-section h-color-bg-text mfp-hide" id="insider-popup">
        <div class="l-section__body">
            <div class="l-grid l-grid--header">
                <div class="l-grid__minor">


                    <div class="  header">

                        <h1 class="header__title">
                            Become an Insider
                        </h1>


                        <div class="header__excerpt">
                            <div class="rich-text">
                                Be the first to know about Belgravia&#039;s newest offerings.
                            </div>
                        </div>


                    </div>
                </div>
                <div class="l-grid__major">
                    <form method="POST"
                          enctype="application/x-www-form-urlencoded"
                          action="#" class="l-form js-ajax-form">
                        <div class="l-form__message is-hidden js-success">
                            <div class="message message--success">
                                Thank you!
                            </div>
                        </div>
                        <div class="l-form__errors is-hidden js-errors"></div>
                        <div class="l-form__row">
                            <div class="l-form__col">
                                <div class="l-field l-field--text js-float-label">
                                    <div class="l-field__input">
                                        <input type="text" name="firstName" class="input input--text" id="firstName" placeholder="First Name*" required>
                                    </div>
                                    <div class="l-field__label">
                                        <label class="label label--text label--required" for="firstName">First Name</label>
                                    </div>
                                </div>
                            </div>
                            <div class="l-form__col">
                                <div class="l-field l-field--text js-float-label">
                                    <div class="l-field__input">
                                        <input type="text" name="lastName" class="input input--text" id="lastName" placeholder="Last Name*" required>
                                    </div>
                                    <div class="l-field__label">
                                        <label class="label label--required" for="lastName">Last Name</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="l-form__row">
                            <div class="l-form__col">
                                <div class="l-field l-field--text js-float-label">
                                    <div class="l-field__input">
                                        <input type="email" name="email" class="input input--email" id="email" placeholder="Email*" required>
                                    </div>
                                    <div class="l-field__label">
                                        <label class="label label--required" for="email">Email</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="l-form__row l-form__row--submit">
                            <div class="l-form__col">
                                <button type="submit" class="btn">Submit</button>
                                <div class="loader js-loader is-hidden"></div>
                            </div>
                            <div class="l-form__col">
                                <p class="form-message">* Required Field</p>
                            </div>
                        </div>

                        <input type="hidden" name="action" value="belgraviaLogic/submitForm">
                        <input type="hidden" name="comments" value="">
                        <input type="hidden" name="questions[46192][]" value="202858">
                        <input type="hidden" name="clientId" value="1329">
                        <input type="hidden" name="projectId" value="7335">
                        <input type="hidden" name="lassoUID" value="FAUgy}MMts">
                        <input type="hidden" name="SignupThankyouLink" value="https://belgraviagroup.com/contact/thank-you">
                        <input type="hidden" name="SignupEmailLink" value="">
                       
                        <input type="hidden" name="domainAccountId" value="LAS-950739-01" tag="http://www.belgraviagroup.com">
                        <input type="hidden" name="guid" value="">
                        <input type="hidden" name="RatingID" value="5407666" tag="N">
                        <input type="hidden" name="SourceTypeId" value="469318" tag="Online Registration">
                        <input type="hidden" name="grizzly" value="">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/bless1.js"></script>
    <script src="~/js/bless2.js"></script>

    <script type="text/javascript">
         var _ldstJsHost = (("https:" == document.location.protocol) ? "https://" : "http://");
         _ldstJsHost += "app.lassocrm.com";
         document.write(unescape("%3Cscript src='" + _ldstJsHost + "/analytics.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
  <!--
  var LassoCRM = LassoCRM || {};
  (function(ns){
      ns.tracker = new LassoAnalytics('LAS-950739-01');
  })(LassoCRM);
  try {
      LassoCRM.tracker.setTrackingDomain(_ldstJsHost);
      LassoCRM.tracker.init();  // initializes the tracker
      LassoCRM.tracker.track(); // track() records the page visit with the current page title, to record multiple visits call repeatedly.
  } catch(error) {}
  -->
    </script>

    <!-- this is only for form pages, but all of our pages have forms -->
    <script type="text/javascript">
(function(i) {var u =navigator.userAgent;
var e=/*cc_on!*/false; var st = setTimeout;if(/webkit/i.test(u)){st(function(){var dr=document.readyState;
if(dr=="loaded"||dr=="complete"){i()}else{st(arguments.callee,10);}},10);}
else if((/mozilla/i.test(u)&&!/(compati)/.test(u)) || (/opera/i.test(u))){
document.addEventListener("DOMContentLoaded",i,false); } else if(e){     (
function(){var t=document.createElement("doc:rdy");try{t.doScroll("left");
i();t=null;}catch(e){st(arguments.callee,0);}})();}else{window.onload=i;}})
(function() {
  for(var i = 0; i < document.forms.length; i++) {
    if(document.forms[i].guid != undefined) {
      document.forms[i].guid.value = LassoCRM.tracker.readCookie("ut");
    }
  }});
</script>
<script type="text/javascript">
/*<![CDATA[*/
APP.initStickyNav();
/*]]>*/
</script>

  </body>
</html>
