﻿

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Zeon Property | About Us</title>
    <meta name="description" content="Zeon Properties">
    <meta name="author" content="Kimarotec">
    <meta name="keyword" content="html5, css, bootstrap, property, real-estate theme , bootstrap template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script>
        (function () {
            var docEl = document.documentElement;

            if (docEl.classList) {
                docEl.classList.remove('no-js');
                docEl.classList += 'js';
            } else {
                var reJS = new RegExp('(^|\\s)no-js(\\s|$)');
                var className = docEl.className;
                className = className.replace(reJS, '$1js$2');
                docEl.className = className;
            }
        })();
    </script>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800' rel='stylesheet' type='text/css'>

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <link href="https://fonts.googleapis.com/css?family=Lora|Noto+Sans|PT+Sans+Narrow" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto+Condensed" rel="stylesheet">

    

    <!--<link rel="stylesheet" href="assets/css/normalize.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/fontello.css">
    <link href="assets/fonts/icon-7-stroke/css/pe-icon-7-stroke.css" rel="stylesheet">
    <link href="assets/fonts/icon-7-stroke/css/helper.css" rel="stylesheet">
    <link href="assets/css/animate.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="assets/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/icheck.min_all.css">
    <link rel="stylesheet" href="assets/css/price-range.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.css">
    <link rel="stylesheet" href="assets/css/owl.theme.css">
    <link rel="stylesheet" href="assets/css/owl.transitions.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">-->
</head>
<body>


    <div class="page-head">
        <div class="container">
            <div class="row">
                <div class="page-head-content">
                    <h1 class="page-title">Contact Us</h1>
                </div>
            </div>
        </div>
    </div>


   
        <div class="row">


            <div class="col-md-6 ">
                <div class="googlemap">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3972.126605472149!2d100.32716451486878!3d5.397673936722404!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x304ac3e7a593cbff%3A0xebbcc63e8357aaf2!2sZEON+PROPERTIES+GROUP!5e0!3m2!1sen!2smy!4v1518462749753" width="100%" height="500px" frameborder="0" style="border:0" allowfullscreen=""></iframe>
             </div>
                </div>


            <div class="col-md-6 ">
                <div class="container">
                    <br />
                    <h2 style="padding-left: 120px; color: orangered;">Zeon Headquarters</h2>
                    <h4 style="padding-left: 120px;"><i>Wisma Zeon</i></h4>
                    <h5 style="padding-left: 120px;">29C-03A-01, Persiaran Karpal Singh 2,</h5>
                    <h5 style="padding-left: 120px;">11600 Jelutong, Penang, Malaysia</h5>

                    <p style="padding-left: 120px;">
                        <a href="tel:+6012-443 8888">
                            <span><i class="pe-7s-call"></i> +6012-443 8888</span>
                        </a>
                        </p>

                    <p style="padding-left: 120px;">
                        <a href="https://api.whatsapp.com/send?phone=+60164835203&text=Hi, I contacted you Through your website." class="social-icon whatsapp">Whatsapp Zeon</a>
                        </p>

<p style="padding-left: 120px;">
                        <a href="mailto:info@zeon.com.my">
                            <span><i class="pe-7s-mail"></i> info@zeon.com.my</span>
                        </a>
                    </p>

                   
                    <p style="padding-left: 120px;"><u>
                        <a href="https://www.waze.com/ul?ll=5.39726110%2C100.32867740&navigate=yes&zoom=16">
                            <span><i class="pe-7s-map-marker"></i> Navigate with Waze</span>
                        </a></u>
                    </p>
                    <p style="padding-left: 120px;">
                        <u>
                            <a href="https://goo.gl/maps/JQ72mkU2S7k">
                                <span><i class="pe-7s-global"></i> Navigate with Google Maps</span>
                            </a>
                        </u>
                    </p>

                </div>
            </div>


            </div>
     
    <div class="row">
        <div class="col-md-6 ">
            <div class="container">
                <br />
                <h2 style="padding-left: 120px; color: orangered;">Zeon Singapore</h2>
                <h4 style="padding-left: 120px;"><i>Aby Wang 黄珊珊</i></h4>
                <h4 style="padding-left: 120px;"><i>Singapore Division - Business Development Director</i></h4>
                <h5 style="padding-left: 120px;">300, Jalan Bukit Ho Swee # 01-01,</h5>
                <h5 style="padding-left: 120px;">Singapore 169566</h5>

                <p style="padding-left: 120px;">
                    <a href="tel:+6012-534 7366">
                        <span><i class="pe-7s-call"></i> +6012-534 7366 (Malaysia)</span>
                    </a>
                    
                </p>
                <p style="padding-left: 120px;">
                    <a href="mailto:abywang@zeon.com.my">
                        <span><i class="pe-7s-mail"></i> abywang@zeon.com.my</span>
                    </a>
                </p>


                <p style="padding-left: 120px;">
                    <u>
                        <a href="https://www.waze.com/ul?ll=1.28761690%2C103.82933410&navigate=yes&zoom=16">
                            <span><i class="pe-7s-map-marker"></i> Navigate with Waze</span>
                        </a>
                    </u>
                </p>
                <p style="padding-left: 120px;">
                    <u>
                        <a href="https://goo.gl/maps/D4xGkFuje7x">
                            <span><i class="pe-7s-global"></i> Navigate with Google Maps</span>
                        </a>
                    </u>
                </p>

            </div>
        </div>

        <div class="col-md-6 ">
            <div class="googlemap">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.810840108037!2d103.82714541487272!3d1.287622262130611!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da1978eef04c9f%3A0xce13fd1644ffb556!2sDistrict+65+Pte+Ltd!5e0!3m2!1sen!2smy!4v1518520654580" width="100%" height="500px" frameborder="0" style="border:0" allowfullscreen=""></iframe>
</div>
        </div>
        </div>

    <div class="row">


        <div class="col-md-6 ">
            <div class="googlemap">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3691.959836552046!2d114.16109701499077!3d22.279511199279305!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3305aa24149f0d07!2sLippo+Centre!5e0!3m2!1sen!2smy!4v1518520780662" width="100%" height="500px" frameborder="0" style="border:0" allowfullscreen=""></iframe>
</div>
        </div>


        <div class="col-md-6 ">
            <div class="container">
                <br />
                <h2 style="padding-left: 120px; color: orangered;">Zeon Hong Kong</h2>
                <h4 style="padding-left: 120px;"><i>Ronaldo Lim 林俊智</i></h4>
                <h4 style="padding-left: 120px;"><i>Hong Kong Division - Chief Marketing Officer</i></h4>
                <h5 style="padding-left: 120px;">香港金钟力宝中心2 座5 楼503 室</h5>
              

                <p style="padding-left: 120px;">
                    <a href="tel:+6012-4779144">
                        <span><i class="pe-7s-call"></i> +6012-4779144 (Malaysia)</span>
                    </a>
                </p>
                <p style="padding-left: 120px;">
                    <a href="mailto:ronaldolim@zeon.com.my">
                        <span><i class="pe-7s-mail"></i> ronaldolim@zeon.com.my</span>
                    </a>
                </p>


                <p style="padding-left: 120px;">
                    <u>
                        <a href="https://www.waze.com/ul?ll=22.27952750%2C114.16324740&navigate=yes&zoom=16">
                            <span><i class="pe-7s-map-marker"></i> Navigate with Waze</span>
                        </a>
                    </u>
                </p>
                <p style="padding-left: 120px;">
                    <u>
                        <a href="https://goo.gl/maps/Ar1p1Fq5Xq52">
                            <span><i class="pe-7s-global"></i> Navigate with Google Maps</span>
                        </a>
                    </u>
                </p>

            </div>
        </div>


    </div>

    <div class="row">
        <div class="col-md-6 ">
            <div class="container">
                <br />
                <h2 style="padding-left: 120px; color: orangered;">Zeon China</h2>
                <h4 style="padding-left: 120px;"><i>Carol Cheah 谢晓双</i></h4>
                <h4 style="padding-left: 120px;"><i>China Division - Business Development Director</i></h4>
                <h5 style="padding-left: 120px;">北京市大兴区北路星光影视园新华网产业园5 号楼405 室</h5>
                

                <p style="padding-left: 120px;">
                    <a href="tel:+6017-404 2838">
                        <span><i class="pe-7s-call"></i> +6017-404 2838 (Malaysia)</span>
                    </a>
                </p>
                <p style="padding-left: 120px;">
                    <a href="mailto:carolcheah@zeon.com.my">
                        <span><i class="pe-7s-mail"></i> carolcheah@zeon.com.my</span>
                    </a>
                </p>


                <p style="padding-left: 120px;">
                    <u>
                        <a href="https://www.waze.com/ul?ll=39.77222400%2C116.36059500&navigate=yes&zoom=16">
                            <span><i class="pe-7s-map-marker"></i> Navigate with Waze</span>
                        </a>
                    </u>
                </p>
                <p style="padding-left: 120px;">
                    <u>
                        <a href="https://goo.gl/maps/vtrxH7aWAP92">
                            <span><i class="pe-7s-global"></i> Navigate with Google Maps</span>
                        </a>
                    </u>
                </p>

            </div>
        </div>

        <div class="col-md-6 ">
            <div class="googlemap">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3066.549231441536!2d116.35840631534023!3d39.77222810250727!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x35f04a5b2b87d9ab%3A0x30703f638f102803!2sXinhuawang+Industrial+Park!5e0!3m2!1sen!2smy!4v1518520846313" width="100%" height="500px" frameborder="0" style="border:0" allowfullscreen=""></iframe>
</div>
        </div>
    </div>

    <div class="row">


        <div class="col-md-6 ">
            <div class="googlemap">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3982.040643873487!2d98.6540063147121!3d3.5781338513635648!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30312fd45f5f62f7%3A0x786baf35aa1d9fb9!2sJl.+Sei+Bahorok+No.79%2C+Babura%2C+Medan+Baru%2C+Kota+Medan%2C+Sumatera+Utara+20153%2C+Indonesia!5e0!3m2!1sen!2smy!4v1518520942457" width="100%" height="500px" frameborder="0" style="border:0" allowfullscreen=""></iframe>
</div>
        </div>


        <div class="col-md-6 ">
            <div class="container">
                <br />
                <h2 style="padding-left: 120px; color: orangered;">Zeon Indonesia</h2>
                <h4 style="padding-left: 120px;"><i>Jackson Khoo 邱鼎荣</i></h4>
                <h4 style="padding-left: 120px;"><i>Indonesia Division - Chief Marketing Officer</i></h4>
                <h5 style="padding-left: 120px;">J1, SeiBahorok No. 79 Medan, North</h5>
                <h5 style="padding-left: 120px;">Sumatra, Indonesia</h5>

                <p style="padding-left: 120px;">
                    <a href="tel:+6013-5818 333">
                        <span><i class="pe-7s-call"></i> +6013-5818 333 (Malaysia)</span>
                    </a>
                </p>
                <p style="padding-left: 120px;">
                    <a href="mailto:jacksonkhoo@zeon.com.my">
                        <span><i class="pe-7s-mail"></i> jacksonkhoo@zeon.com.my</span>
                    </a>
                </p>


                <p style="padding-left: 120px;">
                    <u>
                        <a href="https://www.waze.com/ul?ll=39.77222400%2C116.36059500&navigate=yes&zoom=16">
                            <span><i class="pe-7s-map-marker"></i> Navigate with Waze</span>
                        </a>
                    </u>
                </p>
                <p style="padding-left: 120px;">
                    <u>
                        <a href="https://goo.gl/maps/aegcqyJKeYw">
                            <span><i class="pe-7s-global"></i> Navigate with Google Maps</span>
                        </a>
                    </u>
                </p>

            </div>
        </div>


    </div>


        <script src="~/Content/Custom_CSS/garo-estate/assets/js/jquery-1.10.2.min.js"></script>

        @*<script src="assets/js/modernizr-2.6.2.min.js"></script>
            <script src="assets/js/jquery-1.10.2.min.js"></script>
            <script src="bootstrap/js/bootstrap.min.js"></script>
            <script src="assets/js/bootstrap-select.min.js"></script>
            <script src="assets/js/bootstrap-hover-dropdown.js"></script>
            <script src="assets/js/easypiechart.min.js"></script>
            <script src="assets/js/jquery.easypiechart.min.js"></script>
            <script src="assets/js/owl.carousel.min.js"></script>
            <script src="assets/js/wow.js"></script>
            <script src="assets/js/icheck.min.js"></script>
            <script src="assets/js/price-range.js"></script>
            <script src="assets/js/main.js"></script>*@
</body>
</html>


