﻿@{
    Layout = null;
}

<!DOCTYPE html>
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" class="no-js">



<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Accept-CH" content="DPR, Width, Viewport-Width">
    <script>
        (function () {
            var docEl = document.documentElement;

            if (docEl.classList) {
                docEl.classList.remove('no-js');
                docEl.classList += 'js';
            } else {
                var reJS = new RegExp('(^|\\s)no-js(\\s|$)');
                var className = docEl.className;
                className = className.replace(reJS, '$1js$2');
                docEl.className = className;
            }
        })();
    </script>
    <link rel="stylesheet" href="~/css/bless.css">
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/cityofdreams_logo2.jpg">
    <link rel="icon" type="image/png" sizes="16x16" href="images/cityofdreams_logo2.jpg">
    <link rel="manifest" href="manifest.html">
    <link rel="mask-icon" href="safari-pinned-tab.html" color="#5bbad5">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto+Condensed" rel="stylesheet">


    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/cityofdreams_logo2.jpg">
    <link rel="icon" type="image/png" sizes="16x16" href="images/cityofdreams_logo2.jpg">
    <link rel="manifest" href="manifest.html">
    <link rel="mask-icon" href="safari-pinned-tab.html" color="#5bbad5">

    <link href="https://fonts.googleapis.com/css?family=Lora|Noto+Sans|PT+Sans+Narrow" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto+Condensed" rel="stylesheet">

    <meta name="theme-color" content="#000000">
    <title>Zeon Properties | News</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="referrer" content="no-referrer-when-downgrade" />
    <meta name="robots" content="all" />
    <meta name="description" content="Ewein Zenith, by name and by nature, is Malaysia’s premier lifestyle developer. A member of public listed Malaysia-based investment holding company Ewein Berhad" />
</head>

<body class="">
    <a href="#mainContent" class="skip-to">Skip to content</a>
    <div class="l-site-wrap">
        <div class="l-site-logo">
            <div class="l-grid">
                <div class="l-grid__content">
                    <a href="index.html" title="Home" class="logo">
                        <svg class="logo" width="214" height="29" viewBox="0 0 214 29" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <title>logo</title>
                            <br>
                            <img src="~/Content/Custom_CSS/Mainpage_img/zeon_logo.png" width="15%" height="auto">
                        </svg>
                    </a>
                </div>
            </div>
        </div>


        
        <div id="mainContent" role="main">

            <section class="l-page-header l-page-header--photo">
                <div class="l-page-header__media">



                    <img src="~/Content/Custom_CSS/Mainpage_img/about_customer.jpeg" />

                </div>
                <div class="l-page-header__content">
                    <div class="l-grid">
                        <div class="l-grid__content">


                            <div class="  header">

                                <h1 class="header__title">
                                    Our Latest News
                                </h1>




                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <section class="l-section l-section--development">
                <div class="l-section__body">
                    <div class="l-grid l-grid--entry">
                        <div class="l-grid__major">
                            <div class="l-block">
                                <div class="lede lede--large lede--border">
                                    <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fzeonproperties%2Fposts%2F2262222547134295&width=500" width="700" height="417" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>                                    <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fzeonproperties%2Fposts%2F2257885407568009&width=500" width="700" height="613" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
                                    <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fzeonproperties%2Fposts%2F2257882350901648&width=500" width="700" height="614" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
                                    <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fzeonproperties%2Fposts%2F2257418207614729&width=500" width="700" height="650" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
                                    <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fzeonproperties%2Fposts%2F2256050071084876&width=500" width="700" height="594" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
                                    <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fzeonproperties%2Fposts%2F2248720441817839&width=500" width="700" height="498" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
                                    <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fzeonproperties%2Fposts%2F2245586858797864&width=500" width="700" height="854" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
                                    <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fzeonproperties%2Fposts%2F2243022065721010&width=500" width="700" height="603" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>

                                </div>
                            </div>

                            
                        </div>

                        <div class="l-grid__minor">
                            <div class="container-545">
                            <div class="l-stats">
                                <div class="stat">
                                    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fzeonproperties%2F&tabs=timeline&width=800&height=1600&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=1322137084465650" width="800" height="1600" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
                                </div>

                               </div>
                                </div>
                            </div>
                        </div>
                    </div>
               
            </section>

         

</div>
        </div>





                <footer role="contentinfo" class="l-site-footer">
                    <div class="l-site-footer__body">
                        <div class="l-footer-grid">
                            <div class="l-footer-grid__logo">
                                <a href="index.html"><img src="~/Content/Custom_CSS/Mainpage_img/zeon_logo.png"></a>

                            </div>

                            <div class="l-footer-grid__contact">


                                <div class="  header header--blurb">

                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3972.126605472149!2d100.32716451486878!3d5.397673936722404!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x304ac3e7a593cbff%3A0xebbcc63e8357aaf2!2sZEON+PROPERTIES+GROUP!5e0!3m2!1sen!2smy!4v1518462749753" width="100%" height="300px" frameborder="0" style="border:0" allowfullscreen=""></iframe>

                                </div>

                                <p>
                                    <u>
                                        <a href="https://www.waze.com/ul?ll=5.39726110%2C100.32867740&navigate=yes&zoom=16">
                                            <span><i class="pe-7s-map-marker"></i> Navigate with Waze</span>
                                        </a>
                                    </u>
                                </p>
                                <p>
                                    <u>
                                        <a href="https://goo.gl/maps/JQ72mkU2S7k">
                                            <span><i class="pe-7s-global"></i> Navigate with Google Maps</span>
                                        </a>
                                    </u>
                                </p>
                            </div>

                            <div class="l-footer-grid__newsletter">




                                <div class="  header header--blurb">




                                    <div class="header__excerpt">
                                        <div class="rich-text">

                                            <br />
                                            <h3 style=" color: orangered;">Zeon Headquarters</h3>
                                            <h4><i>Wisma Zeon</i></h4>
                                            <h5>29C-03A-01, Persiaran Karpal Singh 2,</h5>
                                            <h5>11600 Jelutong, Penang, Malaysia</h5>

                                            <p>
                                                <a href="tel:+6012-443 8888">
                                                    <span><i class="pe-7s-call"></i> +6012-443 8888</span>
                                                </a>
                                            </p>
                                            <p>
                                                <a href="mailto:info@zeon.com.my">
                                                    <span><i class="pe-7s-mail"></i> info@zeon.com.my</span>
                                                </a>
                                            </p>





                                        </div>
                                    </div>

                                    @*<div class="header__cta">
                                        <a href="developments/development_cityofdreams.html" class="btn">Projects</a>
                                        <br>
                                        <a href="news.html" class="btn">News</a>
                                        <br>
                                        <a href="contact.html" class="btn">Contact Us</a>
                                    </div>*@

                                </div>
                            </div>

                        </div>
                    </div>
                </footer>


                <script src="~/js/bless1.js"></script>
                <script src="~/js/bless2.js"></script>

                <script type="text/javascript">
                    var _ldstJsHost = (("https:" == document.location.protocol) ? "https://" : "http://");
                    _ldstJsHost += "app.lassocrm.com";
                    document.write(unescape("%3Cscript src='" + _ldstJsHost + "/analytics.js' type='text/javascript'%3E%3C/script%3E"));
                </script>
                <script type="text/javascript">
  <!--
  var LassoCRM = LassoCRM || {};
  (function(ns){
      ns.tracker = new LassoAnalytics('LAS-950739-01');
  })(LassoCRM);
  try {
      LassoCRM.tracker.setTrackingDomain(_ldstJsHost);
      LassoCRM.tracker.init();  // initializes the tracker
      LassoCRM.tracker.track(); // track() records the page visit with the current page title, to record multiple visits call repeatedly.
  } catch(error) {}
  -->
                </script>

                <!-- this is only for form pages, but all of our pages have forms -->
                <script type="text/javascript">
                        (function (i) {
                            var u = navigator.userAgent;
                            var e =/*cc_on!*/false; var st = setTimeout; if (/webkit/i.test(u)) {
                                st(function () {
                                    var dr = document.readyState;
                                    if (dr == "loaded" || dr == "complete") { i() } else { st(arguments.callee, 10); }
                                }, 10);
                            }
                            else if ((/mozilla/i.test(u) && !/(compati)/.test(u)) || (/opera/i.test(u))) {
                                document.addEventListener("DOMContentLoaded", i, false);
                            } else if (e) {
                                (
                                    function () {
                                        var t = document.createElement("doc:rdy"); try {
                                            t.doScroll("left");
                                            i(); t = null;
                                        } catch (e) { st(arguments.callee, 0); }
                                    })();
                            } else { window.onload = i; }
                        })
                            (function () {
                                for (var i = 0; i < document.forms.length; i++) {
                                    if (document.forms[i].guid != undefined) {
                                        document.forms[i].guid.value = LassoCRM.tracker.readCookie("ut");
                                    }
                                }
                            });
                </script>
                <script type="text/javascript">
                    /*<![CDATA[*/
                    APP.initStickyNav();
/*]]>*/
                </script>
</body>
</html>