﻿@using ZeonPropertiesListing.Models
@model List<L_ListingTbl>
@{ 
   
}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Zeon Property</title>
    <meta name="description" content="Zeon Properties">
    <meta name="author" content="Kimarotec">
    <meta name="keyword" content="html5, css, bootstrap, property, real-estate theme , bootstrap template">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800' rel='stylesheet' type='text/css'>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">


    @*<link rel="stylesheet" href="~/Content/Custom_CSS/garo-estate/assets/css/normalize.css">
        <link rel="stylesheet" href="~/Content/Custom_CSS/garo-estate/assets/css/font-awesome.min.css">
        <link rel="stylesheet" href="~/Content/Custom_CSS/garo-estate/assets/css/fontello.css">
        <link href="~/Content/Custom_CSS/garo-estate/assets/fonts/icon-7-stroke/css/pe-icon-7-stroke.css" rel="stylesheet">
        <link href="~/Content/Custom_CSS/garo-estate/assets/fonts/icon-7-stroke/css/helper.css" rel="stylesheet">
        <link href="~/Content/Custom_CSS/garo-estate/assets/css/animate.css" rel="stylesheet" media="screen">
        <link rel="stylesheet" href="~/Content/Custom_CSS/garo-estate/assets/css/bootstrap-select.min.css">
        <link rel="stylesheet" href="~/Content/Custom_CSS/garo-estate/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="~/Content/Custom_CSS/garo-estate/assets/css/icheck.min_all.css">
        <link rel="stylesheet" href="~/Content/Custom_CSS/garo-estate/assets/css/price-range.css">
        <link rel="stylesheet" href="~/Content/Custom_CSS/garo-estate/assets/css/owl.carousel.css">
        <link rel="stylesheet" href="~/Content/Custom_CSS/garo-estate/assets/css/owl.theme.css">
        <link rel="stylesheet" href="~/Content/Custom_CSS/garo-estate/assets/css/owl.transitions.css">
        <link rel="stylesheet" href="~/Content/Custom_CSS/garo-estate/assets/css/style.css">
        <link rel="stylesheet" href="~/Content/Custom_CSS/garo-estate/assets/css/responsive.css">*@
    
   
    <script type="text/javascript">
        $(document).ready(function (){
            $('#state').on('change',
                function () {
                    $('#comboBoxRoad option').remove();
                    var stateName = $('#state option:selected').val();
                    $.ajax({
                        type: 'GET',
                        data: {
                            stateName: stateName
                        },
                        url: '@Url.Action("loadArea", "Home")',
                        success: function (result) {
                            console.log("success");
                            //var area = JSON.parse(result);
                            var a = '<option value="">-Location-</option>';
                            for (var i = 0; i < result.length; i++) {

                                a += '<option value = "' + result[i].aName + '">' + result[i].aName + '</option>';

                            }
                            $('#area').html(a);
                        },

                        error: function (x, e) { //xhr, status, p3, p4

                            if (x.status == 0) {
                                console.log('UploadFile: You are offline!!\n Please Check Your Network.');
                            } else if (x.status == 404) {
                                console.log('UploadFile: Requested URL not found.');
                            } else if (x.status == 500) {
                                console.log('UploadFile: Internel Server Error.');
                            } else if (e == 'parsererror') {
                                console.log('UploadFile: Error.\nParsing JSON Request failed.');
                            } else if (e == 'timeout') {
                                console.log('UploadFile: Request Time out.');
                            } else {
                                console.log('UploadFile: Unknow Error.\n' + x.responseText);
                            }

                        }
                    });

                });
        });

        
    </script>


</head>
<body>

    @{
        using (Html.BeginForm("Index", "Home", FormMethod.Get))
        {



            <div class="slider-area">
                <div class="slider">
                    <div id="bg-slider" class="owl-carousel owl-theme">
                        <div class="item"><img src="~/Content/Custom_CSS/Mainpage_img/Zeon_MainPage_img(3).jpg" alt="Mirror Edge"></div>
                        <div class="item"><img src="~/Content/Custom_CSS/Mainpage_img/Zeon_MainPage_img(2).jpg" alt="The Last of us"></div>

                    </div>
                </div>

                <div class="container slider-content">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12">
                            <h2 style="font-family: 'Archivo Black', sans-serif;">Welcome to Zeon Properties</h2>
                            <p>ZEON PROPERTIES is an integrated property and infrastructure solutions provider.</p>
                            <div class="search-form wow pulse" data-wow-delay="0.8s">
                                <div class=" form-inline">
                                    <button class="btn  toggle-btn" type="button"><i class="fa fa-bars"></i></button>
                                    <div class="form-group">

                                        <input type="text" id="adstitle" name="adstitle" class="form-control" placeholder="Search By Ads Title">
                                    </div>
                                    <div class="form-group">
                                        <select id="state" name="state" class="selectpicker" title="Select State">
                                            <option value=""> -State- </option>
                                            @foreach (var state in ViewBag.DrpDownState)
                                            {

                                                <option value="@state.StateName">@state.StateName</option>

                                            }
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <select id="area" name="area" class="selectpicker" title="Location">
                                            <option value="">-Location-</option>

                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <select id="listingtype" name="listingtype" class="selectpicker show-tick form-control">
                                            <option value=""> -Status- </option>
                                            @foreach (var ListingType in ViewBag.GetListingType)
                                            {

                                                <option value="@ListingType">@ListingType</option>

                                            }
                                        </select>
                                    </div>
                                   
                                    <button class="btn search-btn" type="submit"><i class="fa fa-search"></i></button>
                                    <div style="display: none;" class="search-toggle">
                                        <div class="search-row">
                                            <div class="form-group mar-r-20">
                                                <label for="price-range">Price range ($):</label>
                                                <input type="text" class="span2" value="" data-slider-min="0"
                                                       data-slider-max="600" data-slider-step="5"
                                                       data-slider-value="[0,450]" id="price-range"><br />
                                                <b class="pull-left color">2000$</b>
                                                <b class="pull-right color">100000$</b>
                                            </div>
                                            <!-- End of  -->
                                            <div class="form-group mar-l-20">

                                                <label for="property-geo">Build Up Area (sq.ft) :</label>
                                                <input type="text" class="span2" value="" data-slider-min="0"
                                                       data-slider-max="600" data-slider-step="5"
                                                       data-slider-value="[50,450]" id="property-geo"><br />
                                                <b class="pull-left color">40m</b>
                                                <b class="pull-right color">12000m</b>
                                            </div>
                                            <!-- End of  -->
                                            <div class="form-group mar-l-20">
                                                <input type="checkbox" name="urgent_chck" value="Urgent" />
                                                <label style="color:black; font-weight:bold;">URGENT</label>
                                                </div>
                                            </div>





                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- property area -->
            <div class="content-area recent-property" style="padding-bottom: 60px; background-color: rgb(252, 252, 252);">
                <div class="container">
                    <div class="row">

                        <div class="col-md-12 padding-top-40">
                            <div class="button-images">
                                <div class="one_sixth">
                                    <div class="button-container">
                                        
                                        <button type="submit" id="pricelessthan400" name="pricelessthan400" value="400000.00">
                                            <img src="~/Content/Custom_CSS/Mainpage_img/prop_option1.png" /> Price < 400K
                                        </button>
                                        

                                    </div>
                                </div>
                                <div class="one_sixth">
                                    <div class="button-container">
                                        <a href="#">Price 400k - 600k</a>
                                        <img src="~/Content/Custom_CSS/Mainpage_img/prop_option2.png" />
                                    </div>
                                </div>
                                <div class="one_sixth">
                                    <div class="button-container">
                                        <button type="submit" id="apartment" name="apartment" value="Apartment">Apartment</button>
                                        <img src="~/Content/Custom_CSS/Mainpage_img/prop_option3.png" />
                                    </div>
                                </div>
                                <div class="one_sixth">
                                    <div class="button-container">
                                        <a href="#">0% Down Payment</a>
                                        <img src="~/Content/Custom_CSS/Mainpage_img/prop_option4.png" />
                                    </div>
                                </div>
                                <div class="one_sixth">
                                    <div class="button-container">
                                        <a href="#">New Projects</a>
                                        <img src="~/Content/Custom_CSS/Mainpage_img/prop_option5.png" />
                                    </div>
                                </div>
                                <div class="one_sixth">
                                    <div class="button-container">
                                        <a href="#">Commercial Properties</a>
                                        <img src="~/Content/Custom_CSS/Mainpage_img/prop_option6.png" />
                                    </div>
                                </div>


                                <div class="clearboth"></div>
                            </div>

                        </div>


                        <div class="col-md-12  padding-top-40 properties-page">

                            <div class="col-md-12 ">
                                <div class="col-xs-10 page-subheader sorting pl0">
                                    <ul class="sort-by-list">
                                        <li class="active">
                                            <div class="order_by_date" data-orderby="property_date" data-order="ASC">
                                                Newest Listing
                                            </div>
                                        </li>

                                    </ul><!--/ .sort-by-list-->

                                </div>
                                <div class="col-xs-2 layout-switcher">
                                    <a class="layout-list" href="javascript:void(0);"> <i class="fa fa-th-list"></i>  </a>
                                    <a class="layout-grid active" href="javascript:void(0);"> <i class="fa fa-th"></i> </a>
                                </div><!--/ .layout-switcher-->
                            </div>
                            <div class="col-md-12 ">
                                <div id="list-type" class="proerty-th">
                                    @{
                                        string[] arr = { };

                                        foreach (L_ListingTbl p in Model)
                                        {
                                            arr = p.Photo.Split(',');
                                            <div class="col-sm-6 col-md-3 p0">
                                                <div class="box-two proerty-item">
                                                    <div class="item-thumb">
                                                        <a href="@Url.Action("ViewProperty", "Home", new { p.Id, p.PropertyType })">
                                                            @{
                                                                if (!string.IsNullOrEmpty(p.Photo))
                                                                {

                                                                    <img src="@Url.Content("~/Image/" + System.IO.Path.GetFileName(arr[0]))">

                                                                }

                                                                if (string.IsNullOrEmpty(p.Photo))
                                                                {
                                                                    <img src="~/Content/Custom_CSS/Mainpage_img/No listing img.jpeg" />
                                                                }



                                                            }

                                                        </a>
                                                    </div>
                                                    <div class="item-entry overflow">
                                                        @{
                                                            if (p.UrgentListing == "Urgent")
                                                            {
                                                                <h4 style="color:orangered; font-weight:bold;">URGENT</h4>
                                                            }
                                                        }
                                                        <h5><a href="property-1.html">@p.AdsTitle </a></h5>

                                                        <div class="dot-hr"></div>
                                                        @{
                                                            if (p.ListingType == "Rent")
                                                            {
                                                                <span class="proerty-price pull-left">Rent: RM @Convert.ToDecimal(p.ListingPrice).ToString("#,##0")</span>


                                                            }

                                                            else if (p.ListingType == "Sale")
                                                            {
                                                                <span class="proerty-price pull-right">
                                                                    Sale: RM  @Convert.ToDecimal(p.ListingPrice).ToString("#,##0")
                                                                </span>
                                                            }

                                                            else if (p.ListingType == "Rent & Sale")
                                                            {
                                                                <span class="proerty-price pull-left">Rent: RM @Convert.ToDecimal(p.ListingPrice).ToString("#,##0")</span>
                                                                <span class="proerty-price pull-right">Sale: RM @Convert.ToDecimal(p.ListingSale).ToString("#,##0")</span>
                                                            }

                                                        }
                                                        @*<span class="pull-left"><b> Area :</b> @Convert.ToDecimal(p.BuildUp).ToString("#,##0")sqft</span>*@
                                                        <p style="display:none;"></p>
                                                        <div class="property-icon">
                                                            @{
                                                                if (p.AddedDate == DateTime.Now)
                                                                {
                                                                    <span class="proerty-price pull-left" style="color:black">Today @Html.ValueFor(model => p.AddedDate, "{0:HH:mm}")</span>
                                                                }

                                                                else
                                                                {
                                                                    <span class="proerty-price pull-left" style="color:black">@Html.ValueFor(model => p.AddedDate, "{0:dd/MM/yyyy HH:mm}")</span>
                                                                }
                                                            }
                                                        </div>
                                                        <p style="display: none;"></p>


                                                        <div class="property-icon">
                                                            <span class="proerty-price pull-left" style="color: dimgray">@p.Area,@p.State</span>
                                                        </div>
                                                        <div class="property-icon">
                                                            <span class="proerty-price pull-left" style="color:gray">
                                                                <img src="~/Content/Custom_CSS/garo-estate/assets/img/icon/icon (1).png"> @p.PropertyType
                                                            </span>
                                                            <span class="proerty-price pull-right" style="color:gray">
                                                                <img src="~/Content/Custom_CSS/garo-estate/assets/img/icon/shape.png">@p.BuildUp sq.ft
                                                            </span>

                                                        </div>
                                                        <div class="property-icon">
                                                            <span class="proerty-price pull-left" style="color:gray">
                                                                <img src="~/Content/Custom_CSS/garo-estate/assets/img/icon/bed.png"> Bedroom @p.Room
                                                            </span>
                                                            <span class="proerty-price pull-right" style="color:gray">
                                                                <img src="~/Content/Custom_CSS/garo-estate/assets/img/icon/bathtub-with-opened-shower.png">Bathroom @p.Bathroom
                                                            </span>
                                                        </div>
                                                        @*<div class="property-icon">
            <img src="~/Content/Custom_CSS/garo-estate/assets/img/icon/garage.png">Carpark @p.Carpark

        </div>*@


                                                    </div>

                                                </div>
                                            </div>
                                        }
                                    }


                                </div>

                            </div>

                            <div class="col-md-12 center">

                                <button class="navbar-btn nav-button wow bounceInRight login" onclick=" window.open('register.html')" data-wow-delay="0.4s">Show More</button>
                                @*<div class="pagination pagination-number">
                                        <ul>
                                            <li class="inactive"><a href="/"><</a></li>
                                            <li class="active"><a href="/">1</a></li>
                                            <li class="inactive"><a href="/">2</a></li>
                                            <li class="inactive"><a href="/">3</a></li>
                                            <li class="inactive"><a href="/">..</a></li>
                                            <li class="inactive"><a href="/">8</a></li>
                                            <li class="inactive"><a href="/">></a></li>
                                        </ul>
                                    </div>*@

                            </div>


                            @*<div class="col-md-12">
                                    <div class="pull-right">
                                        <div class="pagination">
                                            <ul>
                                                <li><a href="#">Prev</a></li>
                                                <li><a href="#">1</a></li>
                                                <li><a href="#">2</a></li>
                                                <li><a href="#">3</a></li>
                                                <li><a href="#">4</a></li>
                                                <li><a href="#">Next</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>*@
                        </div>
                    </div>

                </div>
            </div>

        }
    }

    <script src="~/Content/Custom_CSS/garo-estate/assets/js/jquery-1.10.2.min.js"></script>
    @*<script src="~/Content/Custom_CSS/garo-estate/assets/js/modernizr-2.6.2.min.js"></script>
        <script src="~/Content/Custom_CSS/garo-estate/bootstrap/js/bootstrap.min.js"></script>
        <script src="~/Content/Custom_CSS/garo-estate/assets/js/bootstrap-select.min.js"></script>
        <script src="~/Content/Custom_CSS/garo-estate/assets/js/bootstrap-hover-dropdown.js"></script>
        <script src="~/Content/Custom_CSS/garo-estate/assets/js/easypiechart.min.js"></script>
        <script src="~/Content/Custom_CSS/garo-estate/assets/js/jquery.easypiechart.min.js"></script>
        <script src="~/Content/Custom_CSS/garo-estate/assets/js/owl.carousel.min.js"></script>
        <script src="~/Content/Custom_CSS/garo-estate/assets/js/wow.js"></script>
        <script src="~/Content/Custom_CSS/garo-estate/assets/js/icheck.min.js"></script>
        <script src="~/Content/Custom_CSS/garo-estate/assets/js/price-range.js"></script>*@
    @*<script src="~/Content/Custom_CSS/garo-estate/assets/js/main.js"></script>*@

   
</body>
</html>
