﻿@model ZeonPropertiesListing.Models.L_BlogTbl
@using ZeonPropertiesListing.Models

@{
    ViewBag.Title = "News2";
}

<html>
<head>
    <script type="text/javascript">
        //              DO NOT IMPLEMENT                //
        //       this code through the following        //
        //                                              //
        //   Floodlight Pixel Manager                   //
        //   DCM Pixel Manager                          //
        //   Any system that places code in an iframe   //
        (function () {
            var s = document.createElement('script');
            s.type = 'text/javascript';
            s.async = true;
            s.src = ('https:' == document.location.protocol ? 'https://s' : 'http://i')
                + '.po.st/static/v4/post-widget.js#publisherKey=cuf57q4dqcskodbj1khj';
            var x = document.getElementsByTagName('script')[0];
            x.parentNode.insertBefore(s, x);
        })();
    </script>
</head>

<body>


    <div class="page-head">
        <div class="container">
            <div class="row">
                <div class="page-head-content">
                    <h1 class="page-title">Blog Title</h1>
                </div>
            </div>
        </div>
    </div>

    <br /><br />

    <div class="properties-area recent-property" style="background-color: #FFF;">
        <div class="container">
            <div class="row">


               


                <div class="blog-lst col-md-8 col-lg-offset-1">
                    <section id="id-100" class="post single">

                        <div class="post-header single">
                            <div class="">
                                <h2 class="wow fadeInLeft animated">@Html.DisplayFor(model => model.BlogTitle)</h2>
                                <div class="title-line wow fadeInRight animated"></div>
                            </div>
                            <div class="row wow fadeInRight animated">
                                <div class="col-sm-6">
                                    <p class="author-category">
                                        @*By <a href="#">@Html.DisplayFor(model => model.PostedBy)</a>*@
                                          By <a href="#">Zeon Properties</a>

                                    </p>
                                </div>
                                <div class="col-sm-6 right">
                                    <p class="date-comments">
                                        <a href="#"><i class="fa fa-calendar-o"></i> @Html.ValueFor(model => model.CreatedDate, "{0:dd/MM/yyyy HH:mm:ss}")</a>

                                    </p>
                                </div>
                            </div>
                            <div class="image wow fadeInRight animated">
                                <img src="../..@Html.DisplayFor(model => model.Photo)" class="img-responsive" alt="Example blog post alt">
                            </div>
                        </div>

                        <div id="post-content" class="post-body single wow fadeInLeft animated">
                            <p>
                                <strong>Description</strong>
                                @Html.Raw(Model.Description1)
                            </p>


                            @*<h2>Header Level 2</h2>
                                <ol>
                                    <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                                    <li>Aliquam tincidunt mauris eu risus.</li>
                                </ol>*@

                            <blockquote>
                                <p>
                                    @Html.Raw(Model.Description2)
                                </p>
                            </blockquote>

                            @*<h3>Header Level 3</h3>*@



                            @*<ul>
                                    <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                                    <li>Aliquam tincidunt mauris eu risus.</li>
                                </ul>*@

                            <p>
                                @Html.Raw(Model.Description3)
                            </p>

                        </div>
                        <div class="pw-server-widget" data-id="wid-p9b56311"></div>
                        <div class="post-footer single wow fadeInBottum animated">
                            <ul class="pager">
                                <li class="previous"><a href="#"><i class=""></i>← Older </a></li>
                                <li class="next"><a href="#">Newer →<i class=""></i> </a></li>
                            </ul>
                        </div>

                    </section>

                    <section class="about-autor"></section>




                </div>


            </div>
        </div>
    </div>

</body>

</html>

