﻿@using ZeonPropertiesListing.Models
@model List<L_BlogTbl>
@{
    ViewBag.Title = "News";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Zeon Property | News</title>
    <meta name="description" content="Zeon Properties">
    <meta name="author" content="Kimarotec">
    <meta name="keyword" content="html5, css, bootstrap, property, real-estate theme , bootstrap template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script>
        (function () {
            var docEl = document.documentElement;

            if (docEl.classList) {
                docEl.classList.remove('no-js');
                docEl.classList += 'js';
            } else {
                var reJS = new RegExp('(^|\\s)no-js(\\s|$)');
                var className = docEl.className;
                className = className.replace(reJS, '$1js$2');
                docEl.className = className;
            }
        })();
    </script>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800' rel='stylesheet' type='text/css'>

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <link href="https://fonts.googleapis.com/css?family=Lora|Noto+Sans|PT+Sans+Narrow" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto+Condensed" rel="stylesheet">



    <!--<link rel="stylesheet" href="assets/css/normalize.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/fontello.css">
    <link href="assets/fonts/icon-7-stroke/css/pe-icon-7-stroke.css" rel="stylesheet">
    <link href="assets/fonts/icon-7-stroke/css/helper.css" rel="stylesheet">
    <link href="assets/css/animate.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="assets/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/icheck.min_all.css">
    <link rel="stylesheet" href="assets/css/price-range.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.css">
    <link rel="stylesheet" href="assets/css/owl.theme.css">
    <link rel="stylesheet" href="assets/css/owl.transitions.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">-->
</head>
<body>


    <div class="page-head">
        <div class="container">
            <div class="row">
                <div class="page-head-content">
                    <h1 class="page-title">News</h1>
                </div>
            </div>
        </div>
    </div>

    <br /><br />


   
        <div class="container">
            <div class="content-area blog-page padding-top-40" style="background-color: #FCFCFC; padding-bottom: 55px;">
                <div class="container">
                    <div class="row">
                        <div class="blog-lst col-md-12 pl0">
                            @foreach (L_BlogTbl b in Model)
                            {


                            <section class="post">
                                <div class="text-center padding-b-50">
                                    <h2 class="wow fadeInLeft animated">@b.BlogTitle</h2>
                                    <div class="title-line wow fadeInRight animated"></div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <p class="author-category">
                                            @*By <a href="#">@b.PostedBy</a>*@
                                              By <a href="#">Zeon Properties</a> 

                                        </p>
                                    </div>
                                    <div class="col-sm-6 right">
                                        <p class="date-comments">
                                            <a href="#"><i class="fa fa-calendar-o"></i>@b.CreatedDate</a>

                                        </p>
                                    </div>
                                </div>
                                <div class="image wow fadeInLeft animated">
                                    <a href="single.html">
                                        <img src="../..@b.Photo" class="img-responsive" alt="Example blog post alt">
                                    </a>
                                </div>
                                <p class="intro">@Html.Raw(b.Description1)</p>
                                @*<p class="intro">@Html.Raw(item.Description2)</p>
                                <p class="intro">@Html.Raw(item.Description3)</p>*@
                                <p class="read-more">
                                    <a href="@Url.Action("News2", "Home", new { b.Id })" class="btn btn-default btn-border">Continue reading</a>
                                </p>
                            </section>
                            }

                            @*<section class="post">
            <div class="text-center padding-b-50">
                <h2 class="wow fadeInLeft animated">Blog Title 2</h2>
                <div class="title-line wow fadeInRight animated"></div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <p class="author-category">
                        By <a href="#">John Snow</a>

                    </p>
                </div>
                <div class="col-sm-6 right">
                    <p class="date-comments">
                        <a href="single.html"><i class="fa fa-calendar-o"></i> June 20, 2013</a>

                    </p>
                </div>
            </div>
            <div class="image wow fadeInLeft animated">
                <a href="single.html">
                    <img src="~/Content/Custom_CSS/Mainpage_img/zeon_logo.png" class="img-responsive" alt="Example blog post alt">
                </a>
            </div>
            <p class="intro">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
            <p class="read-more">
                <a href="single.html" class="btn btn-default btn-border">Continue reading</a>
            </p>
        </section>*@

                            @*<section class="post">
            <div class="text-center padding-b-50">
                <h2 class="wow fadeInLeft animated">Blog Title 3</h2>
                <div class="title-line wow fadeInRight animated"></div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <p class="author-category">
                        By <a href="#">John Snow</a>

                    </p>
                </div>
                <div class="col-sm-6 right">
                    <p class="date-comments">
                        <a href="single.html"><i class="fa fa-calendar-o"></i> June 20, 2013</a>

                    </p>
                </div>
            </div>
            <div class="image wow fadeInLeft animated">
                <a href="single.html">
                    <img src="~/Content/Custom_CSS/Mainpage_img/googlepartner.jpg" class="img-responsive" alt="Example blog post alt">
                </a>
            </div>
            <p class="intro">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
            <p class="read-more">
                <a href="single.html" class="btn btn-default btn-border">Continue reading</a>
            </p>
        </section>*@

                        </div>
                    </div>

                </div>

                <div class="col-md-12">
                    <div class="pull-center">
                        <div class="pagination">
                            <ul>
                                <li><a href="#">Prev</a></li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">Next</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
</div>


 

    <script src="~/Content/Custom_CSS/garo-estate/assets/js/jquery-1.10.2.min.js"></script>

    @*<script src="assets/js/modernizr-2.6.2.min.js"></script>
        <script src="assets/js/jquery-1.10.2.min.js"></script>
        <script src="bootstrap/js/bootstrap.min.js"></script>
        <script src="assets/js/bootstrap-select.min.js"></script>
        <script src="assets/js/bootstrap-hover-dropdown.js"></script>
        <script src="assets/js/easypiechart.min.js"></script>
        <script src="assets/js/jquery.easypiechart.min.js"></script>
        <script src="assets/js/owl.carousel.min.js"></script>
        <script src="assets/js/wow.js"></script>
        <script src="assets/js/icheck.min.js"></script>
        <script src="assets/js/price-range.js"></script>
        <script src="assets/js/main.js"></script>*@
</body>
</html>






