﻿@{
    Layout = null;
}

<!DOCTYPE html>
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" class="no-js">



<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Accept-CH" content="DPR, Width, Viewport-Width">
    <script>
        (function () {
            var docEl = document.documentElement;

            if (docEl.classList) {
                docEl.classList.remove('no-js');
                docEl.classList += 'js';
            } else {
                var reJS = new RegExp('(^|\\s)no-js(\\s|$)');
                var className = docEl.className;
                className = className.replace(reJS, '$1js$2');
                docEl.className = className;
            }
        })();
    </script>
    <link rel="stylesheet" href="~/css/bless.css">
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/cityofdreams_logo2.jpg">
    <link rel="icon" type="image/png" sizes="16x16" href="images/cityofdreams_logo2.jpg">
    <link rel="manifest" href="manifest.html">
    <link rel="mask-icon" href="safari-pinned-tab.html" color="#5bbad5">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto+Condensed" rel="stylesheet">

  
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/cityofdreams_logo2.jpg">
    <link rel="icon" type="image/png" sizes="16x16" href="images/cityofdreams_logo2.jpg">
    <link rel="manifest" href="manifest.html">
    <link rel="mask-icon" href="safari-pinned-tab.html" color="#5bbad5">

    <link href="https://fonts.googleapis.com/css?family=Lora|Noto+Sans|PT+Sans+Narrow" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto+Condensed" rel="stylesheet">

    <meta name="theme-color" content="#000000">
    <title>Ewein Zenith | Contact Us</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="referrer" content="no-referrer-when-downgrade" />
    <meta name="robots" content="all" />
    <meta name="description" content="Ewein Zenith, by name and by nature, is Malaysia’s premier lifestyle developer. A member of public listed Malaysia-based investment holding company Ewein Berhad" />
</head>

<body class="">
    <a href="#mainContent" class="skip-to">Skip to content</a>
    <div class="l-site-wrap">
        <div class="l-site-logo">
            <div class="l-grid">
                <div class="l-grid__content">
                    <a href="index.html" title="Home" class="logo">
                        <svg class="logo" width="214" height="29" viewBox="0 0 214 29" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <title>logo</title>
                            <br>
                            <img src="~/Content/Custom_CSS/Mainpage_img/zeon_logo.png" width="15%" height="auto">
                        </svg>
                    </a>
                </div>
            </div>
        </div>


        <header class="l-site-header js-nav" role="banner">
            <div class="l-site-header__progress js-progress">
                <span class="l-site-header__progress-bar js-progress__bar"></span>
            </div>
            <div class="l-site-header__trigger">
                <div class="l-nav-trigger">
                    <div class="l-nav-trigger__menu">
                        <button class="menu-btn js-nav__trigger">
                            <div class="menu-btn__text">Menu</div>
                            <div class="menu-dots">

                            </div>
                        </button>
                    </div>
                    <div class="l-nav-trigger__scroll">
                        <div class="scroll js-scroll">
                            <span class="scroll__icon">
                                <svg width="12" height="13" viewBox="0 0 12 13" xmlns="http://www.w3.org/2000/svg"><title>icon-scroll</title><g id="Page-1" fill="none" fill-rule="evenodd"><g id="icon-scroll" stroke-width="1.2" stroke="#221F20"><path id="Stroke-1" d="M1 1l5.028 4.616L11.056 1" /><path id="Stroke-1-Copy" d="M1 7l5.028 4.616L11.056 7" /></g></g></svg>
                            </span>
                            <span class="scroll__text">
                                Team
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="l-site-header__body js-nav__target">
                <div class="l-nav-body">
                    <div class="l-nav-body__close">
                        <button class="btn btn--icon js-nav__close">
                            <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>close</title><g id="Page-1" fill="currentColor" fill-rule="evenodd"><g id="close" fill-rule="nonzero"><path d="M10 9.148L1.849.998 1 1.846l8.151 8.15-8.15 8.15.848.848L10 10.844l8.151 8.15.849-.848-8.151-8.15L19 1.846l-.848-.848L10 9.148z" id="Combined-Shape" /></g></g></svg>
                        </button>
                    </div>
                    <div class="l-nav-body__logo">
                        <a href="index.html">
                            <img src="~/Content/Custom_CSS/Mainpage_img/zeon_logo.png">
                        </a>
                        
                    </div>

                    <h3><b>Career Path</b></h3>
                    <div class="l-nav-body__nav">
                        <nav role="navigation">
                            <ul class="primary-nav">
                                <li class="primary-nav__item">
                                    <a href="#development" />
                                    <span class="fancy-hover" aria-label="Corporate">
                                        <span>Marketing</span>
                                        </a>
                                </li>
                                <li class="primary-nav__item">
                                    <a href="#salesMarketing" />
                                    <span class="fancy-hover" aria-label="Developments">
                                        <span>Business Development</span>
                                        </a>
                                </li>

                                <li class="primary-nav__item">
                                    <a href="#design" />
                                    <span class="fancy-hover" aria-label="News">
                                        <span>Consultant</span>
                                        </a>
                                </li>
                                <li class="primary-nav__item">
                                    <a href="#legal" />
                                    <span class="fancy-hover" aria-label="Contact Us">
                                        <span>Management Assistant</span>
                                        </a>
                                </li>
                                <li class="primary-nav__item">
                                    <a href="#designer" />
                                    <span class="fancy-hover" aria-label="Contact Us">
                                        <span>Designer</span>
                                        </a>
                                </li>
                                <li class="primary-nav__item">
                                    <a href="#finance" />
                                    <span class="fancy-hover" aria-label="Contact Us">
                                        <span>Finance Accoutant</span>
                                        </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="l-nav-body__cta">

                    </div>

                </div>
            </div>
        </header>

        <div id="mainContent" role="main">

            <section class="l-page-header l-page-header--photo">
                <div class="l-page-header__media">



                    <img src="~/Content/Custom_CSS/Mainpage_img/team_bg.jpg" />

                </div>
                <div class="l-page-header__content">
                    <div class="l-grid">
                        <div class="l-grid__content">


                            <div class="  header">

                                <h1 class="header__title">
                                    Meet our Team
                                </h1>




                            </div>
                        </div>
                    </div>
                </div>
            </section>

          
            <div class="l-section__body">
                
                <div class="container-544">
                    <section id="team1">
                        <div class="card1">
                            <img src="~/Content/Custom_CSS/Team_photos/Alex-Lee-passport-photo.v1.jpg" alt="" />
                            <div class="data1">
                                <h2>Alex Lee</h2>
                                <i>Chairman</i>
                                <p></p>
                                <a href="#" class="fa fa-facebook"></a>
                                <a href="#" class="fa fa-twitter"></a>
                                <a href="#" class="fa fa-behance"></a>
                            </div>
                        </div>
                        <div class="card1">
                            <img src="~/Content/Custom_CSS/Team_photos/Leon passport photo (grey base).jpg" alt="" />
                            <div class="data1">
                                <h2>Leon Lee</h2>
                                <i>Group Chief Executive Officer</i>
                                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Etiam sedesmi. Consectetur elit placerat mollis donec dolor.</p>
                                <a href="#" class="fa fa-facebook"></a>
                                <a href="#" class="fa fa-twitter"></a>
                                <a href="#" class="fa fa-behance"></a>
                            </div>
                        </div>

                    </section>
                    </div>

                <br /><br />
                <section id="team1">
                    <div class="card1">
                        <img src="~/Content/Custom_CSS/Team_photos/Stephen Kam.JPG" alt="" />
                        <div class="data1">
                            <h2>Stephen Kam</h2>
                            <i>Corporate Advisor & Registered Estate Agent</i>
                            
                            <a href="#" class="fa fa-facebook"></a>
                            <a href="#" class="fa fa-twitter"></a>
                            <a href="#" class="fa fa-behance"></a>
                        </div>
                    </div>
                    <div class="card1">
                        <img src="~/Content/Custom_CSS/Team_photos/Matthew.jpg" alt="" />
                        <div class="data1">
                            <h2>Matthew Goh</h2>
                            <i>Chief Marketing Officer</i>
                            <p></p>
                            <a href="#" class="fa fa-facebook"></a>
                            <a href="#" class="fa fa-twitter"></a>
                            <a href="#" class="fa fa-behance"></a>
                        </div>
                    </div>
                    <div class="card1">
                        <img src="~/Content/Custom_CSS/Team_photos/Sylvia Chew.jpg" alt="" />
                        <div class="data1">
                            <h2>Slyvia Chew</h2>
                            <i>Chief Finance Officer</i>
                            <p></p>
                            <a href="#" class="fa fa-facebook"></a>
                            <a href="#" class="fa fa-twitter"></a>
                            <a href="#" class="fa fa-behance"></a>
                        </div>
                    </div>

                </section>

                <br /><br />
                <section id="team1">
                    <div class="card1">
                        <img src="~/Content/Custom_CSS/Team_photos/Ronaldo-Lim.jpg" alt="" />
                        <div class="data1">
                            <h2>Ronaldo Lim</h2>
                            <i>Chief Marketing Officer (Hong Kong Division)</i>
                            <p></p>
                            <a href="#" class="fa fa-facebook"></a>
                            <a href="#" class="fa fa-twitter"></a>
                            <a href="#" class="fa fa-behance"></a>
                        </div>
                    </div>
                    <div class="card1">
                        <img src="~/Content/Custom_CSS/Team_photos/Jackson Khoo.JPG" alt="" />
                        <div class="data1">
                            <h2>Jackson Khoo</h2>
                            <i>Chief Marketing Officer (Indonesia Division)</i>
                            <p></p>
                            <a href="#" class="fa fa-facebook"></a>
                            <a href="#" class="fa fa-twitter"></a>
                            <a href="#" class="fa fa-behance"></a>
                        </div>
                    </div>
                    <div class="card1">
                        <img src="~/Content/Custom_CSS/Team_photos/Kathryn-Lee.jpg" alt="" />
                        <div class="data1">
                            <h2>Kathryn Lee</h2>
                            <i>Business Development Director (Taiwan Division)</i>
                            <p></p>
                            <a href="#" class="fa fa-facebook"></a>
                            <a href="#" class="fa fa-twitter"></a>
                            <a href="#" class="fa fa-behance"></a>
                        </div>
                    </div>

                </section>

                <br /><br />
                <section id="team1">
                    <div class="card1">
                        <img src="~/Content/Custom_CSS/Team_photos/Carol Cheah.JPG" alt="" />
                        <div class="data1">
                            <h2>Carol Cheah</h2>
                            <i>Business Development Director (China Division)</i>
                            <p></p>
                            <a href="#" class="fa fa-facebook"></a>
                            <a href="#" class="fa fa-twitter"></a>
                            <a href="#" class="fa fa-behance"></a>
                        </div>
                    </div>
                    <div class="card1">
                        <img src="~/Content/Custom_CSS/Team_photos/Aby Wang .jpg" alt="" />
                        <div class="data1">
                            <h2>Aby Wang</h2>
                            <i>Business Development Director (Singapore Division)</i>
                            <p></p>
                            <a href="#" class="fa fa-facebook"></a>
                            <a href="#" class="fa fa-twitter"></a>
                            <a href="#" class="fa fa-behance"></a>
                        </div>
                    </div>
                    <div class="card1">
                        <img src="~/Content/Custom_CSS/Team_photos/SUTEN1.jpg" alt="" />
                        <div class="data1">
                            <h2>Ooi Surteen</h2>
                            <i>Business Development Director</i>
                            <p></p>
                            <a href="#" class="fa fa-facebook"></a>
                            <a href="#" class="fa fa-twitter"></a>
                            <a href="#" class="fa fa-behance"></a>
                        </div>
                    </div>

                </section>

                <br /><br />
                <section id="team1">
                    <div class="card1">
                        <img src="~/Content/Custom_CSS/Team_photos/Jeffrey Chen.JPG" alt="" />
                        <div class="data1">
                            <h2>Jayfrey Chen</h2>
                            <i>MM2H Consultant Partner</i>
                            <p></p>
                            <a href="#" class="fa fa-facebook"></a>
                            <a href="#" class="fa fa-twitter"></a>
                            <a href="#" class="fa fa-behance"></a>
                        </div>
                    </div>
                    <div class="card1">
                        <img src="~/Content/Custom_CSS/Team_photos/Aaron Lim.JPG" alt="" />
                        <div class="data1">
                            <h2>Aaron Lim</h2>
                            <i>MM2H Consultant Partner</i>
                            <p></p>
                            <a href="#" class="fa fa-facebook"></a>
                            <a href="#" class="fa fa-twitter"></a>
                            <a href="#" class="fa fa-behance"></a>
                        </div>
                    </div>

                    <div class="card1">
                        <img src="~/Content/Custom_CSS/Team_photos/Joe Peen.JPG" alt="" />
                        <div class="data1">
                            <h2>Ng Joo Peen</h2>
                            <i>Business Development Director</i>
                            <p></p>
                            <a href="#" class="fa fa-facebook"></a>
                            <a href="#" class="fa fa-twitter"></a>
                            <a href="#" class="fa fa-behance"></a>
                        </div>
                    </div>

                </section>

                <br /><br />
                <section id="team1">
                   
                    <div class="card1">
                        <img src="~/Content/Custom_CSS/Team_photos/Arry Chong.jpg" alt="" />
                        <div class="data1">
                            <h2>Arry Chong</h2>
                            <i>Business Development Director</i>
                            <p></p>
                            <a href="#" class="fa fa-facebook"></a>
                            <a href="#" class="fa fa-twitter"></a>
                            <a href="#" class="fa fa-behance"></a>
                        </div>
                    </div>
                    <div class="card1">
                        <img src="~/Content/Custom_CSS/Team_photos/Vincent Koay.JPG" alt="" />
                        <div class="data1">
                            <h2>Vincent Koay</h2>
                            <i>Business Development Director</i>
                            <p></p>
                            <a href="#" class="fa fa-facebook"></a>
                            <a href="#" class="fa fa-twitter"></a>
                            <a href="#" class="fa fa-behance"></a>
                        </div>
                    </div>

                    <div class="card1">
                        <img src="~/Content/Custom_CSS/Team_photos/OOI OH KOK TEONG.JPG" alt="" />
                        <div class="data1">
                            <h2>Ooi Oh Kok Teong</h2>
                            <i>Business Development Director</i>
                            <p></p>
                            <a href="#" class="fa fa-facebook"></a>
                            <a href="#" class="fa fa-twitter"></a>
                            <a href="#" class="fa fa-behance"></a>
                        </div>
                    </div>

                </section>


                <br /><br />
                <section id="team1">
                   
                    <div class="card1">
                        <img src="~/Content/Custom_CSS/Team_photos/Sharon Khor.JPG" alt="" />
                        <div class="data1">
                            <h2>Sharon Khor</h2>
                            <i>Senior Marketing Executive</i>
                            <p></p>
                            <a href="#" class="fa fa-facebook"></a>
                            <a href="#" class="fa fa-twitter"></a>
                            <a href="#" class="fa fa-behance"></a>
                        </div>
                    </div>
                    <div class="card1">
                        <img src="~/Content/Custom_CSS/Team_photos/Joey Teoh.jpg" alt="" />
                        <div class="data1">
                            <h2>Joey Teoh</h2>
                            <i>City of Dreams Assistant Manager</i>
                            <p></p>
                            <a href="#" class="fa fa-facebook"></a>
                            <a href="#" class="fa fa-twitter"></a>
                            <a href="#" class="fa fa-behance"></a>
                        </div>
                    </div>
                    <div class="card1">
                        <img src="~/Content/Custom_CSS/Team_photos/Alwin Lim.JPG" alt="" />
                        <div class="data1">
                            <h2>Alwin Lim</h2>
                            <i>Studio Room General Manager</i>
                            <p></p>
                            <a href="#" class="fa fa-facebook"></a>
                            <a href="#" class="fa fa-twitter"></a>
                            <a href="#" class="fa fa-behance"></a>
                        </div>
                    </div>
                </section>

                <br /><br />
                <section id="team1">
                   
                    <div class="card1">
                        <img src="~/Content/Custom_CSS/Team_photos/James Chen.jpg" alt="" />
                        <div class="data1">
                            <h2>James Chen</h2>
                            <i>Whisky General Manager</i>
                            <p></p>
                            <a href="#" class="fa fa-facebook"></a>
                            <a href="#" class="fa fa-twitter"></a>
                            <a href="#" class="fa fa-behance"></a>
                        </div>
                    </div>
                    <div class="card1">
                        <img src="~/Content/Custom_CSS/Team_photos/Calynn Cheong.jpg" alt="" />
                        <div class="data1">
                            <h2>Calynn Cheong</h2>
                            <i>Executive Assistant to Management</i>
                            <p></p>
                            <a href="#" class="fa fa-facebook"></a>
                            <a href="#" class="fa fa-twitter"></a>
                            <a href="#" class="fa fa-behance"></a>
                        </div>
                    </div>
                    <div class="card1">
                        <img src="~/Content/Custom_CSS/Team_photos/BOEY.JPG" alt="" />
                        <div class="data1">
                            <h2>Amelia Boey</h2>
                            <i>Executive Assistant to Management</i>
                            <p></p>
                            <a href="#" class="fa fa-facebook"></a>
                            <a href="#" class="fa fa-twitter"></a>
                            <a href="#" class="fa fa-behance"></a>
                        </div>
                    </div>
                </section>

                <br /><br />
                <section id="team1">
                   
                    <div class="card1">
                        <img src="~/Content/Custom_CSS/Team_photos/Angnes Tor.jpg" alt="" />
                        <div class="data1">
                            <h2>Agnes Tor</h2>
                            <i>Executive Assistant to Management</i>
                            <p></p>
                            <a href="#" class="fa fa-facebook"></a>
                            <a href="#" class="fa fa-twitter"></a>
                            <a href="#" class="fa fa-behance"></a>
                        </div>
                    </div>
                    <div class="card1">
                        <img src="~/Content/Custom_CSS/Team_photos/Tan Chee Ping.JPG" alt="" />
                        <div class="data1">
                            <h2>Tan Chee Ping </h2>
                            <i>Executive Creative Director</i>
                            <p></p>
                            <a href="#" class="fa fa-facebook"></a>
                            <a href="#" class="fa fa-twitter"></a>
                            <a href="#" class="fa fa-behance"></a>
                        </div>
                    </div>
                    <div class="card1">
                        <img src="~/Content/Custom_CSS/Team_photos/Portrait Jes.jpg" alt="" />
                        <div class="data1">
                            <h2>Jes Khoo</h2>
                            <i>Executive Creative Director</i>
                            <p></p>
                            <a href="#" class="fa fa-facebook"></a>
                            <a href="#" class="fa fa-twitter"></a>
                            <a href="#" class="fa fa-behance"></a>
                        </div>
                    </div>

                </section>

                <br /><br />
                <section id="team1">
                   
                    <div class="card1">
                        <img src="~/Content/Custom_CSS/Team_photos/Ooi Han Czee.jpg" alt="" />
                        <div class="data1">
                            <h2>Ooi Han Czee</h2>
                            <i>Account Assistant</i>
                            <p></p>
                            <a href="#" class="fa fa-facebook"></a>
                            <a href="#" class="fa fa-twitter"></a>
                            <a href="#" class="fa fa-behance"></a>
                        </div>
                    </div>
                    <div class="card1">
                        <img src="~/Content/Custom_CSS/Team_photos/Tan Ee Wen.JPG" alt="" />
                        <div class="data1">
                            <h2>Tan Ee Wen</h2>
                            <i>Account Assistant</i>
                            <p></p>
                            <a href="#" class="fa fa-facebook"></a>
                            <a href="#" class="fa fa-twitter"></a>
                            <a href="#" class="fa fa-behance"></a>
                        </div>
                    </div>

                </section>

              



                </div>
                

            </div>




    </div>

    <footer role="contentinfo" class="l-site-footer">
        <div class="l-site-footer__body">
            <div class="l-footer-grid">
                <div class="l-footer-grid__logo">
                    <a href="index.html"><img src="~/Content/Custom_CSS/Mainpage_img/zeon_logo.png"></a>

                </div>

                <div class="l-footer-grid__contact">


                    <div class="  header header--blurb">

                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3972.126605472149!2d100.32716451486878!3d5.397673936722404!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x304ac3e7a593cbff%3A0xebbcc63e8357aaf2!2sZEON+PROPERTIES+GROUP!5e0!3m2!1sen!2smy!4v1518462749753" width="100%" height="300px" frameborder="0" style="border:0" allowfullscreen=""></iframe>

                    </div>

                    <p>
                        <u>
                            <a href="https://www.waze.com/ul?ll=5.39726110%2C100.32867740&navigate=yes&zoom=16">
                                <span><i class="pe-7s-map-marker"></i> Navigate with Waze</span>
                            </a>
                        </u>
                    </p>
                    <p>
                        <u>
                            <a href="https://goo.gl/maps/JQ72mkU2S7k">
                                <span><i class="pe-7s-global"></i> Navigate with Google Maps</span>
                            </a>
                        </u>
                    </p>
                </div>

                <div class="l-footer-grid__newsletter">




                    <div class="  header header--blurb">




                        <div class="header__excerpt">
                            <div class="rich-text">

                                <br />
                                <h3 style=" color: orangered;">Zeon Headquarters</h3>
                                <h4><i>Wisma Zeon</i></h4>
                                <h5>29C-03A-01, Persiaran Karpal Singh 2,</h5>
                                <h5>11600 Jelutong, Penang, Malaysia</h5>

                                <p>
                                    <a href="tel:+6012-443 8888">
                                        <span><i class="pe-7s-call"></i> +6012-443 8888</span>
                                    </a>
                                </p>
                                <p>
                                    <a href="mailto:info@zeon.com.my">
                                        <span><i class="pe-7s-mail"></i> info@zeon.com.my</span>
                                    </a>
                                </p>





                            </div>
                        </div>

                        @*<div class="header__cta">
                                <a href="developments/development_cityofdreams.html" class="btn">Projects</a>
                                <br>
                                <a href="news.html" class="btn">News</a>
                                <br>
                                <a href="contact.html" class="btn">Contact Us</a>
                            </div>*@

                    </div>
                </div>

            </div>
        </div>
    </footer>


    <script src="~/js/bless1.js"></script>
    <script src="~/js/bless2.js"></script>

    <script type="text/javascript">
        var _ldstJsHost = (("https:" == document.location.protocol) ? "https://" : "http://");
        _ldstJsHost += "app.lassocrm.com";
        document.write(unescape("%3Cscript src='" + _ldstJsHost + "/analytics.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
  <!--
  var LassoCRM = LassoCRM || {};
  (function(ns){
      ns.tracker = new LassoAnalytics('LAS-950739-01');
  })(LassoCRM);
  try {
      LassoCRM.tracker.setTrackingDomain(_ldstJsHost);
      LassoCRM.tracker.init();  // initializes the tracker
      LassoCRM.tracker.track(); // track() records the page visit with the current page title, to record multiple visits call repeatedly.
  } catch(error) {}
  -->
    </script>

    <!-- this is only for form pages, but all of our pages have forms -->
    <script type="text/javascript">
            (function (i) {
                var u = navigator.userAgent;
                var e =/*cc_on!*/false; var st = setTimeout; if (/webkit/i.test(u)) {
                    st(function () {
                        var dr = document.readyState;
                        if (dr == "loaded" || dr == "complete") { i() } else { st(arguments.callee, 10); }
                    }, 10);
                }
                else if ((/mozilla/i.test(u) && !/(compati)/.test(u)) || (/opera/i.test(u))) {
                    document.addEventListener("DOMContentLoaded", i, false);
                } else if (e) {
                    (
                        function () {
                            var t = document.createElement("doc:rdy"); try {
                                t.doScroll("left");
                                i(); t = null;
                            } catch (e) { st(arguments.callee, 0); }
                        })();
                } else { window.onload = i; }
            })
                (function () {
                    for (var i = 0; i < document.forms.length; i++) {
                        if (document.forms[i].guid != undefined) {
                            document.forms[i].guid.value = LassoCRM.tracker.readCookie("ut");
                        }
                    }
                });
    </script>
    <script type="text/javascript">
        /*<![CDATA[*/
        APP.initStickyNav();
/*]]>*/
    </script>
</body>
</html>