﻿@model ZeonPropertiesListing.Models.L_ListingTbl
@using ZeonPropertiesListing.Models
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>GARO ESTATE | Property  page</title>
    <meta name="description" content="GARO is a real-estate template">
    <meta name="author" content="Kimarotec">
    <meta name="keyword" content="html5, css, bootstrap, property, real-estate theme , bootstrap template">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800' rel='stylesheet' type='text/css'>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    @*<link rel="stylesheet" href="~/Content/Custom_CSS/garo-estate/assets/css/normalize.css">
        <link rel="stylesheet" href="~/Content/Custom_CSS/garo-estate/assets/css/font-awesome.min.css">
        <link rel="stylesheet" href="~/Content/Custom_CSS/garo-estate/assets/css/fontello.css">
        <link href="~/Content/Custom_CSS/garo-estate/assets/fonts/icon-7-stroke/css/pe-icon-7-stroke.css" rel="stylesheet">*@
    @*<link href="~/Content/Custom_CSS/garo-estate/assets/fonts/icon-7-stroke/css/helper.css" rel="stylesheet">
        <link href="~/Content/Custom_CSS/garo-estate/assets/css/animate.css" rel="stylesheet" media="screen">*@
    @*<link rel="stylesheet" href="~/Content/Custom_CSS/garo-estate/assets/css/bootstrap-select.min.css">
        <link rel="stylesheet" href="~/Content/Custom_CSS/garo-estate/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="~/Content/Custom_CSS/garo-estate/assets/css/icheck.min_all.css">
        <link rel="stylesheet" href="~/Content/Custom_CSS/garo-estate/assets/css/price-range.css">*@
    @*<link rel="stylesheet" href="~/Content/Custom_CSS/garo-estate/assets/css/owl.carousel.css">
        <link rel="stylesheet" href="~/Content/Custom_CSS/garo-estate/assets/css/owl.theme.css">
        <link rel="stylesheet" href="~/Content/Custom_CSS/garo-estate/assets/css/owl.transitions.css">*@
    @*<link rel="stylesheet" href="~/Content/Custom_CSS/garo-estate/assets/css/lightslider.min.css">*@
    @*<link rel="stylesheet" href="~/Content/Custom_CSS/garo-estate/assets/css/style.css">
        <link rel="stylesheet" href="~/Content/Custom_CSS/garo-estate/assets/css/responsive.css">*@

    <script type="text/javascript">
        //              DO NOT IMPLEMENT                //
        //       this code through the following        //
        //                                              //
        //   Floodlight Pixel Manager                   //
        //   DCM Pixel Manager                          //
        //   Any system that places code in an iframe   //
        (function () {
            var s = document.createElement('script');
            s.type = 'text/javascript';
            s.async = true;
            s.src = ('https:' == document.location.protocol ? 'https://s' : 'http://i')
                + '.po.st/static/v4/post-widget.js#publisherKey=cuf57q4dqcskodbj1khj';
            var x = document.getElementsByTagName('script')[0];
            x.parentNode.insertBefore(s, x);
        })();
    </script>
</head>
<body>


    <div class="page-head">
        <div class="container">
            <div class="row">
                <div class="page-head-content">
                    <h1 class="page-title">@Html.DisplayFor(model => model.AdsTitle)</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- End page header -->
    <!-- property area -->
    <div class="content-area single-property" style="background-color: #FCFCFC;">
        <div class="container">
            <div class="clearfix padding-top-40">
                <div class="col-md-8 single-property-content">
                    <div class="">
                        <div class="row">
                            <div class="light-slide-item">
                                <div class="clearfix">
                                    <div class="favorite-and-print">
                                        <a class="add-to-fav" href="#login-modal" data-toggle="modal">
                                            <i class="fa fa-star-o"></i>
                                        </a>
                                        <a class="printer-icon " href="javascript:window.print()">
                                            <i class="fa fa-print"></i>
                                        </a>
                                    </div>
                                    <ul id="image-gallery" class="gallery list-unstyled cS-hidden">
                                        @{
                                            string[] imggg = { };

                                            imggg = Model.Photo.Split(',');

                                            var n = 0; var s = "";
                                            foreach (var item in imggg)
                                            {

                                                n++;
                                                s = n.ToString();


                                                <li data-thumb="../../Image/@item.ToString()">
                                                    <img src="~/Image/@item.ToString()" />
                                                </li>




                                            }
                                        }


                                        @*<li data-thumb="../../Content/Custom_CSS/garo-estate/assets/img/property-1/property1.jpg">
                                                <img src="~/Content/Custom_CSS/garo-estate/assets/img/property-1/property1.jpg" />
                                            </li>*@

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="single-property-wrapper">
                            <div class="single-property-header">
                                <h1 class="property-title pull-left">@Html.DisplayFor(model => model.AdsTitle)</h1>
                                <span class="property-price pull-right"></span>
                            </div>
                            <div class="property-meta entry-meta clearfix ">
                                <div class="col-xs-3 col-sm-3 col-md-3 p-b-15">
                                    <span class="property-info-icon icon-tag">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 48 48">
                                            <path class="meta-icon" fill-rule="evenodd" clip-rule="evenodd" fill="#FFA500" d="M47.199 24.176l-23.552-23.392c-.504-.502-1.174-.778-1.897-.778l-19.087.09c-.236.003-.469.038-.696.1l-.251.1-.166.069c-.319.152-.564.321-.766.529-.497.502-.781 1.196-.778 1.907l.092 19.124c.003.711.283 1.385.795 1.901l23.549 23.389c.221.218.482.393.779.523l.224.092c.26.092.519.145.78.155l.121.009h.012c.239-.003.476-.037.693-.098l.195-.076.2-.084c.315-.145.573-.319.791-.539l18.976-19.214c.507-.511.785-1.188.781-1.908-.003-.72-.287-1.394-.795-1.899zm-35.198-9.17c-1.657 0-3-1.345-3-3 0-1.657 1.343-3 3-3 1.656 0 2.999 1.343 2.999 3 0 1.656-1.343 3-2.999 3z"></path>
                                        </svg>
                                    </span>
                                    <span class="property-info-entry">
                                        <span class="property-info-label" style="font-weight:bold;">Status</span>
                                        @{
                                            if (Model.ListingType == "Rent")
                                            {
                                                <span class="property-info-value">
                                                    For Rent
                                                </span>
                                            }

                                            if (Model.ListingType == "Sale")
                                            {
                                                <span class="property-info-value">
                                                    For Sale
                                                </span>
                                            }

                                            if (Model.ListingType == "Rent & Sale")
                                            {
                                                <span class="property-info-value">
                                                    For Rent & Sale
                                                </span>
                                            }
                                        }

                                    </span>
                                </div>
                                <div class="col-xs-3 col-sm-3 col-md-3 p-b-15">
                                    <span class="property-info icon-area">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 48 48">
                                            <path class="meta-icon" fill="#FFA500" d="M46 16v-12c0-1.104-.896-2.001-2-2.001h-12c0-1.103-.896-1.999-2.002-1.999h-11.997c-1.105 0-2.001.896-2.001 1.999h-12c-1.104 0-2 .897-2 2.001v12c-1.104 0-2 .896-2 2v11.999c0 1.104.896 2 2 2v12.001c0 1.104.896 2 2 2h12c0 1.104.896 2 2.001 2h11.997c1.106 0 2.002-.896 2.002-2h12c1.104 0 2-.896 2-2v-12.001c1.104 0 2-.896 2-2v-11.999c0-1.104-.896-2-2-2zm-4.002 23.998c0 1.105-.895 2.002-2 2.002h-31.998c-1.105 0-2-.896-2-2.002v-31.999c0-1.104.895-1.999 2-1.999h31.998c1.105 0 2 .895 2 1.999v31.999zm-5.623-28.908c-.123-.051-.256-.078-.387-.078h-11.39c-.563 0-1.019.453-1.019 1.016 0 .562.456 1.017 1.019 1.017h8.935l-20.5 20.473v-8.926c0-.562-.455-1.017-1.018-1.017-.564 0-1.02.455-1.02 1.017v11.381c0 .562.455 1.016 1.02 1.016h11.39c.562 0 1.017-.454 1.017-1.016 0-.563-.455-1.019-1.017-1.019h-8.933l20.499-20.471v8.924c0 .563.452 1.018 1.018 1.018.561 0 1.016-.455 1.016-1.018v-11.379c0-.132-.025-.264-.076-.387-.107-.249-.304-.448-.554-.551z"></path>
                                        </svg>
                                    </span>
                                    <span class="property-info-entry">
                                        <span class="property-info-label" style="font-weight:bold;">Build Up Area</span>
                                        <span class="property-info-value">@Html.DisplayFor(model => model.BuildUp)<b class="property-info-unit">Sq Ft</b></span>
                                    </span>
                                </div>
                                <div class="col-xs-3 col-sm-3 col-md-3 p-b-15">
                                    <span class="property-info-icon icon-bed">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 48 48">
                                            <path class="meta-icon" fill="#FFA500" d="M21 48.001h-19c-1.104 0-2-.896-2-2v-31c0-1.104.896-2 2-2h19c1.106 0 2 .896 2 2v31c0 1.104-.895 2-2 2zm0-37.001h-19c-1.104 0-2-.895-2-1.999v-7.001c0-1.104.896-2 2-2h19c1.106 0 2 .896 2 2v7.001c0 1.104-.895 1.999-2 1.999zm25 37.001h-19c-1.104 0-2-.896-2-2v-31c0-1.104.896-2 2-2h19c1.104 0 2 .896 2 2v31c0 1.104-.896 2-2 2zm0-37.001h-19c-1.104 0-2-.895-2-1.999v-7.001c0-1.104.896-2 2-2h19c1.104 0 2 .896 2 2v7.001c0 1.104-.896 1.999-2 1.999z"></path>
                                        </svg>
                                    </span>
                                    <span class="property-info-entry">
                                        <span class="property-info-label"style="font-weight:bold;">Bedrooms</span>
                                        <span class="property-info-value">@Html.DisplayFor(model => model.Room)</span>
                                    </span>
                                </div>
                                <div class="col-xs-3 col-sm-3 col-md-3 p-b-15">
                                    <span class="property-info-icon icon-bath">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 48 48">
                                            <path class="meta-icon" fill="#FFA500" d="M37.003 48.016h-4v-3.002h-18v3.002h-4.001v-3.699c-4.66-1.65-8.002-6.083-8.002-11.305v-4.003h-3v-3h48.006v3h-3.001v4.003c0 5.223-3.343 9.655-8.002 11.305v3.699zm-30.002-24.008h-4.001v-17.005s0-7.003 8.001-7.003h1.004c.236 0 7.995.061 7.995 8.003l5.001 4h-14l5-4-.001.01.001-.009s.938-4.001-3.999-4.001h-1s-4 0-4 3v17.005000000000003h-.001z"></path>
                                        </svg>
                                    </span>
                                    <span class="property-info-entry">
                                        <span class="property-info-label"style="font-weight:bold;">Bathrooms</span>
                                        <span class="property-info-value">@Html.DisplayFor(model => model.Bathroom)</span>
                                    </span>
                                </div>
                                <div class="col-xs-3 col-sm-3 col-md-3 p-b-15">
                                    <span class="property-info-icon icon-garage">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 48 48">
                                            <path class="meta-icon" fill="#FFA500" d="M44 0h-40c-2.21 0-4 1.791-4 4v44h6v-40c0-1.106.895-2 2-2h31.999c1.106 0 2.001.895 2.001 2v40h6v-44c0-2.209-1.792-4-4-4zm-36 8.001h31.999v2.999h-31.999zm0 18h6v5.999h-2c-1.104 0-2 .896-2 2.001v6.001c0 1.103.896 1.998 2 1.998h2v2.001c0 1.104.896 2 2 2s2-.896 2-2v-2.001h11.999v2.001c0 1.104.896 2 2.001 2 1.104 0 2-.896 2-2v-2.001h2c1.104 0 2-.895 2-1.998v-6.001c0-1.105-.896-2.001-2-2.001h-2v-5.999h5.999v-3h-31.999v3zm8 12.999c-1.104 0-2-.895-2-1.999s.896-2 2-2 2 .896 2 2-.896 1.999-2 1.999zm10.5 2h-5c-.276 0-.5-.225-.5-.5 0-.273.224-.498.5-.498h5c.275 0 .5.225.5.498 0 .275-.225.5-.5.5zm1-2h-7c-.275 0-.5-.225-.5-.5s.226-.499.5-.499h7c.275 0 .5.224.5.499s-.225.5-.5.5zm-6.5-2.499c0-.276.224-.5.5-.5h5c.275 0 .5.224.5.5s-.225.5-.5.5h-5c-.277 0-.5-.224-.5-.5zm11 2.499c-1.104 0-2.001-.895-2.001-1.999s.896-2 2.001-2c1.104 0 2 .896 2 2s-.896 1.999-2 1.999zm0-12.999v5.999h-16v-5.999h16zm-24-13.001h31.999v3h-31.999zm0 5h31.999v3h-31.999z"></path>
                                        </svg>
                                    </span>
                                    <span class="property-info-entry">
                                        <span class="property-info-label" style="font-weight:bold;">Carparks</span>
                                        <span class="property-info-value">@Html.DisplayFor(model => model.Carpark)</span>
                                    </span>
                                </div>

                            </div>
                            <!-- .property-meta -->
                            <div class="section">
                                <h4 class="s-property-title-viewproperty">Description</h4>
                                <div class="s-property-content">
                                    <p>@Html.Raw(Model.Description)</p>
                                </div>
                            </div>
                            <!-- End description area  -->
                            <div class="section additional-details">
                                <h4 class="s-property-title-viewproperty">Property Details</h4>
                                <ul class="additional-details-list clearfix">
                                    <li>
                                        <span class="col-xs-6 col-sm-4 col-md-4 add-d-title">Property Type</span>
                                        <span class="col-xs-6 col-sm-8 col-md-8 add-d-entry">@Html.DisplayFor(model => model.PropertyType)</span>
                                    </li>
                                    <li>
                                        <span class="col-xs-6 col-sm-4 col-md-4 add-d-title">Maintenance Fee</span>
                                        <span class="col-xs-6 col-sm-8 col-md-8 add-d-entry">@Html.DisplayFor(model => model.Maintenance)</span>
                                    </li>
                                    <li>
                                        <span class="col-xs-6 col-sm-4 col-md-4 add-d-title">Sinking Fund</span>
                                        <span class="col-xs-6 col-sm-8 col-md-8 add-d-entry">@Html.DisplayFor(model => model.Sinking)</span>
                                    </li>
                                    <li>
                                        <span class="col-xs-6 col-sm-4 col-md-4 add-d-title">Title Type</span>
                                        <span class="col-xs-6 col-sm-8 col-md-8 add-d-entry">@Html.DisplayFor(model => model.Title)</span>
                                    </li>

                                    <li>
                                        <span class="col-xs-6 col-sm-4 col-md-4 add-d-title">Other Info</span>
                                        <span class="col-xs-6 col-sm-8 col-md-8 add-d-entry">@Html.DisplayFor(model => model.Other)</span>
                                    </li>
                                </ul>
                            </div>
                            <!-- End additional-details area  -->
                            <div class="section property-features">
                                <h4 class="s-property-title-viewproperty">Features</h4>
                                <ul>
                                    @{
                                        string[] arr = { };

                                        if (!string.IsNullOrEmpty(Model.Condition))
                                        {
                                            arr = Model.Condition.Split(',');
                                            var i = 0;
                                            foreach (var item in arr)
                                            {

                                                <li><a href="#">@item</a></li>

                                                i++;
                                                if (i == 6)//on 4th item
                                                {
                                                    <br />//break line
                                                }
                                            }
                                        }
                                    }
                                </ul>
                            </div>
                            <!-- End features area  -->
                            <div class="section property-share">
                                <h4 class="s-property-title-viewproperty">User also search for: </h4>

                            </div>
                            <!-- End video area  -->
                        </div>
                    </div>
                    <div class="similar-post-section padding-top-40">
                        <div id="prop-smlr-slide_0">
                            @{
                                using (Overriding_DBEntities db = new Overriding_DBEntities())
                                {
                                    var row = db.M_User.Where(x => x.UserID == Model.Agent).FirstOrDefault();

                                    if (row != null)
                                    {
                                        var listing = db.L_ListingTbl.Where(x => x.Agent == row.UserID).OrderByDescending(x => x.AddedDate).Take(6).ToList();

                                        string[] arrr = { };
                                        foreach (var list in listing)
                                        {
                                            arrr = list.Photo.Split(',');
                                            <div class="box-two proerty-item">
                                                <div class="item-thumb">
                                                    <a href="property-1.html">
                                                        @{
                                                            if (!string.IsNullOrEmpty(list.Photo))
                                                            {
                                                                <img src="@Url.Content("~/Image/" + System.IO.Path.GetFileName(arrr[0]))">
                                                            }

                                                            if (string.IsNullOrEmpty(list.Photo))
                                                            {
                                                                <img src="~/Content/Custom_CSS/Mainpage_img/No listing img.jpeg" />
                                                            }
                                                        }

                                                    </a>
                                                </div>
                                                <div class="item-entry overflow">
                                                    <h5><a href="property-1.html"> @list.AdsTitle </a></h5>
                                                    <div class="dot-hr"></div>
                                                    <span class="pull-left"><b> Area :</b> @list.BuildUp </span>
                                                    <span class="proerty-price pull-right">@list.ListingPrice</span>
                                                </div>
                                            </div>
                                        }

                                    }
                                }
                            }




                        </div>
                    </div>
                </div>
                <div class="col-md-4 p0">
                    <aside class="sidebar sidebar-property blog-asside-right">
                        <div class="dealer-widget">
                            <div class="dealer-content">
                                <div class="inner-wrapper">
                                    <div class="single-property-header">

                                        @{
                                            if (Model.ListingType == "Rent")
                                            {
                                                <label class="property-title-custom"> Rent Price : </label><br/>
                                                <span class="property-price">RM @Convert.ToDecimal(Model.ListingPrice).ToString("#,##0")</span>

                                            }

                                            else if (Model.ListingType == "Sale")
                                            {
                                                <label class="property-title-custom">Sale Price : </label><br />
                                                <span class="property-price">RM @Convert.ToDecimal(Model.ListingPrice).ToString("#,##0")</span>
                                            }

                                            else if (Model.ListingType == "Rent & Sale")
                                            {
                                                <label class="property-title-custom">Rent Price : </label><br />
                                                <span class="property-price">RM @Convert.ToDecimal(Model.ListingPrice).ToString("#,##0")</span>
                                                <p></p>
                                                <label class="property-title-custom">Sale Price : </label><br />
                                                <span class="property-price">RM @Convert.ToDecimal(Model.ListingSale).ToString("#,##0")</span>

                                            }

                                        }
                                        <p></p>
                                        <label class="property-title-custom">Location : </label>
                                        <label class="property-title-custom">@Html.DisplayFor(model => model.Area)</label>,
                                        <label class="property-title-custom">@Html.DisplayFor(model => model.State)</label>
                                    </div>
                                    <div class="dealer-section-space">
                                        <span>Agent information</span>
                                    </div>
                                    <div class="clear">
                                        <div class="col-xs-4 col-sm-4 dealer-face">
                                            @{
                                                using (Overriding_DBEntities db = new Overriding_DBEntities())
                                                {
                                                    var row = db.M_User.Where(x => x.UserID == Model.Agent).FirstOrDefault();
                                                    var images = "";
                                                    if (row != null)
                                                    {

                                                        var getImage = row.Photo;
                                                        images = getImage;
                                                    }
                                                    else
                                                    {
                                                        <img src="~/Content/Custom_CSS/Mainpage_img/No listing img.jpeg" />
                                                    }

                                                    if (!string.IsNullOrEmpty(images))
                                                    {
                                                        <img src="https://agents.zeon.com.my/@images" class="img-circle">
                                                    }

                                                    if (string.IsNullOrEmpty(images))
                                                    {
                                                        <img src="~/Content/Custom_CSS/Mainpage_img/default_profile.jpg" class="img-circle"/>
                                                    }


                                                }

                                            }

                                        </div>
                                        <div class="col-xs-8 col-sm-8 ">
                                            <h3 class="dealer-name">
                                                @{
                                                    using (Overriding_DBEntities db = new Overriding_DBEntities())
                                                    {
                                                        var id_name = "";
                                                        var row = db.M_User.Where(x => x.UserID == Model.Agent).FirstOrDefault();
                                                        if (row != null)
                                                        {
                                                            var name = row.FirstName + " " + row.LastName;
                                                            id_name = name;
                                                        }

                                                        else
                                                        {
                                                            id_name = Model.Agent + ". Note: This user is deleted frm this system";
                                                        }

                                                        @Html.Label(id_name)
                                                    }


                                                }
                                            </h3>
                                            @*<div class="dealer-social-media">
                                                    <a class="twitter" target="_blank" href="">
                                                        <i class="fa fa-twitter"></i>
                                                    </a>
                                                    <a class="facebook" target="_blank" href="">
                                                        <i class="fa fa-facebook"></i>
                                                    </a>
                                                    <a class="gplus" target="_blank" href="">
                                                        <i class="fa fa-google-plus"></i>
                                                    </a>
                                                    <a class="linkedin" target="_blank" href="">
                                                        <i class="fa fa-linkedin"></i>
                                                    </a>
                                                    <a class="instagram" target="_blank" href="">
                                                        <i class="fa fa-instagram"></i>
                                                    </a>
                                                </div>*@
                                        </div>
                                    </div>
                                    <div class="clear">
                                        <ul class="dealer-contacts">
                                            @{
                                                using (Overriding_DBEntities db = new Overriding_DBEntities())
                                                {
                                                    var address = "";
                                                    var row = db.M_User.Where(x => x.UserID == Model.Agent).FirstOrDefault();
                                                    if (row != null)
                                                    {
                                                        var agentaddress = row.Address1 + "" + row.Address2;
                                                        address = agentaddress;
                                                    }
                                                    else
                                                    {
                                                        address = "Note: This user is deleted frm this system";
                                                    }
                                                    <li><i class="pe-7s-map-marker strong"> </i>@address</li>

                                                }
                                            }


                                            @{
                                                using (Overriding_DBEntities db = new Overriding_DBEntities())
                                                {
                                                    var email = "";
                                                    var row = db.M_User.Where(x => x.UserID == Model.Agent).FirstOrDefault();

                                                    if (row != null)
                                                    {
                                                        var agentemail = row.UserEmail;
                                                        email = agentemail;
                                                    }

                                                    else
                                                    {
                                                        email = "Note: This user is deleted frm this system";
                                                    }

                                                    <li><i class="pe-7s-mail strong"></i><a href="mailto:@email" style="font-size:20px; color:white; letter-spacing:0.5px;">@email</a></li>
                                                }
                                            }

                                            @{
                                                using (Overriding_DBEntities db = new Overriding_DBEntities())
                                                {
                                                    var agent_contact = "";
                                                    var row = db.M_User.Where(x => x.UserID == Model.Agent).FirstOrDefault();

                                                    if (row != null)
                                                    {
                                                        var no = row.MobileCountry + "" + row.MobileNo;
                                                        agent_contact = no;
                                                    }

                                                    else
                                                    {
                                                        agent_contact = Model.AgentContact + ". Note: This user is deleted frm this system";
                                                    }

                                                    <li><i class="pe-7s-call strong"> </i><a href="tel:+@agent_contact"style="font-size:20px; color:white; letter-spacing:0.5px;">@agent_contact</a></li>

                                                }
                                            }

                                        </ul>
                                        <p></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default sidebar-menu similar-property-wdg wow fadeInRight animated">
                            <div class="panel-heading">
                                <h3 class="panel-title">Similar Properties</h3>
                            </div>
                            <div class="panel-body recent-property-widget">
                                @{
                                    using (Overriding_DBEntities db = new Overriding_DBEntities())
                                    {
                                        var row = db.L_ListingTbl.Where(x => x.PropertyType == x.PropertyType).OrderByDescending(x => x.AddedDate).Take(4).ToList();

                                        string[] arrrr = { };
                                        foreach (var list in row)
                                        {
                                            arrrr = list.Photo.Split(',');
                                            <ul>
                                                <li>
                                                    <div class="col-md-3 col-sm-3 col-xs-3 blg-thumb p0">
                                                        <a href="@Url.Action("ViewProperty", "Home", new { list.Id, list.PropertyType })">
                                                            @if (!string.IsNullOrEmpty(list.Photo))
                                                            {
                                                                <img src="@Url.Content("~/Image/" + System.IO.Path.GetFileName(arrrr[0]))" class="similar_property_img">
                                                            }

                                                            @if (string.IsNullOrEmpty(list.Photo))
                                                            {
                                                                <img src="~/Content/Custom_CSS/Mainpage_img/No listing img.jpeg" class="similar_property_img" >
                                                            }

                                                        </a>

                                                    </div>
                                                    <div class="col-md-8 col-sm-8 col-xs-8 blg-entry">
                                                        <h6> <a href="@Url.Action("ViewProperty", "Home", new { list.Id, list.PropertyType })" style="color:red;">@list.AdsTitle</a></h6>
                                                        <span class="property-price" style="font-weight:bold; color:black;">@list.PropertyType</span>
                                                    </div>
                                                </li>
                                            </ul>
                                        }
                                    }
                                }

                            </div>
                        </div>

                        @*<div class="panel panel-default sidebar-menu wow fadeInRight animated">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Ads her  </h3>
                                </div>
                                <div class="panel-body recent-property-widget">
                                    <img src="assets/img/ads.jpg">
                                </div>
                            </div>*@
                         <div class="panel panel-default sidebar-menu wow fadeInRight animated">
                            <div class="panel-heading">
                                <h3 class="panel-title">Share this ads</h3>
                            </div>
                            <div class="panel-body search-widget">

                                <div class="pw-server-widget" data-id="wid-p9b56311"></div>
                            </div>
                        </div>
                        <div class="panel panel-default sidebar-menu wow fadeInRight animated">
                            <div class="panel-heading">
                                <h3 class="panel-title">MORTGAGE LOAN CALCULATOR</h3>
                            </div>
                            <div class="panel-body search-widget">
                                <div style="width:430px; text-align:center;">
                                    <p style="text-align:center;">
                                        <br />
                                        <iframe src="https://www.mortgagecalculator.biz/c/appvarc.php?homeprice=300000&downpayment=60000&rate=4.1&years=30&ptax=2400&insure=1200&pmi=0.5&closing=3700&monthlyhoa=0" frameborder="0" width="430px" height="690px" scrolling="no"></iframe><br />
                                        </p>
                                    
                                </div>

                            </div>
                        </div>

                        

                        
                                

                    </aside>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Content/Custom_CSS/garo-estate/assets/js/jquery-1.10.2.min.js"></script>
    @*<script src="~/Content/Custom_CSS/garo-estate/assets/js/modernizr-2.6.2.min.js"></script>
        <script src="~/Content/Custom_CSS/garo-estate/bootstrap/js/bootstrap.min.js"></script>
        <script src="~/Content/Custom_CSS/garo-estate/assets/js/bootstrap-select.min.js"></script>*@
    @*<script src="~/Content/Custom_CSS/garo-estate/assets/js/bootstrap-hover-dropdown.js"></script>*@
    @*<script src="~/Content/Custom_CSS/garo-estate/assets/js/easypiechart.min.js"></script>
        <script src="~/Content/Custom_CSS/garo-estate/assets/js/jquery.easypiechart.min.js"></script>*@
    @*<script src="~/Content/Custom_CSS/garo-estate/assets/js/owl.carousel.min.js"></script>
        <script src="~/Content/Custom_CSS/garo-estate/assets/js/wow.js"></script>
        <script src="~/Content/Custom_CSS/garo-estate/assets/js/icheck.min.js"></script>
        <script src="~/Content/Custom_CSS/garo-estate/assets/js/price-range.js"></script>*@
    @*<script type="text/javascript" src="~/Content/Custom_CSS/garo-estate/assets/js/lightslider.min.js"></script>*@
    @*<script src="~/Content/Custom_CSS/garo-estate/assets/js/main.js"></script>*@
    <script>
        $(document).ready(function () {

            $('#image-gallery').lightSlider({
                gallery: true,
                item: 1,
                thumbItem: 9,
                slideMargin: 0,
                speed: 500,
                auto: true,
                loop: true,
                onSliderLoad: function () {
                    $('#image-gallery').removeClass('cS-hidden');
                }
            });
        });</script>

    
</body>
</html>