﻿@model ZeonPropertiesListing.Models.M_PropertyUnit

@{
    ViewBag.Title = "Edit";


}

@{

    Layout = "~/Views/Shared/DashboardLayout.cshtml";
}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="au theme template">
<meta name="author" content="Hau Nguyen">
<meta name="keywords" content="au theme template">

<!-- Fontfaces CSS-->

<link href="~/CoolAdmin-master/css/font-face.css" rel="stylesheet" />
<link href="~/CoolAdmin-master/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/CoolAdmin-master/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" />
<link href="~/CoolAdmin-master/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" />

<!-- Bootstrap CSS-->
<link href="~/CoolAdmin-master/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" />


<!-- Vendor CSS-->
<link href="~/CoolAdmin-master/vendor/animsition/animsition.min.css" rel="stylesheet" />
<link href="~/CoolAdmin-master/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" />
<link href="~/CoolAdmin-master/vendor/wow/animate.css" rel="stylesheet" />
<link href="~/CoolAdmin-master/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" />
<link href="~/CoolAdmin-master/vendor/slick/slick.css" rel="stylesheet" />
<link href="~/CoolAdmin-master/vendor/select2/select2.min.css" rel="stylesheet" />
<link href="~/CoolAdmin-master/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" />


<!-- Main CSS-->
<link href="~/CoolAdmin-master/css/theme.css" rel="stylesheet" />

<!-- MAIN CONTENT-->
<div class="page-wrapper">
    <div class="page-container">

        <div class="main-content" style="padding-top:15px">

            <h2>Edit Project</h2>
            <div id="editsuccess" style="text-align:center; color:salmon;"><h4>@ViewBag.editSuccess</h4></div>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
            <script type="text/javascript">
                //-------fade out message if create success message displayed. Note: 5000 = 3 secs
                setTimeout(function () { $('#editsuccess').fadeOut(); }, 3000);
            </script>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">

                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ID)

                    <div class="row">
                        <div class="col-md-6">
                            <div class="row" style="margin-top:30px;">
                                @Html.LabelFor(model => model.PropertyName, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.PropertyName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.PropertyName, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="row" style="margin-top:30px;">
                                @Html.LabelFor(model => model.UnitNo, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.UnitNo, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.UnitNo, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="row" style="margin-top:30px;">
                                @Html.LabelFor(model => model.UnitStatus, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.UnitStatus, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.UnitStatus, "", new { @class = "text-danger", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row" style="margin-top:30px;">
                                @Html.LabelFor(model => model.Floor, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.Floor, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Floor, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="row" style="margin-top:30px;">
                                @Html.LabelFor(model => model.Block, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.Block, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Block, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="row" style="margin-top:30px;">
                                @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-8">
                                    @Html.Editor("Price2", new { htmlAttributes = new { @Value = ViewBag.gtPrice, @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="form-group" style="text-align:center; margin-top:40px;">
                        <div class="col-md-offset-0 col-md-6">
                            <input type="submit" style="height: 40px; width: 140px;" value="Save" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            }

            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>
            <br />
            <br />
        </div>
    </div>
</div>
<script type="text/javascript">
    //insert comma when user typing price related txtbox (using ID)
    $('#Price2').keyup(function (event) {
        // skip for arrow keys
        if (event.which >= 37 && event.which <= 40) return;
        // format number
        $(this).val(function (index, value) {
            return value
                // .replace(/[^0-9.]/g, "") to allow number only, no -ve, with decimal
                //.replace(/[^A-Za-z']/g, "") allow only alphbet
                //.replace(/[^A-Za-z0-9]/g, "") ALPHABET AND NUMBERS only

                .replace(/[^0-9.]/g, "")//numbers only, with decimal
                .replace(/(\..*)\./g, '$1') //no more than 1 decimal point
                .replace(/(\.[\d]{2})./g, '$1')//no more than 2 deciaml places
                .replace(/\B(?=(\d{3})+(?!\d))/g, ",")//thousand separator
                ;
        });
    });
</script>

<!-- Jquery JS-->
<script src="~/CoolAdmin-master/vendor/jquery-3.2.1.min.js"></script>

<!-- Bootstrap JS-->
<script src="~/CoolAdmin-master/vendor/bootstrap-4.1/popper.min.js"></script>
<script src="~/CoolAdmin-master/vendor/bootstrap-4.1/bootstrap.min.js"></script>

<!-- Vendor JS       -->
<script src="~/CoolAdmin-master/vendor/slick/slick.min.js"></script>
<script src="~/CoolAdmin-master/vendor/wow/wow.min.js"></script>
<script src="~/CoolAdmin-master/vendor/animsition/animsition.min.js"></script>
<script src="~/CoolAdmin-master/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
<script src="~/CoolAdmin-master/vendor/counter-up/jquery.waypoints.min.js"></script>
<script src="~/CoolAdmin-master/vendor/counter-up/jquery.counterup.min.js"></script>
<script src="~/CoolAdmin-master/vendor/circle-progress/circle-progress.min.js"></script>
<script src="~/CoolAdmin-master/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
<script src="~/CoolAdmin-master/vendor/chartjs/Chart.bundle.min.js"></script>
<script src="~/CoolAdmin-master/vendor/select2/select2.min.js"></script>

<!-- Main JS-->
<script src="~/CoolAdmin-master/js/main.js"></script>
