﻿<!-- Fontfaces CSS-->

<link href="~/CoolAdmin-master/css/font-face.css" rel="stylesheet" />
<link href="~/CoolAdmin-master/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/CoolAdmin-master/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" />
<link href="~/CoolAdmin-master/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" />

<!-- Bootstrap CSS-->
<link href="~/CoolAdmin-master/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" />


<!-- Vendor CSS-->
<link href="~/CoolAdmin-master/vendor/animsition/animsition.min.css" rel="stylesheet" />
<link href="~/CoolAdmin-master/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" />
<link href="~/CoolAdmin-master/vendor/wow/animate.css" rel="stylesheet" />
<link href="~/CoolAdmin-master/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" />
<link href="~/CoolAdmin-master/vendor/slick/slick.css" rel="stylesheet" />
<link href="~/CoolAdmin-master/vendor/select2/select2.min.css" rel="stylesheet" />
<link href="~/CoolAdmin-master/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" />


<!-- Main CSS-->
<link href="~/CoolAdmin-master/css/theme.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />


<div class="page-wrapper">
    <div class="page-container">

        <div class="main-content" style="margin-left:15px;padding-top:20px">
            @model IEnumerable<ZeonPropertiesListing.Models.M_PropertyUnit>

            @{

                //Html.Partial("_checkLogin");
                var TypeList = (List<string>)ViewBag.DropDownCategories;
                int i = 1;

            }


            @{

                Layout = "~/Views/Shared/DashboardLayout.cshtml";
            }

            <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

            <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
            <br /><br /><br />
            <h2>New Project</h2>
            <div class="row" style="margin-left:0px;">
                <p>
                    @Html.ActionLink("Create New Project", "Create")


                </p>
                <div class="col-2">


                    @using (Html.BeginForm("ExportToExcel", "newProject", FormMethod.Post))
                    {
                        @*Export to excel*@
                        <input type="submit" value="Export to Excel" id="ExportExcelbtn"
                               style="font-size:15px; width: 160px; color:antiquewhite;background-color:lightseagreen" class="btn btn-block" />
                    }


                </div>

            </div>
            <br />
            @*panel header*@
            <div class="panel-heading" style="margin-bottom: 20px; width:100%;">
                @using (Html.BeginForm("Filter", "newProject"))
                {
                    <div class="row">


                        <div class="col-md-2" style="margin-bottom:10px;">
                            @*onchange this.form = when user select any option in dropdown, it will also submit he form to the action*@
                            <select name="drpType" style="height:35px; width:150px;" class="form-control" onchange="$(this.form).submit();">
                                <option value="all">-- ALL --</option>
                                @foreach (var ReqType in TypeList)
                                {
                                    //viewbag.categories is use to display the selected option
                                    if (ViewBag.Categories == ReqType)
                                    {
                                        <option value="@ReqType" selected>@ReqType</option>
                                    }
                                    else
                                    {
                                        <option value="@ReqType">@ReqType</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="col-md-6" style="margin-bottom:10px;">
                            @*search AdsTitle*@
                            @Html.TextBox("searchString", ViewBag.CurrentSearch as string,
                    new { @class = "form-control", placeholder = "Search Unit No, Unit Status, Floor, Block", style = "max-width: 550px;" })

                        </div>
                        <div class="col-md-4">
                            <button type="submit" class="btn btn-default btn-primary"
                                    style="width: 160px; height: 33px; line-height: 1.4px; margin-left:8px;">
                                Search
                            </button>
                        </div>




                    </div>
                }
            </div>
            <div class="table-responsive table--no-card m-b-40">
                <table class="table table-borderless table-striped table-earning">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.PropertyName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.UnitNo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.UnitStatus)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Floor)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Block)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Price)
                            </th>
                            <th width="10%">
                                <label style="font-weight: bold">Get<br />New Project ID</label>
                            </th>
                            <th width="10%">
                                <label style="font-weight: bold">Get<br />New Project ID</label>
                            </th>

                        </tr>

                        @foreach (var item in Model)
                        {
                            if (item.UnitStatus == "Vacant")
                            { ViewBag.BgClr = "background-color:lightgreen"; }
                            else { ViewBag.BgClr = "background-color:#ed20247a"; }

                            <tr style="@ViewBag.BgClr">
                                <td>
                                    @Html.DisplayFor(modelItem => item.PropertyName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UnitNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UnitStatus)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Floor)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Block)
                                </td>
                                <td>
                                    @Convert.ToDecimal(item.Price).ToString("#,##0")
                                </td>
                                <td>
                                    @{


                                        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
                                        <input class="js-copytextarea" type="text" value="@item.ID" id="@i" style="opacity:0; border-style:none; height:1px; width:1px;" readonly />

                                        <a href="https://agents.zeon.com.my/NewProject/Create?id=@item.ID" id="@item.ID" class="fa fa-link" style="color:purple; border-style:none; font-size: 25px; " title="Copy Listing ID"></a>
                                        i++;
                                    }




                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |



                                    <a href="#" onclick="openDelete('@item.ID','@item.PropertyName','@item.UnitNo','@item.UnitStatus')">Delete</a>
                                </td>
                            </tr>
                        }
                    </thead>

                </table>
            </div>

            @*<div class="table-responsive table--no-card m-b-40">
            <table class="table table-borderless table-striped table-earning">
                <thead>
                    <tr style="background-color:red;">
                        <th>
                            @Html.DisplayNameFor(model => model.PropertyName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.UnitNo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.UnitStatus)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Floor)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Block)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Price)
                        </th>
                        <th width="10%">
                            <label style="font-weight: bold">Get<br />New Project ID</label>
                        </th>
                        <th width="10%">
                            <label style="font-weight: bold">Get<br />New Project ID</label>
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        if (item.UnitStatus == "Vacant")
                        { ViewBag.BgClr = "background-color:#228b226e"; }
                        else { ViewBag.BgClr = "background-color:#ed20247a"; }

                        <tr style="@ViewBag.BgClr">
                            <td>
                                @Html.DisplayFor(modelItem => item.PropertyName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UnitNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UnitStatus)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Floor)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Block)
                            </td>
                            <td>
                                @Convert.ToDecimal(item.Price).ToString("#,##0")
                            </td>
                            <td>
                                @{


                                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
                                    <input class="js-copytextarea" type="text" value="@item.ID" id="@i" style="opacity:0; border-style:none; height:1px; width:1px;" readonly />

                                    <a href="https://agents.zeon.com.my/NewProject/Create?id=@item.ID" id="@item.ID" class="fa fa-link" style="color:purple; border-style:none; font-size: 25px; background-color:lightseagreen;" title="Copy Listing ID"></a>
                                    i++;
                                }




                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |



                                <a href="#" onclick="openDelete('@item.ID','@item.PropertyName','@item.UnitNo','@item.UnitStatus')">Delete</a>
                            </td>
                        </tr>
                    }

                </thead>
            </table>
        </div>*@

            <script type="text/javascript">
                function openDelete(id, name, user, abc) {
                    $('#lblName').html(name);
                    $('#lblID').html(user);
                    $('#lblAbc').html(abc);
                    $('#txtID').val(id);
                    $('#modalDelete').modal('show');
                }
            </script>

            @using (Html.BeginForm())
            {
                <div class="modal fade" id="modalDelete">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div style="background-color:salmon;" class="modal-header">

                                <h3 style="color:white;">Delete Project</h3><a href="#" class="close" data-dismiss="modal"> &times; </a>
                            </div>
                            <div class="modal-body">
                                Are you sure to delete this item? <br /><br />
                                <div class="col-sm-12">
                                    <label class="col-sm-4">Property Name:</label> <label class="col-sm-6" type="text" readonly="readonly" style="background-color:#d7d9dd; padding:3px;text-align:center ;margin-right:2px;border-radius:3px" id="lblName"></label>
                                </div>
                                <div class="col-sm-12">
                                    <label class="col-sm-4">Unit No.:</label> <label class="col-sm-6" type="text" readonly="readonly" style="background-color:#d7d9dd ;padding:3px ;text-align:center ; solid;border-radius:3px" id="lblID"></label>
                                </div>

                                <div class="col-sm-12">
                                    <label class="col-sm-4">Unit No:</label> <label class="col-sm-6" type="text" readonly="readonly" style="background-color:#d7d9dd ; padding:3px ;text-align:center ; solid;border-radius:3px" id="lblAbc"></label>
                                </div>
                                <input type="text" id="txtID" name="txtID" hidden />
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Confirm Delete</button>
                            </div>

                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
<!-- END MAIN CONTENT-->

<script type="text/javascript">

    $('.js-textareacopybtn').on('click', function (event) {
        var copyTextarea = $(this).data('id');
        $('#' + copyTextarea)[0].select();

        document.execCommand('copy');

    });
</script>
