﻿<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
 <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Zeon Properties</title>
    <meta name="description" content="Zeon Properties">
    <meta name="author" content="Kimarotec">
    <meta name="keyword" content="html5, css, bootstrap, property, real-estate theme , bootstrap template">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800' rel='stylesheet' type='text/css'>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="~/Content/Custom_CSS/garo-estate/assets/css/normalize.css">
    <link rel="stylesheet" href="~/Content/Custom_CSS/garo-estate/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/Custom_CSS/garo-estate/assets/css/fontello.css">
    <link href="~/Content/Custom_CSS/garo-estate/assets/fonts/icon-7-stroke/css/pe-icon-7-stroke.css" rel="stylesheet">
    <link href="~/Content/Custom_CSS/garo-estate/assets/fonts/icon-7-stroke/css/helper.css" rel="stylesheet">
    <link href="~/Content/Custom_CSS/garo-estate/assets/css/animate.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="~/Content/Custom_CSS/garo-estate/assets/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="~/Content/Custom_CSS/garo-estate/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/Custom_CSS/garo-estate/assets/css/icheck.min_all.css">
    @*<link rel="stylesheet" href="~/Content/Custom_CSS/garo-estate/assets/css/price-range.css">*@
    <link rel="stylesheet" href="~/Content/Custom_CSS/garo-estate/assets/css/owl.carousel.css">
    <link rel="stylesheet" href="~/Content/Custom_CSS/garo-estate/assets/css/owl.theme.css">
    <link rel="stylesheet" href="~/Content/Custom_CSS/garo-estate/assets/css/owl.transitions.css">
    <link rel="stylesheet" href="~/Content/Custom_CSS/garo-estate/assets/css/style.css">
    <link rel="stylesheet" href="~/Content/Custom_CSS/garo-estate/assets/css/responsive.css">
    <link rel="stylesheet" href="~/Content/Custom_CSS/garo-estate/assets/css/lightslider.min.css">


    <link href="https://fonts.googleapis.com/css?family=Archivo+Black" rel="stylesheet">
    
</head>
<body>
    <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>
    <!-- Body content -->
    <div class="header-connect">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-8  col-xs-12">
                    <div class="header-half header-call">
                        <p>
                            <a href="tel:+6012-443 8888">
                                <span><i class="pe-7s-call"></i> +6012-443 8888</span>
                            </a>
                            <a href="mailto:info@zeon.com.my">
                                <span><i class="pe-7s-mail"></i> info@zeon.com.my</span>
                                </a>
</p>
                    </div>
                </div>
                <div class=" col-md-offset-3  col-sm-4 col-sm-offset-1  col-xs-12">
                    <div class="header-half header-social">
                        <ul class="list-inline">
                            <li><a href="https://www.facebook.com/zeonproperties/"target="_blank"><i class="fa fa-facebook"></i></a></li>
                            @*<li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-vine"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>*@
                            <li><a href="https://www.instagram.com/zeon.properties.group/?hl=en"target="_blank"><i class="fa fa-instagram"></i></a></li>
                            <li class="wow fadeInDown" data-wow-delay="0.1s"><a class="" href='@Url.Action("Login","Authenticate")'>Create Listing</a></li>
                            <li class="wow fadeInDown" data-wow-delay="0.1s"><a class="" href='https://agents.zeon.com.my/'>Agent Panel</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--End top header -->
    <nav class="navbar navbar-default ">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href='@Url.Action("Index","Home")'><img src="~/Content/Custom_CSS/Mainpage_img/zeon_logo.png" width="1275px" height="675px" alt="" class="logo_zeon"></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse yamm" id="navigation">
                @*<div class="button navbar-right">
                    <button class="navbar-btn nav-button wow bounceInRight login" onclick=" window.open('register.html')" data-wow-delay="0.4s">Login</button>
                    @*<button class="navbar-btn nav-button wow fadeInRight" onclick=" window.open('submit-property.html')" data-wow-delay="0.5s">Submit</button>*@
                </div>
                <ul class="main-nav nav navbar-nav navbar-right">
                    <li class="wow fadeInDown" data-wow-delay="0.1s"><a class="" href='@Url.Action("Index","Home")'>Home</a></li>
                    <li class="wow fadeInDown" data-wow-delay="0.1s"><a class="" href="@Url.Action("Properties","Home")">Listing</a></li>
                    <li class="wow fadeInDown" data-wow-delay="0.1s"><a class="" href='@Url.Action("projects","Home")'>Projects</a></li>
                    <li class="wow fadeInDown" data-wow-delay="0.1s"><a class="" href='@Url.Action("News","Home")'>Blog</a></li>
                    <li class="wow fadeInDown" data-wow-delay="0.1s"><a class="" href='@Url.Action("Fb_news","Home")'target="_blank">News</a></li>
                    <li class="wow fadeInDown" data-wow-delay="0.2s"><a class="" href='@Url.Action("Team","Home")'target="_blank">Team</a></li>
                    <li class="wow fadeInDown" data-wow-delay="0.2s"><a class="" href='@Url.Action("Career","Home")' target="_blank">Career</a></li>
                    <li class="wow fadeInDown" data-wow-delay="0.3s"><a class="" href='@Url.Action("Contact","Home")'>Contact Us</a></li>
                    
                    <li class="wow fadeInDown" data-wow-delay="0.4s"><a href='@Url.Action("About","Home")'>About Us</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <!-- End of nav bar -->


    @RenderBody()


    <!-- Footer area-->
    <div class="footer-area">
        <div class=" footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6 wow fadeInRight animated">
                        <div class="single-footer">
                            <h4>About us </h4>
                            <div class="footer-title-line"></div>
                            <img src="assets/img/footer-logo.png" alt="" class="wow pulse" data-wow-delay="1s">
                            <p>ZEON PROPERTIES is an integrated property and infrastructure solutions provider.

Our global reach and understanding of property developed over half a century of market cycles enables us to achieve the best property and infrastructure outcomes for all stakeholders.</p>
                            <ul class="footer-adress">
                                <li><i class="pe-7s-map-marker strong"> </i> Persiaran Karpal Singh Jelutong</li>
                                <a href="mailto:info@zeon.com.my">
                                    <li><i class="pe-7s-mail strong"> </i> info@zeon.com.my</li>
                                    </a>
                                    <a href="tel:+6012-443 8888">
                                        <li><i class="pe-7s-call strong"> </i> +6012-443 8888</li>
                                    </a>  
                               
                                
  
</ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 wow fadeInRight animated">
                        <div class="single-footer">
                            <h4>Quick links </h4>
                            <div class="footer-title-line"></div>
                            <ul class="footer-menu">
                                <li><a href="properties.html">Properties</a>  </li>
                                <li><a href="#">Services</a>  </li>
                                <li><a href="submit-property.html">Submit property </a></li>
                                <li><a href="contact.html">Contact us</a></li>
                                <li><a href="faq.html">fqa</a>  </li>
                                <li><a href="faq.html">Terms </a>  </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 wow fadeInRight animated">
                        <div class="single-footer">
                            <h4>Location</h4>
                            <div class="footer-title-line"></div>
                            <ul class="footer-adress">
                                <li><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3972.129309665856!2d100.3264887147652!3d5.39726109608537!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x304ac3e7a593cbff%3A0xebbcc63e8357aaf2!2sZEON+PROPERTIES+GROUP!5e0!3m2!1sen!2smy!4v1551252562777" width="260" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
                                </li>
                                <a href="https://www.waze.com/ul?ll=5.39726110%2C100.32867740&navigate=yes&zoom=16" target="_blank">
                                    <li><i class="pe-7s-global strong"></i>Navigate by Waze </li>
                                </a>
                                <a href="https://goo.gl/maps/JQ72mkU2S7k" target="_blank">
                                    <li><i class="pe-7s-global strong"></i>Navigate by Google Maps </li>
                                </a>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 wow fadeInRight animated">
                        <div class="single-footer news-letter">
                            <h4>Enquiry For Info</h4>
                            <div class="footer-title-line"></div>
                            <p><b>Zeon Headquarter</b></p>
                            <p>29C-03A-01, Persiaran Karpal Singh 2,
                            11600 Jelutong, Penang, Malaysia</p>
                            <form>
                                <div class="input-group">
                                    <input class="form-control" type="text" placeholder="E-mail ... ">
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary subscribe" type="button"><i class="pe-7s-paper-plane pe-2x"></i></button>
                                    </span>
                                </div>
                                <!-- /input-group -->
                            </form>
                            <div class="social pull-right">
                                <ul>
                                    
                                    <li><a class="wow fadeInUp animated" href="https://www.facebook.com/zeonproperties/" data-wow-delay="0.2s" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                    
                                    <li><a class="wow fadeInUp animated" href="https://www.instagram.com/zeon.properties.group/?hl=en" data-wow-delay="0.4s" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copy text-center">
            <div class="container">
                <div class="row">
                    <div class="pull-left">
                        <span> (C) <a href="http://www.zeon.com.my">Zeon Properties</a> , All rights reserved 2019  </span>
                    </div>
                    @*<div class="bottom-menu pull-right">
                        <ul>
                            <li><a class="wow fadeInUp animated" href="#" data-wow-delay="0.2s">Home</a></li>
                            <li><a class="wow fadeInUp animated" href="#" data-wow-delay="0.3s">Property</a></li>
                            <li><a class="wow fadeInUp animated" href="#" data-wow-delay="0.4s">Faq</a></li>
                            <li><a class="wow fadeInUp animated" href="#" data-wow-delay="0.6s">Contact</a></li>
                        </ul>
                    </div>*@
                </div>
            </div>
        </div>
    </div>


    <script src="~/Content/Custom_CSS/garo-estate/assets/js/modernizr-2.6.2.min.js"></script>
    <script src="~/Content/Custom_CSS/garo-estate/assets/js/jquery-1.10.2.min.js"></script>
    <script src="~/Content/Custom_CSS/garo-estate/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/Custom_CSS/garo-estate/assets/js/bootstrap-select.min.js"></script>
    <script src="~/Content/Custom_CSS/garo-estate/assets/js/bootstrap-hover-dropdown.js"></script>
    <script src="~/Content/Custom_CSS/garo-estate/assets/js/easypiechart.min.js"></script>
    <script src="~/Content/Custom_CSS/garo-estate/assets/js/jquery.easypiechart.min.js"></script>
    <script src="~/Content/Custom_CSS/garo-estate/assets/js/owl.carousel.min.js"></script>
    <script src="~/Content/Custom_CSS/garo-estate/assets/js/wow.js"></script>
    <script src="~/Content/Custom_CSS/garo-estate/assets/js/icheck.min.js"></script>
    <script src="~/Content/Custom_CSS/garo-estate/assets/js/price-range.js"></script>
    <script src="~/Content/Custom_CSS/garo-estate/assets/js/main.js"></script>
    <script type="text/javascript" src="~/Content/Custom_CSS/garo-estate/assets/js/lightslider.min.js"></script>

</body>
</html>