﻿@model ZeonPropertiesListing.Models.L_ListingTbl

@{
    ViewBag.Title = "Create";
    //Html.Partial("_checkLogin");

}
@{

    Layout = "~/Views/Shared/DashboardLayout.cshtml";
}
<h2>Create New Listing</h2>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>


@*<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>*@
<!-- Required meta tags-->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="au theme template">
<meta name="author" content="Hau Nguyen">
<meta name="keywords" content="au theme template">

<!-- Fontfaces CSS-->

<link href="~/CoolAdmin-master/css/font-face.css" rel="stylesheet" />
<link href="~/CoolAdmin-master/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/CoolAdmin-master/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" />
<link href="~/CoolAdmin-master/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" />

<!-- Bootstrap CSS-->
<link href="~/CoolAdmin-master/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" />


<!-- Vendor CSS-->
<link href="~/CoolAdmin-master/vendor/animsition/animsition.min.css" rel="stylesheet" />
<link href="~/CoolAdmin-master/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" />
<link href="~/CoolAdmin-master/vendor/wow/animate.css" rel="stylesheet" />
<link href="~/CoolAdmin-master/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" />
<link href="~/CoolAdmin-master/vendor/slick/slick.css" rel="stylesheet" />
<link href="~/CoolAdmin-master/vendor/select2/select2.min.css" rel="stylesheet" />
<link href="~/CoolAdmin-master/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" />


<!-- Main CSS-->
<link href="~/CoolAdmin-master/css/theme.css" rel="stylesheet" />


<h2>Create New Listing</h2>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>


<div>

</div>


<!-- MAIN CONTENT-->
<div class="page-wrapper">
    <div class="page-container">

        <div class="main-content" style="padding-top:50px">




            @using (Html.BeginForm("Create", "Listing", FormMethod.Post, new { enctype = "multipart/form-data", @id = "form-submit" }))
            {
                @* @Html.AntiForgeryToken() this cause _checkLogin error *@


                <div class="form-horizontal" style="">

                    <h4>Select a Property Type </h4>

                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="row">
                        <div class="form-group col-md-12">
                            <div class="col-md-5">
                                @Html.LabelFor(model => model.PropertyType, htmlAttributes:
                               new { style = "margin-left: -11px;", @class = "control-label" })
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    @Html.DropDownList("PropertyType", new SelectList(ViewBag.PropertyType)
                                   , "Select Property Type...",new { @class = "form-control" })
                                    <div id="propertyerr" class="col-sm-push-2 text-danger"></div>
                                </div>
                                <div id="propertyType2div" class="form-group col-md-5" style="display: none;">
                                    <div class="">
                                        @Html.DropDownList("PropertyType2", new SelectList(string.Empty, "Value", "Text"), "Select Level",
                                                new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="hideshow" style="display:none;">
                        <h4>General</h4>
                        <hr />
                        <div class="row">
                            <div class="form-group col-md-4">
                                <div class="col-md-9">
                                    @Html.LabelFor(model => model.ListingType, htmlAttributes: new { style = "margin-left: -11px;", @class = "control-label" })
                                    <label style="color:red;">*</label>
                                </div>
                                <div>
                                    @Html.DropDownList("ListingType", new SelectList(ViewBag.LType), "Select Listing Type",
                                        new {id= "ListingType", style = " margin-left: 0px;", @class = "form-control" })

                                    <div id="listingterr" class="col-sm-push-2 text-danger"></div>
                                </div>
                            </div>

                            <div class="form-group col-md-4">
                                <div class="col-md-9">
                                    @Html.LabelFor(model => model.UrgentListing, htmlAttributes: new { style = "margin-left: -11px;", @class = "control-label" })
                                    
                                </div>
                                <div>
                                    <input type="checkbox" name="urgent_chck" value="Urgent" /> Urgent


                                </div>
                            </div>


                            <div style="display:none" class="form-group col-md-4">
                                <div class="col-md-5">
                                    @Html.LabelFor(model => model.Url, htmlAttributes: new {
                                   style = " margin-left: -11px;",
                                   @class = "control-label" })
                                </div>
                                <div>
                                    @Html.EditorFor(model => model.Url, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <div class="col-md-5">
                                    @Html.LabelFor(model => model.Agent, htmlAttributes: new {
                                   style = " margin-left: -11px;", @class = "control-label" })
                                </div>
                                <div>

                                    @Html.EditorFor(model => model.Agent, new { htmlAttributes = new { @Value = Session["loginUsrName"], @class = "form-control", @readonly = "readonly" } })

                                </div>
                            </div>

                            <div class="form-group col-md-6">
                                <div class="col-md-5">
                                    @Html.LabelFor(model => model.AgentContact, htmlAttributes:
                                                new { style = " margin-left: -11px;", @class = "control-label" })
                                </div>
                                <div>


                                    @Html.EditorFor(model => model.AgentContact, new { htmlAttributes =
                                      new {  @Value = Session["usrContact"],
                                          @class = "form-control", @readonly = "readonly" } })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <h4 style="margin-left:-16px;">Property Photo</h4>
                        </div>
                        <hr style="clear: left" />

                        <div class="row">
                            <div class="form-group col-md-12">
                                <div class="row">

                                    <div class="col-md-12"> <label>Accepted image format:  *jpg *png *gif *tif *jpeg</label> @*<label style="color:red;">*</label>*@</div>
                                    @*<div class="col-md-2">
                                            @Html.LabelFor(model => model.Photo, htmlAttributes:
                                           new { style = " margin-left: 0px;", @class = "control-label" })

                                        </div>*@

                                    <div class="col-md-2">
                                        <a onclick='loadimage();'>
                                            <img src="~/268dwd1kc4olus9tz8nx57nh-wpengine.netdna-ssl.com/wp-content/themes/eha-group/img/Mainpage_img/addimg.png" style="width:130px; height:100px;" />
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-12">

                                    <input id="fileimg" style="display: none;" onchange="updateList()" multiple name="fileInput" type="file" />

                                    <div id="fileerr" class="col-sm-push-2 text-danger"></div>
                                    <br />
                                    <div>
                                        <output id="fList" class="" style="max-width: 1100px;"></output>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div id="attachmentdiv">
                                <div class="form-group col-md-12">
                                    <div class="row">
                                        <div class="col-md-12">
                                            @Html.Label("Upload File/Documents" , htmlAttributes:
                                           new { style = " margin-left: 0px;", @class = "control-label" })
                                            @*<label style="color:red;">*</label>*@
                                        </div>

                                        <div class="col-md-2">
                                            <a onclick='attachFileBtn();'
                                               style="height: 90px; width: 100px;color:antiquewhite; font-size:-webkit-xxx-large; background-color:purple; border-radius:3px; text-align:center; display:inline-block;"
                                               class="btn btn-sm">+</a>
                                        </div>
                                    </div>
                                    <div class="col-md-12">

                                        <input id="attach" style="display:none" onchange="updateAttach()" multiple name="AttachInput" type="file" />

                                        <div id="attacherr" class="col-sm-push-2 text-danger"></div>
                                        <br />
                                        <div>
                                            <output id="docList" class="" style="max-width: 1100px;"></output>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <h4 style="margin-left:-16px;">Property Details</h4>
                        </div>
                        <hr style="clear: left" />
                        <div id="notLandrow" class="row">

                            <div class="form-group col-md-4">
                                <div class="col-md-5">
                                    @Html.LabelFor(model => model.Room, htmlAttributes:
                                   new { style = "margin-left: -11px;", @class = "control-label" })
                                </div>
                                <div class="">
                                    @Html.EditorFor(model => model.Room,
                                            new { htmlAttributes = new { id = "room", @class = "form-control" } })

                                    <div id="RoomErr" class="col-sm-push-5 text-danger"></div>
                                </div>
                            </div>

                            <div class="form-group col-md-4">
                                <div class="col-md-8">
                                    @Html.LabelFor(model => model.Bathroom, htmlAttributes:
                                   new { style = "margin-left: -11px;", @class = "control-label" })
                                </div>
                                <div class="">
                                    @Html.EditorFor(model => model.Bathroom,
                                            new { htmlAttributes = new { id = "bathroom", @Name= "bathroom", @class = "form-control" } })
                                    <div id="BathroomErr" class="col-sm-push-5 text-danger"></div>
                                </div>
                            </div>

                            <div class="form-group col-md-4">
                                <div class="col-md-5">
                                    @Html.LabelFor(model => model.Carpark, htmlAttributes:
                                   new { style = "margin-left: -11px;", @class = "control-label" })
                                </div>
                                <div class="">
                                    @Html.EditorFor(model => model.Carpark,
                                        new { htmlAttributes = new { id = "carpark", @class = "form-control" } })
                                    <div id="CarparkErr" class="col-sm-push-5 text-danger"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">


                            <div id="buildupdiv" class="form-group col-md-4">
                                <div class="col-md-8">
                                    @Html.LabelFor(model => model.BuildUp, htmlAttributes:
                                   new { style = "margin-left: -11px;", @class = "control-label" })
                                </div>
                                <div class="row">
                                    <div class="col-md-7">
                                        @Html.EditorFor(model => model.BuildUp,
                                            new { htmlAttributes = new { id = "BuildUp", @class = "form-control" } })
                                        <div id="BuildupErr" class="col-sm-push-5 text-danger"></div>
                                        @Html.ValidationMessageFor(model => model.BuildUp, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-5">
                                        @Html.DropDownList("BMeasureUnit", new SelectList(ViewBag.measureUnit),
                                           new {style = " margin-left: -18px;", @class = "form-control" })



                                    </div>
                                </div>
                            </div>

                            <div id="isLand" class="form-group col-md-4">

                                <div class="col-md-8">
                                    @Html.LabelFor(model => model.LandArea, htmlAttributes:
                                   new { style = "margin-left: -11px;", @class = "control-label" })
                                </div>

                                <div class="row">
                                    <div class="col-md-7">
                                        @Html.EditorFor(model => model.LandArea,
                                            new { htmlAttributes = new { id="LandArea", @class = "form-control" } })
                                        <div id="LandErr" class="col-sm-push-5 text-danger"></div>
                                    </div>
                                    <div class="col-md-5">
                                        @Html.DropDownList("LMeasureUnit", new SelectList(ViewBag.measureUnit),
                                           new {style = " margin-left: -18px;", @class = "form-control" })
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-md-4">
                                <div class="col-md-8">
                                    @Html.LabelFor(model => model.Other , htmlAttributes:
                                   new { style = "margin-left: -11px;", @class = "control-label" })
                                </div>
                                <div class="">
                                    @Html.DropDownList("Other", new SelectList(ViewBag.other), "Others...",
                                         new {id="other", style = " margin-left: 0px;", @class = "form-control" })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-12">
                                <div class="row">
                                    <div class="col-sm-1">
                                        @Html.LabelFor(model => model.Condition, htmlAttributes:
                                       new { style = "margin-left: -15px;", @class = "control-label col-sm-2 " })
                                    </div>
                                    <label style="color:red;">*</label>
                                    <div class="col-sm-3">
                                        <input type="checkbox" onclick="SetAllCheckBoxes(this)" />
                                        <label>Check/Uncheck All</label>
                                    </div>

                                </div>

                                <div class="row">
                                    @{ //display all checkboxes
                                        var i = 0;
                                        foreach (var condition in ViewBag.Condition)
                                        {
                                            <div class="col-md-2"> <input type="checkbox" name="cond_chck" value="@condition" /> @condition  </div>
                                            i++;
                                            if (i == 6)//on 6th item
                                            {
                                                <br />//break line
                                            }
                                        }
                                    }

                                </div>
                                <div id="ConditionErr" class="col-sm-push-5 text-danger"></div>

                                <br />
                                <div class="col-md-5">
                                    @Html.LabelFor(model => model.OtherCondition, htmlAttributes: new {
                                         style= " margin-left: -11px;",
                                         @class = "control-label" })
                                    <label style="color:red;">*</label>
                                </div>
                                <div class="">
                                    @Html.EditorFor(model => model.OtherCondition, new { htmlAttributes = new { id = "OtherCondition", @class = "form-control" } })
                                    <div id="OtherConditionErr" class="col-sm-push-5 text-danger"></div>

                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="form-group col-md-12">
                                <div class="row">
                                    <div class="col-sm-1">
                                        @Html.LabelFor(model => model.Facilities, htmlAttributes:
                                       new { style = "margin-left: -15px;", @class = "control-label col-sm-2 " })
                                    </div>
                                    <label style="color:red;">*</label>
                                    <div class="col-sm-3">
                                        <input type="checkbox" onclick="SetAllFacilitiesBoxes(this)" />
                                        <label>Check/Uncheck All</label>
                                    </div>

                                </div>

                                <div class="row">
                                    @{ //display all checkboxes
                                        var f = 0;
                                        foreach (var facilities in ViewBag.GetFacilities)
                                        {
                                            <div class="col-md-2"> <input type="checkbox" name="faci_chck" value="@facilities" /> @facilities  </div>
                                            f++;
                                            if (f == 5)//on 6th item
                                            {
                                                <br />//break line
                                            }
                                        }
                                    }

                                </div>
                                <div id="FacilitiesErr" class="col-sm-push-5 text-danger"></div>

                                <br />
                                <div class="col-md-5">
                                    @Html.LabelFor(model => model.OtherFacilities, htmlAttributes: new {
                                         style= " margin-left: -11px;",
                                         @class = "control-label" })
                                    <label style="color:red;">*</label>
                                </div>
                                <div class="">
                                    @Html.EditorFor(model => model.OtherFacilities, new { htmlAttributes = new { id = "OtherFacilities", @class = "form-control" } })
                                    <div id="OtherFacilitiesErr" class="col-sm-push-5 text-danger"></div>

                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div id="ListingPriceDiv" class="form-group col-md-12">
                                <div class="col-md-5">
                                    @Html.LabelFor(model => model.ListingPrice, htmlAttributes:
                                   new { style = "margin-left: -11px;" })
                                    <label style="color:red;">*</label>
                                </div>
                                <div class="">
                                    @Html.Editor("ListingPrice", new { htmlAttributes =
                                   new { style = "max-width: 1050px;",placeholder="Listing Price", @class = "form-control" } })
                                    <div id="ListingPriceErr" class="col-sm-push-5 text-danger"></div>
                                    @Html.ValidationMessageFor(model => model.ListingPrice, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            @*Rent price, sale price when user selected "Rent & Sale"*@
                            <div id="RentSalePriceDiv" style="display:none;" class="form-group col-md-12">
                                <div class="col-md-5">
                                    @Html.LabelFor(model => model.ListingPrice, htmlAttributes:
                                   new { style = "margin-left: -30px;", @class = "control-label col-md-2" })
                                    <label style="color:red;">*</label>
                                </div>
                                <div class="row" style="margin-left: 0px;">

                                    @Html.Editor("RentPrice", new { htmlAttributes =
                                 new { style = "max-width: 520px;", placeholder = "Rent's Price", @class = "form-control" } })
                                    &nbsp;&nbsp;
                                    @Html.Editor("SalePrice", new { htmlAttributes =
                              new {style = " max-width: 520px;",placeholder="Sale's Price", @class = "form-control" } })
                                    <div id="RentSalePriceErr" class="col-sm-push-5 text-danger"></div>

                                </div>
                            </div>
                        </div>
                        <br />



                        <div class="row">

                            <div class="form-group col-md-6">
                                <div class="col-md-7">
                                    @Html.LabelFor(model => model.Tenure, htmlAttributes:
                                   new { style = "margin-left: -11px;", @class = "control-label" })
                                </div>

                                <div class="row">

                                    <div class="col-sm-5">
                                        Freehold: &nbsp;
                                        @Html.RadioButtonFor(model => model.Tenure, "Freehold", new { @Name = "tenure" })
                                    </div>
                                    <div class="col-sm-5">
                                        Leasehold: &nbsp;
                                        @Html.RadioButtonFor(model => model.Tenure, "Leasehold", new { @Name = "tenure" })
                                    </div>
                                    <div id="TenureErr" class="col-sm-push-5 text-danger"></div>
                                </div>
                            </div>

                            <div class="form-group col-md-6">
                                <div class="col-md-7">
                                    @Html.LabelFor(model => model.Title, htmlAttributes:
                                   new { style = "margin-left: -11px;", @class = "control-label" })
                                </div>

                                <div class="row">
                                    <div class="col-sm-4">
                                        Residential:  &nbsp;  @Html.RadioButtonFor(model => model.Title, "Residential", new { @Name = "title" })
                                    </div>
                                    <div class="col-sm-4">
                                        Commercial: &nbsp; @Html.RadioButtonFor(model => model.Title, "Commercial", new { @Name = "title" })
                                    </div>
                                    <div class="col-sm-4">
                                        Mixed Development: &nbsp; @Html.RadioButtonFor(model => model.Title, "Mixed Development", new { @Name = "title" })
                                    </div>
                                    <div id="TitleErr" class="col-sm-push-5 text-danger"></div>
                                </div>
                            </div>
                        </div>





                        <div class="row">
                            <div id="maintenancediv" class="form-group col-md-4">
                                <div class="col-md-8">
                                    @Html.LabelFor(model => model.Maintenance, htmlAttributes:
                                   new { style = "margin-left: -11px;", @class = "control-label" })
                                </div>
                                <div class="">
                                    @Html.Editor("Maintenance", new { htmlAttributes =
                                            new { @class = "form-control" } })
                                    <div id="MaintenanceErr" class="col-sm-push-5 text-danger"></div>
                                    @Html.ValidationMessageFor(model => model.Maintenance, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div id="sinkingdiv" class="form-group col-md-4">
                                <div class="col-md-5">
                                    @Html.LabelFor(model => model.Sinking, htmlAttributes:
                                   new { style = "margin-left: -11px;", @class = "control-label" })
                                </div>
                                <div class="">
                                    @Html.Editor("Sinking", new { htmlAttributes =
                                            new { @class = "form-control" } })
                                    <div id="SinkingErr" class="col-sm-push-5 text-danger"></div>
                                    @Html.ValidationMessageFor(model => model.Sinking, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group col-md-4">
                                <div class="col-md-8">
                                    @Html.LabelFor(model => model.CompletionDate, htmlAttributes:
                                    new { style = "margin-left: -11px;", @class = "control-label" })
                                </div>
                                <div class="">

                                    <input name="completionDate" id="completionDate" class="form-control" type="date" />
                                    @Html.ValidationMessageFor(model => model.CompletionDate, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            @*
                                        </div>
                                <div class="row">
                            *@




                        </div>
                        <div class="row">
                            <div class="form-group col-md-12">
                                <div class="col-md-5">
                                    @Html.LabelFor(model => model.AdsTitle, htmlAttributes: new {
                                         style= " margin-left: -11px;",
                                         @class = "control-label" })
                                    <label style="color:red;">*</label>
                                </div>
                                <div class="">
                                    @Html.EditorFor(model => model.AdsTitle, new { htmlAttributes = new { id = "AdsTitle", @class = "form-control" } })
                                    <div id="AdsTitleErr" class="col-sm-push-5 text-danger"></div>

                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <div class="col-md-5">
                                    @Html.LabelFor(model => model.Description, htmlAttributes:
                                   new { style = "margin-left: -11px;", @class = "control-label" })
                                </div>

                                <div class="">
                                    @Html.TextAreaFor(model => model.Description,
                                   new {id="description",@class = "ckeditor" })
                                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12">
                                <div class="col-md-12">
                                    @Html.LabelFor(model => model.Remarks, htmlAttributes:
                                   new { style = "margin-left: -30px;", @class = "control-label col-md-12" })
                                </div>
                                <div class="">
                                    @Html.TextAreaFor(model => model.Remarks, new { id = "remarks", @class = "form-control remarkcss" })
                                    @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4">
                                <div class="col-md-7">
                                    @Html.LabelFor(model => model.State, htmlAttributes:
                                   new { style = " margin-left: -11px;", @class = "control-label" })
                                    <label style="color:red;">*</label>
                                </div>

                                <div>
                                    <select id="State" name="comboBoxState" class="form-control">
                                        <option value="">Please select a State</option>
                                        @foreach (var state in ViewBag.DrpDownState)
                                        {

                                            <option value="@state.StateName">@state.StateName</option>
                                        }
                                    </select>
                                    <div id="stateerr" class="col-sm-push-2 text-danger"></div>

                                </div>
                            </div>

                            <div class="form-group col-md-4">
                                <div class="col-md-7">
                                    @Html.LabelFor(model => model.Area, htmlAttributes:
                                   new { style = " margin-left: -11px;", @class = "control-label" })
                                    <label style="color:red;">*</label>
                                </div>
                                <div>
                                    <select id="comboBoxArea" name="comboBoxArea" class="form-control"></select>
                                </div>
                                <div id="areaerr" class="col-sm-push-2 text-danger"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-8">
                                <div class="col-md-5">
                                    @Html.LabelFor(model => model.Address, htmlAttributes:
                                            new { style = " margin-left: -11px;", @class = "control-label" })
                                    <label style="color:red;">*</label>
                                </div>
                                <div>
                                    @Html.EditorFor(model => model.Address, new { htmlAttributes =
                                   new {id= "address", style = " max-width: 1050px;", @class = "form-control" } })
                                    <div id="AddressErr" class="col-sm-push-2 text-danger"></div>
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <div class="col-md-5">
                                    @Html.LabelFor(model => model.UnitNo, htmlAttributes: new {
                                   style = " margin-left: -11px;",
                                   @class = "control-label" })
                                    <label style="color:red;">*</label>
                                </div>
                                <div class="">
                                    @Html.EditorFor(model => model.UnitNo,
                                        new { htmlAttributes = new { id = "UnitNo", @class = "form-control" } })
                                    <div id="UnitNoErr" class="col-sm-push-5 text-danger"></div>

                                </div>


                            </div>
                        </div>
                        <div class="col-md-10">

                            <h4 style="margin-left:-16px;">Owner Details</h4>
                        </div>
                        <hr style="clear: left" />
                        <div class="row">
                            <div class="form-group col-md-6">
                                <div class="col-md-8">
                                    @Html.LabelFor(model => model.OwnerName, htmlAttributes:
                                        new { style = "margin-left: -11px;", @class = "control-label" })
                                    <label style="color:red;">*</label>
                                </div>
                                <div class="">
                                    @Html.EditorFor(model => model.OwnerName, new { htmlAttributes =
                                        new {id= "ownerNme", style = "max-width: 1000px;", @class = "form-control" } })
                                    <div id="ownerNmeErr" class="col-sm-push-2 text-danger"></div>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <div class="col-md-5">
                                    @Html.LabelFor(model => model.OwnerEmail, htmlAttributes:
                                   new { style = " margin-left: -11px;", @class = "control-label" })
                                </div>
                                <div class="">
                                    @Html.EditorFor(model => model.OwnerEmail, new { htmlAttributes =
                                            new {id= "ownerMail", style = "max-width: 1000px;", @class = "form-control" } })
                                    <div id="ownerMailErr" class="col-sm-push-2 text-danger"></div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-6">
                                <div class="col-md-5">
                                    @Html.LabelFor(model => model.OwnerContact, htmlAttributes:
                                            new { style = " margin-left: -11px;", @class = "control-label" })
                                    <label style="color:red;">*</label>
                                </div>
                                <div class="">
                                    @Html.EditorFor(model => model.OwnerContact, new { htmlAttributes =
                                            new {id= "ownerContact", style = "max-width: 1000px;", @class = "form-control" } })
                                    <div id="ownerContactErr" class="col-sm-push-2 text-danger"></div>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <div class="col-md-6">
                                    @Html.LabelFor(model => model.OwnerContact2, htmlAttributes:
                                            new { style = " margin-left: -11px;", @class = "control-label" })
                                </div>
                                <div class="">
                                    @Html.EditorFor(model => model.OwnerContact2, new { htmlAttributes =
                                            new {id= "OwnerContact2", style = "max-width: 1000px;", @class = "form-control" } })
                                    <div id="ownerContact2Err" class="col-sm-push-2 text-danger"></div>
                                </div>
                            </div>

                           



                        </div>

                        <br />
                        <div class="row">
                            @* Create Button *@
                            <div class="col-md-offset-0 col-md-6" style="text-align:center; margin-top:10px;">
                                <input id="createbtn" type="button" value="Create" name="submitbtn"
                                       style="height: 40px; width: 140px;" class="btn btn-default btn-primary" />
                            </div>

                            <div class="col-md-offset-0 col-md-6" style="text-align:center; margin-top:10px;">
                                <input id="draftbtn" type="button" value="Save as Draft" name="submitbtn"
                                       style="height: 40px; width: 140px;" class="btn btn-default btn-primary" />
                            </div>
                        </div>



                    </div>
                </div> @* End div id=hide *@


                <input type="text" style="display:none" name="clickedBtn" id="clickedBtn" />
            }@* End begin form *@




            <div>
                @Html.ActionLink("Back to List", "displayData")
            </div>

            <noscript>
                <meta http-equiv="refresh" content="0;URL=http://42.1.63.244/Listing/NoJS" />

            </noscript>
            @* style for multiple image button *@
            <style>
                hr {
                    border: solid 1px #D3D3D3;
                }

                .yellow {
                    background: yellow;
                }

                .black {
                    background: black;
                }

                .green {
                    background: green;
                }

                .remarkcss {
                    max-width: 980px;
                    min-height: 250px;
                }

                .thumb {
                    width: 200px;
                    height: 100px;
                    margin: 0.2em -0.7em 0 0;
                }

                .remove_img_preview {
                    position: relative;
                    top: -25px;
                    right: 5px;
                    background: black;
                    color: white;
                    border-radius: 500px;
                    font-size: 0.9em;
                    padding: 0 0.3em 0;
                    text-align: center;
                    cursor: pointer;
                    width: 30px;
                    height: 30px;
                }

                    .remove_img_preview:before {
                        content: "X";
                    }

                .remove_file_preview {
                    position: relative;
                    background: black;
                    color: white;
                    border-radius: 500px;
                    font-size: 0.9em;
                    padding: 0 0.3em 0;
                    text-align: center;
                    cursor: pointer;
                    width: 30px;
                    height: 20px;
                    margin-left: 20px;
                }

                    .remove_file_preview:before {
                        content: "X";
                    }
                /* disable input number spinner */
                input[type=number]::-webkit-inner-spin-button,
                input[type=number]::-webkit-outer-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }
            </style>
            @* link to custom made JS    *@
            @*<script type="text/javascript" src="~/Scripts/createJS.js"></script>*@
            @Html.Hidden("populateUrl", Url.Action("populate", "Listing")) @* use to popuate 2nd property dropdown  *@
            @Html.Hidden("passToController", Url.Action("saveImage", "Listing"))@* use to pass images to Controller when Create btn  *@
            @Html.Hidden("uploadDoc", Url.Action("saveDoc", "Listing"))
            @Html.Hidden("populateArea", Url.Action("loadArea", "Listing")) @* populate area *@
            @Html.Hidden("populateRoad", Url.Action("loadRoad", "Listing")) @* populate road *@


        </div>
    </div>
</div>
<!-- END MAIN CONTENT-->

<script type="text/javascript">

    //------------------------------------------------CHECK/UNCHECK  CHECKBOXES

    function SetAllCheckBoxes(obj) {
        var c = new Array();
        c = document.getElementsByName('cond_chck');
        for (var i = 0; i < c.length; i++) {
            if (c[i].type == 'checkbox') {
                c[i].checked = obj.checked;
            }
        }
    }

    function SetAllFacilitiesBoxes(obj) {
        var c = new Array();
        c = document.getElementsByName('faci_chck');
        for (var i = 0; i < c.length; i++) {
            if (c[i].type == 'checkbox') {
                c[i].checked = obj.checked;
            }
        }
    }

    //-------------------------------------------------------CLEAR ERR MESSAGE WHEN LOAD dropdown
    $("#State").change(function () {
        document.getElementById('stateerr').innerHTML = "";//clear err
    });
    $("#PropertyType").change(function () {
        document.getElementById('propertyerr').innerHTML = "";//clear err
    });
    //-------------------------------------------Populate area, on select state dropdown
    $(document).ready(function () {
        $('#State').on('change',
            function () {
                var populateArea = $("#populateArea").val();

                var stateName = $('#State option:selected').val();
                $.ajax({
                    type: 'GET',
                    data: { stateName: stateName },
                    url: populateArea,
                    success: function (result) {
                        //var area = JSON.parse(result);
                        var a = '<option value="">---Select Area--- </option>';
                        for (var i = 0; i < result.length; i++) {

                            a += '<option value = "' + result[i].aName + '">' + result[i].aName + '</option>';
                        }
                        $('#comboBoxArea').html(a);
                    }
                });
            });
    });


    //-------------------------------------------------------VALIDATION + Comma
    //$('#UnitNo').keyup(function (event) {
    //    // skip for arrow keys
    //    if (event.which >= 37 && event.which <= 40) return;
    //    // format number
    //    $(this).val(function (index, value) {
    //        return value
    //            .replace(/[^A-Za-z 0-9-]/g, "")// ALPHABET AND NUMBERS only
    //            ;
    //    });
    //});
    //insert comma when user typing price related txtbox (using ID)
    $('#ListingPrice, #Maintenance, #Sinking, #RentPrice, #SalePrice').keyup(function (event) {
        // skip for arrow keys
        if (event.which >= 37 && event.which <= 40) return;
        // format number
        $(this).val(function (index, value) {
            return value
                // .replace(/[^0-9.]/g, "") to allow number only, no -ve, with decimal
                //.replace(/[^A-Za-z']/g, "") allow only alphbet
                //.replace(/[^A-Za-z0-9]/g, "") ALPHABET AND NUMBERS only

                .replace(/[^0-9.]/g, "")//numbers only, with decimal
                .replace(/(\..*)\./g, '$1') //no more than 1 decimal point
                .replace(/(\.[\d]{2})./g, '$1')//no more than 2 deciaml places
                .replace(/\B(?=(\d{3})+(?!\d))/g, ",")//thousand separator
                ;
        });
    });
    $('#room, #bathroom, #carpark').keyup(function (event) {
        // skip for arrow keys
        if (event.which >= 37 && event.which <= 40) return;
        // format number
        $(this).val(function (index, value) {
            return value
                .replace(/[^0-9]/g, "")// to allow number only, no -ve, no decimal
                ;
        });
    });

    $('#ownerNme').keyup(function (event) {
        // skip for arrow keys
        if (event.which >= 37 && event.which <= 40) return;
        // format number
        $(this).val(function (index, value) {
            return value
                 .replace(/[^A-Za-z ]/g, "") //allow only alphbet and spaces
                ;
        });
    });
    $('#ownerContact, #OwnerContact2').keyup(function (event) {
        // skip for arrow keys
        if (event.which >= 37 && event.which <= 40) return;
        // format number
        $(this).val(function (index, value) {
            return value
              .replace(/[^0-9-+ ]/g, "")// to allow number only, and dash
                ;
        });
    });
    // ownerMail ,
    $('#BuildUp, #LandArea').keyup(function (event) {
        // skip for arrow keys
        if (event.which >= 37 && event.which <= 40) return;
        // format number
        $(this).val(function (index, value) {
            return value
                .replace(/[^0-9.]/g, "")// to allow number only, and dot only
                .replace(/(\..*)\./g, '$1') //no more than 1 decimal point
                .replace(/(\.[\d]{2})./g, '$1')//no more than 2 deciaml places
                ;
        });
    });
    //-------------------------------------------------------ON CLICK PROPRTY TYPE
    $("#PropertyType").change(function () {

        var whole = document.getElementById("hideshow");// get div's id
        whole.style.display = "block";//change display -> block
        //clear all textbox, files input
        document.getElementById('UnitNo').value = "";
        document.getElementById('AdsTitle').value = "";
        document.getElementById('fileimg').value = "";//upload img file control
        if (fileBuffer.length > 0) {
            fileBuffer = []; //clear filebuffer array
            console.log("=>"+fileBuffer.length);
        }

        document.getElementById('fList').innerHTML = "";
        document.getElementById('attach').value = "";
        if (docBuffer.length > 0) {
            docBuffer = []; //clear filebuffer array
            console.log("=>" + docBuffer.length);
        }
        document.getElementById('attacherr').innerHTML = "";
        document.getElementById('ownerNme').value = "";
        document.getElementById('ownerContact').value = "";
        document.getElementById('ownerMail').value = "";
        document.getElementById('address').value = "";
        document.getElementById('ListingPrice').value = "";
        document.getElementById('SalePrice').value = "";
        document.getElementById('RentPrice').value = "";
        document.getElementById('room').value = "";

        document.getElementById('bathroom').value = "";
        document.getElementById('carpark').value = "";
        document.getElementById('Maintenance').value = "";
        document.getElementById('Sinking').value = "";
        document.getElementById('completionDate').value = "";
        document.getElementById('BuildUp').value = "";
        document.getElementById('LandArea').value = "";
        CKEDITOR.instances['description'].setData('');
        document.getElementById('remarks').value = ""; document.getElementById('ConditionErr').innerHTML = "";
        document.getElementById('AddressErr').innerHTML = ""; document.getElementById('UnitNoErr').innerHTML = "";
        document.getElementById('TenureErr').innerHTML = ""; document.getElementById('TitleErr').innerHTML = "";
        document.getElementById('areaerr').innerHTML = "";



        //dropdown
        $("#State")[0].selectedIndex = 0; $("#comboBoxArea")[0].selectedIndex = 0;

        $("#ListingType")[0].selectedIndex = 0;
        $("#other")[0].selectedIndex = 0;

        //checkbox
        $('input[type=checkbox]').prop('checked', false);

        //radio button
        $('input[type=radio]').prop('checked', false);
        //clear all err message
        document.getElementById('LandErr').innerHTML = ""; document.getElementById('BuildupErr').innerHTML = "";
        document.getElementById('CarparkErr').innerHTML = ""; document.getElementById('BathroomErr').innerHTML = "";
        document.getElementById('RoomErr').innerHTML = ""; document.getElementById('propertyerr').innerHTML = "";
        document.getElementById('AdsTitleErr').innerHTML = ""; document.getElementById('fileerr').innerHTML = "";
        document.getElementById('stateerr').innerHTML = ""; document.getElementById('listingterr').innerHTML = "";
        document.getElementById('ListingPriceErr').innerHTML = ""; document.getElementById('MaintenanceErr').innerHTML = "";
        document.getElementById('SinkingErr').innerHTML = ""; document.getElementById('ownerNmeErr').innerHTML = "";
     document.getElementById('ownerContactErr').innerHTML = "";   document.getElementById('ownerMailErr').innerHTML = "";


        var select = $('#PropertyType').val();//get dropdown selected value
        var x = document.getElementById("propertyType2div");//get div Id (to display or hide)

        var isLand = document.getElementById("isLand");// get div's id
        var notLand = document.getElementById("notLandrow");// get div's id
        var buildupdiv = document.getElementById("buildupdiv");// get div's id
        var attachmentdiv = document.getElementById("attachmentdiv");// get div's id
        var populateUrl = $("#populateUrl").val();
        //hide or show PropertyType2

        //hide or show Build up area or room no, bathroom no etc..
        if (select == "Industrial Land" || select == "Development Land" || select == "Agriculture Land") {
            //hide not-land related input
            buildupdiv.style.display = "none";
            notLandrow.style.display = "none";//change display -> block
            maintenancediv.style.display = "none";//hde maintenance div
            sinkingdiv.style.display = "none";//hide sinking div

            //display
            attachmentdiv.style.display = "";//show attachment div
            isLand.style.display = "";//show LandArea div
        }
        else {
            //hide land related input
            attachmentdiv.style.display = "none";//hide attachment div
            isLand.style.display = "none";//change display -> block

            //display
            buildupdiv.style.display = "";
            notLandrow.style.display = "";//change display -> block
            maintenancediv.style.display = "";//display maintenance div
            sinkingdiv.style.display = "";//display sinking div


        }

        if (select == "Bungalow" || select == "Semi Detached"
            || select == "Terrace House" || select == "Shop House") {
            //display
            x.style.display = "block";
            isLand.style.display = "";//show LandArea div
            $("#PropertyType2").empty();
            $.ajax({
                type: "post",
                dataType: "json",
               // url: '@Url.Action("populate", "Listing")', // "/Listing/Create"
                url: populateUrl,
                data: { selected: select },//insert formdata???
                success: function (sel) {
                    $.each(sel, function (i, sels) {
                        console.log("Success ");
                        $("#PropertyType2").append('<option value="' + sels.Value + '">' +
                            sels.Text + '</option>');
                        // here we are adding option for States
                    });
                },
                error: function (data) { //xhr, status, p3, p4
                    console.log("Err: ");

                }
            });//end $ajax
        }//end if
        else {
            x.style.display = "none";
            //$("#PropertyType2").empty();//This cause error
            $("PropertyType2").each(function () { this.selectedIndex = 0 });
        }//end else



    });
    //   when click UPLOAD button
    function loadimage() {
        document.getElementById('fileimg').click();
        document.getElementById('fileerr').innerHTML = "";//clear err
    }
    //   when click ATTACHMENT button
    function attachFileBtn() {
        document.getElementById('attach').click();
        document.getElementById('attacherr').innerHTML = "";//clear err
    }
    //-------------------------------------------------------If Listing Type: Rent & Sale is selected
    $("#ListingType").change(function () {

        //get listing type value
        var select = $('#ListingType').val();//get ListingType dropdown selected value
        if (select == "Rent & Sale") {
            //clear values on change
            document.getElementById('ListingPrice').value = "";
            //display the RentSaleDiv div
            var RentSalePriceDiv = document.getElementById("RentSalePriceDiv");
            RentSalePriceDiv.style.display = "block";
            //hide Listing Price
            var ListingPriceDiv = document.getElementById("ListingPriceDiv");
            ListingPriceDiv.style.display = "none";

        } else {
            //clear values on change
            document.getElementById('SalePrice').value = "";
            document.getElementById('RentPrice').value = "";
            //display the RentSaleDiv div
            var RentSalePriceDiv = document.getElementById("RentSalePriceDiv");
            RentSalePriceDiv.style.display = "none";
            //hide Listing Price
            var ListingPriceDiv = document.getElementById("ListingPriceDiv");
            ListingPriceDiv.style.display = "block";
        }
    });
    //-------------------------------------------------------when UPLOAD ATTACHMENT input
    var docBuffer = [];//for file/attachment
    //this is upoad file control onchange
    updateAttach = function () {


        var valAttach = [];//empty valAttach[] onload and again
        var input = document.getElementById('attach');// <input type="file" />
        var re = /(?:\.([^.]+))?$/;

        Array.prototype.push.apply(valAttach, input.files);//push bunch of files into valAttach[]
        for (var i = 0; i < valAttach.length; ++i) {//loop out each file
            var nam = valAttach[i].name;//get each file name and assign to var
            var extension = re.exec(nam)[1];//extract extension name
            extension = extension.toLowerCase(); //to prevent case like .jpg & .JPG
            //if file is jpg and png
            if (extension == "jpg" || extension == "png" || extension == "gif" || extension == "tif"
                || extension == "jpeg") {
                //do nothing
            }//end if
            else {
                docBuffer.push(valAttach[i]);//push not-img-file into docBuffer arr
            }


        }

        document.getElementById('attach').value = "";//clear file control: upload attachment
 // Append/Add the whole file list into an array
        document.getElementById('docList').innerHTML = "";//clear previousdoc details
        for (var i = 0; i < docBuffer.length; ++i) {
            ReadDoc(docBuffer[i], i);//Read document details
        }
    }//end updateList()

    //-------------------------------------------------------Display file/attachment
    var ReadDoc = function (file, i) {

        var span = document.createElement('span');
        span.innerHTML = ['<div class="row"><div>', file.name, '</div>',
            '<span id="', i, '" class="remove_file_preview"></span></div>'].join('');
        document.getElementById('docList').insertBefore(span, null);

    }
    //-------------------------------------------------------REMOVE File/Attachment
    $('#docList').on('click', '.remove_file_preview', function () {
        console.log("deleted file frm array");
        //clear previous added image
        document.getElementById('docList').innerHTML = "";
        //get Id
        var indexToDel = $(this).attr('id');//id is string

        var b = parseInt(indexToDel);
        docBuffer.splice(indexToDel, 1);
        for (var i = 0; i < docBuffer.length; ++i) {
            ReadDoc(docBuffer[i], i);//ReadDoc() again
        }

    });
    //-------------------------------------------------------when UPLOAD IMG file input
    //declare array
    var fileBuffer = [];//for img

    updateList = function () {
        var valImg = [];//empty valImg[] onload and again
        var input = document.getElementById('fileimg');// <input type="file" />
        var output = document.getElementById('fileList');// <output>


        /*validate files type*/
        var re = /(?:\.([^.]+))?$/;
        Array.prototype.push.apply(valImg, input.files);//push bunch of files into valImg[]

        for (var i = 0; i < valImg.length; ++i) {//loop out each file
            var nam = valImg[i].name;//get each file name and assign to var
            var extension = re.exec(nam)[1];//extract extension name
            extension = extension.toLowerCase(); //to prevent case like .jpg & .JPG
            //if file is jpg and png
            if (extension == "jpg" || extension == "png" || extension == "gif" || extension == "tif"
                || extension == "jpeg") {
                fileBuffer.push(valImg[i]);//push to fileBuffer[]
            }//end if
        }
        // Append/Add the whole file list into an array


        document.getElementById('fileimg').value = "";//clear file control: upload image

          //Array.prototype.push.apply(fileBuffer, input.files);
        document.getElementById('fList').innerHTML = "";//clear previous added image
        for (var i = 0; i < fileBuffer.length; ++i) {
            ReadImage2(fileBuffer[i], i);//ReadImage2() ; read image
        }
    }//end updateList()

    //-------------------------------------------------------Display img function
    var ReadImage2 = function (file, i) {
        var reader = new FileReader;
        var image = new Image;

        reader.readAsDataURL(file);
        reader.onload = function (_file) {

            image.src = _file.target.result;
            image.onload = function () {

                var span = document.createElement('span');
                span.innerHTML = ['<img class="thumb" src="', _file.target.result
                    , '" /><span id="', i, '" class="remove_img_preview"></span>'].join('');
                document.getElementById('fList').insertBefore(span, null);
            }//end image.onload
        }
    }

    //-------------------------------------------------------REMOVE IMAGE
    $('#fList').on('click', '.remove_img_preview', function () {

        //clear previous added image
        document.getElementById('fList').innerHTML = "";
        //get Id
        var indexToDel = $(this).attr('id');//id is string

        var b = parseInt(indexToDel);
        fileBuffer.splice(indexToDel, 1);


        for (var i = 0; i < fileBuffer.length; ++i) {
            console.log("IMG deleted frm array");
            ReadImage2(fileBuffer[i], i);//ReadImage again
        }

    });

    //-------------------------------------------------------CRAETE BUTTON -> ASSIGN IMAGE, validate

  $("#createbtn").click(function () {

        var c = fileBuffer.length;//upload img input
        var docInput = docBuffer.length;//upload file input
        var token = 0;
        var landproperty = 0;//check if land property is selected or not

        var select = $('#PropertyType').val();//get dropdown selected value
        if (select == "Industrial Land" || select == "Development Land" || select == "Agriculture Land") {

            landproperty = 1;

            //if ($('#LandArea').val() == "") {//
            //    document.getElementById('LandErr').innerHTML = "Require Land Area";
            //    token = 1;
            //} else { document.getElementById('LandErr').innerHTML = ""; }

            //if (docInput == 0) {//check atcchement
            //    document.getElementById('attacherr').innerHTML = "You need to upload attachment!!!";
            //    token = 1;
            //} else { document.getElementById('attacherr').innerHTML = ""; }
        } else {//validate if not-land  are selected -> display error or clear error


            //if ($('#BuildUp').val() == "") {//
            //    document.getElementById('BuildupErr').innerHTML = "Require Build Up Area";
            //    token = 1;
            //} else { document.getElementById('BuildupErr').innerHTML = ""; }
             //disable empty validation in carpark, bathroom, room, sinking, maintenance
            //if ($('#carpark').val() == "") {
            //    document.getElementById('CarparkErr').innerHTML = "Require Carpark No";
            //    token = 1;
            //} else { document.getElementById('CarparkErr').innerHTML = ""; }
            //if ($('#bathroom').val() == "") {
            //    document.getElementById('BathroomErr').innerHTML = "Require Bathroom No";
            //    token = 1;
            //} else { document.getElementById('BathroomErr').innerHTML = ""; }
            //if ($('#room').val() == "") {
            //    document.getElementById('RoomErr').innerHTML = "Require Room No";
            //    token = 1;
            //} else { document.getElementById('RoomErr').innerHTML = ""; }
            //if ($('#Sinking').val() == "") {
            //    document.getElementById('SinkingErr').innerHTML = "Require Sinking Fund";
            //    token = 1;
            //} else { document.getElementById('SinkingErr').innerHTML = ""; }
            //if ($('#Maintenance').val() == "") {
            //    document.getElementById('MaintenanceErr').innerHTML = "Require Maintenance Fee";
            //    token = 1;
            //} else { document.getElementById('MaintenanceErr').innerHTML = ""; }

        }//end else


        //if (c == 0) {//check img file
        //    document.getElementById('fileerr').innerHTML = "You need to insert image!!!";
        //    token = 1;
        //} else { document.getElementById('fileerr').innerHTML = ""; }

        //display error if have error else clear error message
        if ($('#PropertyType').val() == "") {
            document.getElementById('propertyerr').innerHTML = "Require Property Type";
            token = 1;
        } else { document.getElementById('propertyerr').innerHTML = ""; }

        if ($('#State').val() == "") {
            document.getElementById('stateerr').innerHTML = "Require State";
            token = 1;
        } else { document.getElementById('stateerr').innerHTML = ""; }

        if ($('#comboBoxArea').val() == "") {
            document.getElementById('areaerr').innerHTML = "Require Area";
            token = 1;
        } else { document.getElementById('areaerr').innerHTML = ""; }

        if ($('#ListingType').val() == "") {//radio butoon, validation not working
            document.getElementById('listingterr').innerHTML = "Require Listing Type";
            token = 1;
        } else { document.getElementById('listingterr').innerHTML = ""; }

      var select = $('#ListingType').val();//get ListingType dropdown selected value
      if (select == "Rent & Sale") {
          if ($('#RentPrice').val() == "") {
              document.getElementById('RentSalePriceErr').innerHTML = "Require Both Price";
              token = 1;
          } else { document.getElementById('RentSalePriceErr').innerHTML = ""; }

          if ($('#SalePrice').val() == "") {
              document.getElementById('RentSalePriceErr').innerHTML = "Require Both Price";
              token = 1;
          } else { document.getElementById('RentSalePriceErr').innerHTML = ""; }
      } else {
          if ($('#ListingPrice').val() == "") {
              document.getElementById('ListingPriceErr').innerHTML = "Require Price";
              token = 1;
          } else { document.getElementById('ListingPriceErr').innerHTML = ""; }
      }




        if ($('#AdsTitle').val() == "" || $('#AdsTitle').val().trim() == "") {
            document.getElementById('AdsTitleErr').innerHTML = "Require AdsTitle";
            token = 1;
        } else { document.getElementById('AdsTitleErr').innerHTML = ""; }

        if ($('#ownerNme').val() == "" || $('#ownerNme').val().trim() == "") {
            document.getElementById('ownerNmeErr').innerHTML = "Require Owner Name";
            token = 1;
        } else { document.getElementById('ownerNmeErr').innerHTML = ""; }

        if ($('#ownerContact').val() == "" || $('#ownerContact').val().trim() == "") {
            document.getElementById('ownerContactErr').innerHTML = "Require Owner's Contact";
            token = 1;
        } else { document.getElementById('ownerContactErr').innerHTML = ""; }

        if ($('#UnitNo').val() == "" || $('#UnitNo').val().trim() == "") {
            document.getElementById('UnitNoErr').innerHTML = "Require Unit Number";
            token = 1;
        } else {
            document.getElementById('UnitNoErr').innerHTML = "";
        }
        if ($('#address').val() == "" || $('#address').val().trim() == "") {
            document.getElementById('AddressErr').innerHTML = "Require Owner's Address";
            token = 1;
        } else {
            document.getElementById('AddressErr').innerHTML = "";
        }
        /*validate checkbox*/
        var chks = document.getElementsByName('cond_chck');
        var hasChecked = false;
        for (var i = 0; i < chks.length; i++) {
            if (chks[i].checked) {
                hasChecked = true; document.getElementById('ConditionErr').innerHTML = "";
            }
        }
        if (hasChecked == false) {
            document.getElementById('ConditionErr').innerHTML = "Please select at least one Condition";
            token = 1;
        }
        //end validate checkbox
        /*validate radiobutton (TENURE)*/
            //var rbtDetail = document.getElementsByName("tenure");
            //var isValid = false;
            //for (var i = 0; i < rbtDetail.length; i++) {
            //    if (rbtDetail[i].checked) {
            //        isValid = true;

            //    }
            //}
            //if (isValid == true) {
            //    document.getElementById('TenureErr').innerHTML = "";

            //}
            //else {
            //    document.getElementById('TenureErr').innerHTML = "Require Tenure";
            //    token = 1;
            //}
        //end validate radiobutton
        //validate radiobutton (TITLE)
            //var rbtDetail = document.getElementsByName("title");
            //var isValid = false;
            //for (var i = 0; i < rbtDetail.length; i++) {
            //    if (rbtDetail[i].checked) {
            //        isValid = true;

            //    }
            //}
            //if (isValid == true) {
            //    document.getElementById('TitleErr').innerHTML = "";

            //}
            //else {
            //    document.getElementById('TitleErr').innerHTML = "Require title";
            //    token = 1;
            //}
        //end validate radiobutton

        if (token == 1) {

            document.documentElement.scrollTop = 0;//jump back to top of page. This gave user the illusion tat error is detected

            return false;
        } else{

            //post selected btn to hidden textbox. Note: this will determine if the data is draft or create when submit to controller
            $("#clickedBtn").val("Create");
            //Upload file
            var formData2 = new FormData();
            for (var i = 0; i < docBuffer.length; i++) {
                formData2.append("attachment", docBuffer[i]);//append docBuffer to formdata
                }

             //-------------------

//upload image

        var formData = new FormData();

        for (var i = 0; i < c; i++) {
            formData.append("image", fileBuffer[i]);//append to formdata
        }

        $.ajax({
            type: "post",
            dataType: "json",
            url: '@Url.Action("saveImage", "Listing")',
            traditional: true,
            data: formData,//insert formdata???
            processData: false,
            contentType: false,
            success: function (data) {
                console.log("Image is Success");
                console.log("Create() Img -> " + data);
         // ------document.getElementById('imgguidNme').value = data;
                if (landproperty == 1) {
                    $.ajax({
                        type: "post",
                        dataType: "json",
                        url: '@Url.Action("saveDoc", "Listing")',//upload document url
                        traditional: true,
                        data: formData2,//insert formdata2
                        processData: false,
                        contentType: false,
                        success: function (data) {
                            //read array image -> display
                            //document.getElementById('fList').innerHTML = data;
                            console.log("Create() FIle ->" + data);
                            $('form#form-submit').submit();//submitform
                        },
                        error: function (x, e) { //xhr, status, p3, p4

                            if (x.status == 0) {
                                console.log('UploadFile: You are offline!!\n Please Check Your Network.');
                            } else if (x.status == 404) {
                                console.log('UploadFile: Requested URL not found.');
                            } else if (x.status == 500) {
                                console.log('UploadFile: Internel Server Error.');
                            } else if (e == 'parsererror') {
                                console.log('UploadFile: Error.\nParsing JSON Request failed.');
                            } else if (e == 'timeout') {
                                console.log('UploadFile: Request Time out.');
                            } else {
                                console.log('UploadFile: Unknow Error.\n' + x.responseText);
                            }
                        }
                    });//end upload file $ajax
                }//end if land property
                else {
                    $('form#form-submit').submit();//submitform
                }
                //---------------------------------
            },
            error: function (x, e) { //xhr, status, p3, p4

                if (x.status == 0) {
                    console.log('IMG: You are offline!!\n Please Check Your Network.');
                } else if (x.status == 404) {
                    console.log('Requested URL not found.');
                } else if (x.status == 500) {
                    console.log('Internel Server Error.');
                } else if (e == 'parsererror') {
                    console.log('Error.\nParsing JSON Request failed.');
                } else if (e == 'timeout') {
                    console.log('Request Time out.');
                } else {
                    console.log('Unknow Error.\n' + x.responseText);
                }

            }
        });//end upload image $ajax



        /*
            if (window.FormData !== undefined) {

            } else {
            alert("This browser doesn't support HTML5 file uploads!");
            }

        */
        }//end else
 });//end create button

//---------------------------------------Draft button--------------
    $("#draftbtn").click(function () {

        var c = fileBuffer.length;//upload img input
        var docInput = docBuffer.length;//upload file input

        var landproperty = 0;//check if land property is selected or not

        var select = $('#PropertyType').val();//get dropdown selected value
        if (select == "Industrial Land" || select == "Development Land" || select == "Agriculture Land") {

            landproperty = 1;
        }

        //post selected btn to hidden textbox. Note: this will determine if the data is draft or create when submit to controller
        $("#clickedBtn").val("Draft");
        //if number of document and image = 0


            //Upload file
            var formData2 = new FormData();
            for (var i = 0; i < docBuffer.length; i++) {
                formData2.append("attachment", docBuffer[i]);//append docBuffer to formdata
                }


            //upload image

            var formData = new FormData();

            for (var i = 0; i < c; i++) {
                formData.append("image", fileBuffer[i]);//append to formdata
            }

            $.ajax({
                type: "post",
                dataType: "json",
                url: '@Url.Action("saveImage", "Listing")',
                traditional: true,
                data: formData,//insert formdata???
                processData: false,
                contentType: false,
                success: function (data) {
                    console.log("Image is Success");
                    console.log("Create() Img -> " + data);
                    // ------document.getElementById('imgguidNme').value = data;
                    if (landproperty == 1) {
                        $.ajax({
                            type: "post",
                            dataType: "json",
                            url: '@Url.Action("saveDoc", "Listing")',//upload document url
                            traditional: true,
                            data: formData2,//insert formdata2
                            processData: false,
                            contentType: false,
                            success: function (data) {
                                //read array image -> display
                                //document.getElementById('fList').innerHTML = data;
                                console.log("Create() FIle ->" + data);

                                $('form#form-submit').submit();//submitform
                            },
                            error: function (x, e) { //xhr, status, p3, p4

                                if (x.status == 0) {
                                    console.log('UploadFile: You are offline!!\n Please Check Your Network.');
                                } else if (x.status == 404) {
                                    console.log('UploadFile: Requested URL not found.');
                                } else if (x.status == 500) {
                                    console.log('UploadFile: Internel Server Error.');
                                } else if (e == 'parsererror') {
                                    console.log('UploadFile: Error.\nParsing JSON Request failed.');
                                } else if (e == 'timeout') {
                                    console.log('UploadFile: Request Time out.');
                                } else {
                                    console.log('UploadFile: Unknow Error.\n' + x.responseText);
                                }
                            }
                        });//end upload file $ajax
                    }//end if land property
                    else {

                        $('form#form-submit').submit();//submitform
                    }
                    //---------------------------------
                },
                error: function (x, e) { //xhr, status, p3, p4

                    if (x.status == 0) {
                        console.log('IMG: You are offline!!\n Please Check Your Network.');
                    } else if (x.status == 404) {
                        console.log('Requested URL not found.');
                    } else if (x.status == 500) {
                        console.log('Internel Server Error.');
                    } else if (e == 'parsererror') {
                        console.log('Error.\nParsing JSON Request failed.');
                    } else if (e == 'timeout') {
                        console.log('Request Time out.');
                    } else {
                        console.log('Unknow Error.\n' + x.responseText);
                    }

                }
            });//end upload image $ajax



    });//end create button
</script>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")

}

<!-- Jquery JS-->
<script src="~/CoolAdmin-master/vendor/jquery-3.2.1.min.js"></script>

<!-- Bootstrap JS-->
<script src="~/CoolAdmin-master/vendor/bootstrap-4.1/popper.min.js"></script>
<script src="~/CoolAdmin-master/vendor/bootstrap-4.1/bootstrap.min.js"></script>

<!-- Vendor JS       -->
<script src="~/CoolAdmin-master/vendor/slick/slick.min.js"></script>
<script src="~/CoolAdmin-master/vendor/wow/wow.min.js"></script>
<script src="~/CoolAdmin-master/vendor/animsition/animsition.min.js"></script>
<script src="~/CoolAdmin-master/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
<script src="~/CoolAdmin-master/vendor/counter-up/jquery.waypoints.min.js"></script>
<script src="~/CoolAdmin-master/vendor/counter-up/jquery.counterup.min.js"></script>
<script src="~/CoolAdmin-master/vendor/circle-progress/circle-progress.min.js"></script>
<script src="~/CoolAdmin-master/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
<script src="~/CoolAdmin-master/vendor/chartjs/Chart.bundle.min.js"></script>
<script src="~/CoolAdmin-master/vendor/select2/select2.min.js"></script>

<!-- Main JS-->
<script src="~/CoolAdmin-master/js/main.js"></script>
