﻿@model IEnumerable<ZeonPropertiesListing.Models.L_ListingTbl>

@{
    ViewBag.Title = "myDraft";
    //Html.Partial("_checkLogin");

    var str = Session["isLoginID"];
    ViewBag.Id = str.ToString();
}

@{

    Layout = "~/Views/Shared/DashboardLayout.cshtml";
}

<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<!-- Fontfaces CSS-->

<link href="~/CoolAdmin-master/css/font-face.css" rel="stylesheet" />
<link href="~/CoolAdmin-master/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/CoolAdmin-master/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" />
<link href="~/CoolAdmin-master/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" />

<!-- Bootstrap CSS-->
<link href="~/CoolAdmin-master/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" />


<!-- Vendor CSS-->
<link href="~/CoolAdmin-master/vendor/animsition/animsition.min.css" rel="stylesheet" />
<link href="~/CoolAdmin-master/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" />
<link href="~/CoolAdmin-master/vendor/wow/animate.css" rel="stylesheet" />
<link href="~/CoolAdmin-master/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" />
<link href="~/CoolAdmin-master/vendor/slick/slick.css" rel="stylesheet" />
<link href="~/CoolAdmin-master/vendor/select2/select2.min.css" rel="stylesheet" />
<link href="~/CoolAdmin-master/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" />


<!-- Main CSS-->
<link href="~/CoolAdmin-master/css/theme.css" rel="stylesheet" />
@*<link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />*@

<div class="page-wrapper">
    <div class="page-container">

        <div class="main-content" style="margin-left:15px;padding-top:20px">
            <h2>My Draft</h2>

            <p>
                @Html.ActionLink("Create New", "Create")
            </p>

            <br /><br /><br />


            @foreach (var item in Model)
            {


                <div class="row" style="border-style: solid; border-width: 2px; border-color: coral;">
                    <div class="col-md-10">

                        @{
                            if (string.IsNullOrEmpty(item.AdsTitle))
                            {
                                <strong><span style="color:gray">[NO TITLE]</span> </strong>
                            }
                            else
                            {
                                @Html.DisplayFor(modelItem => item.AdsTitle)
                            }
                        }


                        <strong>
                            (
                            @if (string.IsNullOrEmpty(item.PropertyType))
                            {
                                <strong><span style="color:gray">[No Property Type]</span> </strong>
                            }
                            else
                            {
                                @Html.DisplayFor(modelItem => item.PropertyType)
                            }
                            )
                        </strong>


                        <p>  @Html.DisplayFor(modelItem => item.AddedDate) &nbsp; | &nbsp; @Html.DisplayFor(modelItem => item.Agent)</p>
                    </div>
                    <div class="col-md-2">
                        <div class="row">
                            <div class="col">  @Html.ActionLink("Edit", "Draft", new { id = item.Id }) </div>|
                            <div class="col">
                                @using (Html.BeginForm())
                                {
                                    //this is a button, style and become hyperlink
                                    @*<button type="submit" formaction="/Listing/Delete" value="@item.Id" name="deldraft"
                                                class="btn btn-link" role="link"
                                                style="height: 10px; line-height: 1.4px; margin-top:-5px; font-weight:500;">
                                            Delete
                                        </button>*@

                                    <a class="modal-trigger" href="#" data-toggle="modal"
                                       value="@item.Id" onclick="passToModal(this)" data-target="#myModal">Delete</a>
                                }

                            </div>
                        </div>



                    </div>

                </div>

            }


            @* MODAL STRUCTURE *@
            <div class="modal fade" id="myModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div style="background-color:salmon;" class="modal-header">

                            <h3 style="color:white;">Delete Listing</h3><a href="#" class="close" data-dismiss="modal"> &times; </a>
                        </div>
                        <div class="modal-body">
                            <h4>Are you sure you want to delete this Draft? </h4>
                            <br />
                            Any images and attachment uploaded in this Draft will be removed.
                            <input style="display:none;" type="text" id="listingIdd" />
                        </div> @* end modal-body *@
                        <div class="modal-footer">
                            <a href="#" class="btn btn-danger" data-dismiss="modal"> Cancel </a>
                            <input type="submit" value="Confirm" class="btn btn-success" id="btnSubmit" />
                        </div> @* end modal-footer *@

                    </div> @* end modal-content *@
                </div>
            </div>

            @Html.Hidden("delListing", Url.Action("Delete", "Listing")) @* pass to script *@


        </div>
    </div>
</div>
<!-- END MAIN CONTENT-->

<noscript>

    <meta http-equiv="refresh" content="0;URL=http://42.1.63.244/Listing/NoJS" />


</noscript>
<script type="text/javascript">
    //pass ID from button to modal when onclick delete link
    function passToModal(lnk) {
        var val = lnk.getAttribute('value');//get vaue from delete link
        document.getElementById('listingIdd').value = val;//display in textbox in modal
    }

    //Modal's Confirm button: get ID from button -> delete
    $("#btnSubmit").click(function () {

        var urlurl = $("#delListing").val();//get url
        var listingId = $("#listingIdd").val();//get id

        $.ajax({
            type: "POST",
            url: urlurl,
            data: { id: listingId },
            success: function () {
                $("#myModal").modal("hide");
                console.log("Success delete");
                location.reload();//reload page
            },
            error: function (x, e) { //xhr, status, p3, p4

                if (x.status == 0) {
                    console.log('You are offline!!\n Please Check Your Network.');
                } else if (x.status == 404) {
                    console.log('Requested URL not found.');
                } else if (x.status == 500) {
                    console.log('Internel Server Error.');
                } else if (e == 'parsererror') {
                    console.log('Error.\nParsing JSON Request failed.');
                } else if (e == 'timeout') {
                    console.log('Request Time out.');
                } else {
                    console.log('Unknow Error.\n' + x.responseText);
                }
            }

        })
    })//end btnSubmit
</script>



